<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Ensuring Long-Term Sustainability of Environmental Data</span></a><ul class="btn-toggle-nav"></ul>
</div></aside><main class="main-tutorial">
<h1 id="ensuring-long-term-sustainability-of-environmental-data">Ensuring Long-Term Sustainability of Environmental Data</h1>

<p>The Environmental Data Initiative (EDI) is deeply committed to the long-term sustainability of the ecological and environmental data entrusted to our care. As our community grows, both in the diversity of scientists we serve and the increasing reliance on our data services, so too does our responsibility to ensure the enduring availability, integrity, and utility of these valuable scientific assets. Sustaining data for the long haul is central to EDI’s mission and essential to the future of science. In partnership with our funders and collaborators, we are advancing this commitment through three core operational priorities:</p>
<ul>
<li>
<p><strong>Organizational Autonomy</strong> - EDI has recently been incorporated as a 501(c)(3) organization under the <em>Environmental Data Institute</em>. EDI (<em>the institute</em>) is a non-profit, non-partisan, and non-governmental organization focused on preserving environmental and ecological data. The autonomy of EDI (<em>the institute</em>) ensures that changes in governmental policies or priorities affecting governmental agencies cannot unilaterally impact our operations or the security of the data we maintain. However, while not directly subject to governmental policies, our operations must nonetheless comply with all applicable local, state, and federal laws.</p>
</li>
<li>
<p><strong>Financial Diversification</strong> - EDI is actively diversifying its funding sources to ensure financial sustainability for the present and future. A diversified funding portfolio also ensures operational stability when specific sectors become unstable. We are working with the U.S. National Science Foundation, municipal partners like the City of Seattle, and philanthropic donors to develop new and creative approaches to sustain EDI’s mission of preserving and making environmental data accessible.</p>
</li>
<li>
<p><strong>Data Preservation, Access, and Enduring Reuse:</strong> For a decade, EDI has prioritized data preservation, access, and reuse by including rich metadata, in community-supported open formats, with all datasets published in our repository. This high-quality metadata ensures the long-term integrity and usability of the data by detailing their origin, content, meaning, and physical characteristics. The EDI repository provides robust access to datasets and is replicated across multiple systems. Our commitment to data persistence means that, in the event of unforeseen disruptions to our operations, <em>EDI is prepared for migration of datasets to other established environmental and ecological data repositories, assuring their continued availability for research and other applications.</em></p>
</li>
</ul>
<p>Our commitment to data preservation remains steadfast. We will continue to innovate and adapt to ensure that ecological and environmental data curated by EDI endure for generations to come.</p>
</main>
</div>
</div>
</div>