<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">EDI Affiliations</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#community-organizations">Community Organizations</a></li>
<li><a class="link-dark rounded text-muted" href="#academic-institutions">Academic Institutions</a></li>
<li><a class="link-dark rounded text-muted" href="#government-agencies">Government Agencies</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="edi-affiliations">EDI Affiliations</h1>

<p>At the Environmental Data Initiative, we believe in the power of collaboration to advance environmental science and decision-making. By partnering with leading organizations worldwide, we work together to:</p>
<ul>
<li>Enhance the quality and accessibility of environmental data.</li>
<li>Foster innovative research and scientific discovery.</li>
<li>Promote sustainable practices and environmental stewardship.</li>
</ul>
<p>To learn more about our partnerships and collaborations, please contact us at <a href="mailto:info@edirepository.org">info@edirepository.org</a>.</p>
<h2 id="community-organizations">Community Organizations</h2>
<p><br/></p>
<p><img alt="The US LTER Network Logo" src="/static/images/lter-logo.svg" width="40%"/></p>
<p>The US LTER Network was founded in 1980 by the National Science Foundation with the recognition that long-term research could help unravel the principles and processes of ecological science, which frequently involves long-lived species, legacy influences, and rare events. As policymakers and resource managers strive to incorporate reliable science in their decision-making, the LTER Network works to generate and share useful and usable information.
<a href="https://lternet.edu/" rel="noopener noreferrer" target="_blank">Learn more about the US LTER Network.</a></p>
<p><br/></p>
<p><img alt="The National Ecological Observatory Network Logo" src="/static/images/neon-logo.png" width="30%"/></p>
<p>The National Ecological Observatory Network (NEON) is a continental-scale observation facility operated by Battelle and designed to collect long-term open access ecological data to better understand how U.S. ecosystems are changing.
<a href="https://data.neonscience.org/" rel="noopener noreferrer" target="_blank">Learn more about NEON.</a></p>
<p><br/></p>
<p><img alt="The DataONE Network Logo" src="/static/images/dataone-logo.png" width="25%"/></p>
<p>DataONE is a community driven program providing access to data across multiple member repositories, supporting enhanced search and discovery of Earth and environmental data. DataONE promotes best practices in data management through responsive educational resources and materials. We envision researchers, educators, and the public using DataONE to better understand and conserve life on earth and the environment that sustains it.
<a href="https://www.dataone.org/" rel="noopener noreferrer" target="_blank">Learn more about DataONE.</a></p>
<p><br/></p>
<p><img alt="The Earth Science Information Partners Logo" src="/static/images/esip-logo.png" width="15%"/></p>
<p>The Earth Science Information Partners (ESIP) is a home for Earth science data professionals. As a nonprofit funded by cooperative agreements with NASA, NOAA, and USGS, we bring together interdisciplinary collaborations to share technical knowledge and engage with data users.
<a href="https://www.esipfed.org/" rel="noopener noreferrer" target="_blank">Learn more about ESIP.</a></p>
<p><br/></p>
<p><img alt="The Ecological Society of America Logo" src="/static/images/esa-logo.png" width="15%"/></p>
<p>The Ecological Society of America (ESA) is a nonpartisan, nonprofit organization of scientists founded in 1915 to: promote ecological science by improving communication among ecologists; raise the public’s level of awareness of the importance of ecological science; increase the resources available for the conduct of ecological science; and ensure the appropriate use of ecological science in environmental decision making by enhancing communication between the ecological community and policy-makers.
<a href="https://www.esa.org/" rel="noopener noreferrer" target="_blank">Learn more about ESA.</a></p>
<p><br/></p>
<p><img alt="The CoreTrustSeal Logo" src="/static/images/coretrustseal-logo.png" width="12%"/></p>
<p>CoreTrustSeal is an international, community based, non-governmental, and non-profit organization promoting sustainable and trustworthy data infrastructures. To manage its finances, CoreTrustSeal is a legal entity under Dutch law (CoreTrustSeal Foundation Statutes and CoreTrustSeal Foundation Rules of Procedure) governed by a Standards and Certification Board composed of 12 elected members representing the Assembly of Reviewers.
<a href="https://www.coretrustseal.org/" rel="noopener noreferrer" target="_blank">Learn more about CoreTrustSeal.</a></p>
<p><br/></p>
<p><img alt="The DataCite Logo" src="/static/images/datacite-logo.png" width="25%"/></p>
<p>DataCite is a leading global non-profit organization that provides persistent identifiers (specifically
DOIs) for research data and other research outputs. Organizations within the research community join
DataCite as members to assign DOIs to all their research outputs. This allows their outputs to become
discoverable, citable, and connected. Associated metadata is made available to the community and
DataCite develops additional services to connect and share research outputs with the broader research
ecosystem.
<a href="https://support.datacite.org/" rel="noopener noreferrer" target="_blank">Learn more about DataCite.</a></p>
<p><br/></p>
<h2 id="academic-institutions">Academic Institutions</h2>
<p><br/></p>
<p><img alt="The University of Wisconsin-Madison" src="/static/images/uwm-logo.png" width="30%"/></p>
<p>Since its founding in 1848, the University of Wisconsin (UW) has been a catalyst for the extraordinary. As a public land-grant university and major research institution, our students, staff, and faculty engage in a world-class education while solving real-world problems. With public service — or as we call it, the Wisconsin Idea — as our guiding principle, Badgers are creating a better future for everyone.
<a href="https://www.wisc.edu/" rel="noopener noreferrer" target="_blank">Learn more about UW.</a></p>
<p><br/></p>
<p><img alt="The University of New Mexico Logo" src="/static/images/unm-logo.png" width="30%"/></p>
<p>Founded in 1889 as New Mexico’s flagship institution, The University of New Mexico (UNM) now occupies nearly 800 acres near old Route 66 in the heart of Albuquerque, a metropolitan area of more than 900,000 people. From the magnificent mesas to the west, past the banks of the historic Rio Grande to the Sandia Mountains to the east, Albuquerque is a blend of culture and cuisine, styles and stories, people, pursuits and panoramas.</p>
<p>Offering a distinctive campus environment with a Pueblo Revival architectural theme, the campus buildings echo nearby Pueblo Indian villages. The nationally recognized campus arboretum and the popular duck pond offer an outstanding botanical experience in the midst of one of New Mexico's great public open spaces.
<a href="https://www.unm.edu/" rel="noopener noreferrer" target="_blank">Learn more about UNM.</a></p>
<p><br/></p>
<p><img alt="The New Mexico State University Logo" src="/static/images/nmsu-logo.png" width="10%"/></p>
<p>We are New Mexico’s land-grant institution and a comprehensive research university dedicated to teaching, research public service and outreach at all levels. NMSU is a welcoming community of talented faculty, staff and students who are working together to make a difference. We are a NASA Space Grant College, a Hispanic-serving institution (HSI), a minority-serving institution (MSI) and home to the first Honors College in New Mexico. We offer an accessible education that shapes bright futures.
<a href="https://nmsu.edu/" rel="noopener noreferrer" target="_blank">Learn more about NMSU.</a></p>
<p><br/></p>
<h2 id="government-agencies">Government Agencies</h2>
<p><br/></p>
<p><img alt="The U.S. National Science Foundation" src="/static/images/nsf_logo.png" width="15%"/></p>
<p>The U.S. National Science Foundation (NSF) is an independent federal agency that supports science and engineering in all 50 states and U.S. territories. NSF was established in 1950 by Congress to: Promote the progress of science; Advance the national health, prosperity and welfare; Secure the national defense. We fulfill our mission chiefly by making grants. Our investments account for about 25% of federal support to America's colleges and universities for basic research: research driven by curiosity and discovery. We also support solutions-oriented research with the potential to produce advancements for the American people.
<a href="https://www.nsf.gov/" rel="noopener noreferrer" target="_blank">Learn more about NSF.</a></p>
<p><br/></p>
</main>
</div>
</div>
</div>