<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
<!--        <div class="main_content"> -->
        <div class="basic-inner">
            <h1>Team</h1>
            <p>Environmental knowledge through quality data</p>

            <h3>8 highly skilled members</h3>
	    <p><a href="/about/edi/team">Mark Servilla</a></p>
        </div>
<!--?        EDITABLE CONTENT GOES HERE /\/\/\-->

    </div>
</div>
