<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="sidebar-inner">
<div class="container">
<aside class="sidebar"><div class="sticky-sm-top"><div class="sticky-md-top"><div class="sticky-lg-top"><div class="sticky-xl-top">
<ul>
<li><a href="#partners">Partners</a></li>
<li><a href="#affiliations">Affiliations</a></li>
<li><a href="#search-engines">Search Engines</a></li>
<li><a href="#registered">Registered</a></li>
<li><a href="#users">Users</a></li>
</ul>
</div></div></div></div></aside><main class="main-tutorial">
<h1 id="partners-and-affiliations">Partners and Affiliations</h1>

<h2 id="partners">Partners</h2>
<p>We are proud to be in partnership with the following organizations:</p>
<h2 id="affiliations">Affiliations</h2>
<p>We are proud to be affiliated with the following organizations:</p>
<h2 id="search-engines">Search Engines</h2>
<p>Data published in the EDI Data Repository can be searched at:</p>
<h2 id="registered">Registered</h2>
<p>We are proud to be registered with:</p>
<h2 id="users">Users</h2>
<p>We are proud to support:</p>
</main>
</div>
</div>
</div>
</div>