<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Partners and Affiliations</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#partners">Partners</a></li>
<li><a class="link-dark rounded text-muted" href="#affiliations">Affiliations</a></li>
<li><a class="link-dark rounded text-muted" href="#search-engines">Search Engines</a></li>
<li><a class="link-dark rounded text-muted" href="#registered">Registered</a></li>
<li><a class="link-dark rounded text-muted" href="#users">Users</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="partners-and-affiliations">Partners and Affiliations</h1>

<h2 id="partners">Partners</h2>
<p>We are proud to be in partnership with the following organizations:</p>
<h2 id="affiliations">Affiliations</h2>
<p>We are proud to be affiliated with the following organizations:</p>
<h2 id="search-engines">Search Engines</h2>
<p>Data published in the EDI Data Repository can be searched at:</p>
<h2 id="registered">Registered</h2>
<p>We are proud to be registered with:</p>
<h2 id="users">Users</h2>
<p>We are proud to support:</p>
</main>
</div>
</div>
</div>