<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="main-content">
            <h1>Team</h1>
            <p>Environmental knowledge through quality data</p>

            <h1>8 members</h1>
            <p>highly skilled</p>
	    <p><a href="/about/team/mark-servilla">Mark Servilla</a></p>
        </div>
<!--?        EDITABLE CONTENT GOES HERE /\/\/\-->

    </div>
</div>
