#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
:Mod: config.py

:Synopsis:

:Author:
    servilla

:Created:
    2/14/22
"""


class Config:
    LOGFILE = "PATH TO LOGFILE"
    CACHE = "PATH TO CONTENT AND INDEX CACHE DIRECTORY"