aiofiles==0.6.0
certifi==2020.12.5
Chameleon==3.6.2
click==7.1.2
fastapi==0.65.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httpcore==0.13.3
httptools==0.1.1
httpx==0.18.1
hyperframe==6.0.1
idna==2.10
pip==21.1.1
pydantic==1.8.2
python-dotenv==0.17.1
PyYAML==5.4.1
rfc3986==1.5.0
setuptools==49.6.0.post20210108
sniffio==1.2.0
starlette==0.14.2
typing-extensions==3.7.4.3
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.6
websockets==8.1
wheel==0.36.2
git+https://github.com/mikeckennedy/fastapi-chameleon