<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Data Services</h1>
<p>We provide <strong>comprehensive research data support</strong> for departments, research groups and projects, including for proposal writing and grant execution. <strong>Our goal</strong> is to maximize the value of research data and catalyze new research opportunities.</p>
<p>Managing data for new science requires specialized expertise and significant human effort. The Environmental Data Institute is ready to provide efficient support with data scientists trained in environmental science and a certified data repository.</p>
<p><strong>Our services</strong> are available through support packages with costs related to the complexity of the project. Ask for a free consultation.</p>
<ol>
<li><strong>Data management plan development and consultation</strong> at no cost.</li>
<li><strong>Data publication support: </strong>Publication of research data, create <a href="https://edirepository.org/resources/create-a-data-catalog" rel="noopener noreferrer" target="_blank">personalized data catalogs</a>, and <a href="https://edirepository.org/resources/reporting-to-funders" rel="noopener noreferrer" target="_blank">reports to funders</a>. (~10K)</li>
<li><strong>Prepare data for analysis:</strong> Harmonize format and structure of data from diverse sources, spanning disciplines and institutional and governmental borders, to ensure that the data are compatible for facilitating analysis (for tasks see table).</li>
</ol>
<p>Examples of analysis ready data (link). <strong>Hours and cost estimates</strong> as determined by project’s complexity:</p>
<p><br/></p>
<table border="1" style="border-collapse: collapse;">
<tr style="background-color: #f2f2f2;">
<td>Service</td>
<td>Small (~10 source datasets, 2 derived datasets published)</td>
<td>Medium (6 published datasets)</td>
<td>Large (12+ published datasets)</td>
</tr>
<tr style="background-color: #ffffff;">
<td>Discovery</td>
<td>10</td>
<td>30</td>
<td>60</td>
</tr>
<tr style="background-color: #f2f2f2;">
<td>Data cleaning</td>
<td>50</td>
<td>150</td>
<td>300</td>
</tr>
<tr style="background-color: #ffffff;">
<td>Data harmonization</td>
<td>30</td>
<td>90</td>
<td>180</td>
</tr>
<tr style="background-color: #f2f2f2;">
<td>Data publication</td>
<td>4</td>
<td>12</td>
<td>24</td>
</tr>
<tr style="background-color: #ffffff;">
<td>Documentation</td>
<td>8</td>
<td>8</td>
<td>8</td>
</tr>
<tr style="background-color: #f2f2f2;">
<td>TOTAL Hrs ($100/hr)</td>
<td>102 ($10k)</td>
<td>290 ($30k)</td>
<td>572 ($55k)</td>
</tr>
</table>
<p><br/></p>
<p><strong>Additional services are available for a fee for LARGE PROJECTS:</strong> Scripted and automated workflows, GitHub repository management, Large amounts of data, Data manager to participate in workshops as needed, Training of collaborators in workflow and github use, Multiple papers as results, Prepare for repeating analysis when more data are available, Uncover (possibly digitize) historic data sources (creator is not available).</p>
</main>
</div>
</div>
</div>