<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="grid-inner">
            <h1>Featured Data Contributions</h1>
        </div>
        <div class="featured">
		<div class="featured-item" onclick="location.href='https://environmentaldatainitiative.org/edis-featured-data-contributions/birds-audio-recordings-hbes/' ">		<div><img src="../static/images/black-throated_warbler_grid.jpg" alt=""></div><p><span style="font-size: 12px; color: gray">September, 2021</span><br><span style="font-size: 18px;"><b>Calling activity of Birds in the White Mountain National Forest, NH</b></span><br>The audio recordings of song birds were gathered in the USDA Forest Service’s Hubbard Brook Experimental Forest.</p>
	    </div>
	    <div class="featured-item"><p>July 2021</p></div>
	    <div class="featured-item"><p>May 2021</p></div>
	    <div class="featured-item"><p>March 2021</p></div>
	    <div class="featured-item"><p>January 2021</p></div>
	    <div class="featured-item"><p>November 2020</p></div>
        </div>
<!--?        EDITABLE CONTENT GOES HERE /\/\/\-->

    </div>
</div>
