<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<main class="main-tutorial">
<h1>Find Data</h1>
<h2>For Data Users</h2>
<p>Find and access data with:</p>
<ul>
<li><a href="https://portal.edirepository.org/nis/advancedSearch.jsp" rel="noopener noreferrer" target="_blank">EDI Dataset Search</a> </li>
<li><a href="https://search.dataone.org/data" rel="noopener noreferrer" target="_blank">DataONE Dataset Search</a> </li>
<li><a href="https://datasetsearch.research.google.com/" rel="noopener noreferrer" target="_blank">Google Dataset Search</a></li>
</ul>
<blockquote>
<p>If you're new to EDI, learn about finding and reusing data in our <a href="/resources/resources-for-data-users">resources for data users</a>.</p>
</blockquote>
</main>
</div>
</div>