<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<main class="main-tutorial">
<h1>How to Submit Your Data</h1>
<h2>Work with our Data Curation Team</h2>
<p>We have two options for submitting data to the EDI Curation Team:</p>
<ol>
<li><a href="https://ezeml.edirepository.org/eml/">ezEML</a> - A form-based online tool for creating metadata in the Ecological Metadata Language (EML). <a href="https://www.youtube.com/watch?v=lhtq7iSQIyM">Here's a short video to help you get started with ezEML</a>.</li>
<li><a href="https://environmentaldatainitiative.files.wordpress.com/2021/03/edi_metadata_template.docx">EDI Metadata Template</a> - A MS Word file for your metadata. Fill it out and send it back to us with your data, at <a href="mailto:info@environmentaldatainitiative.org">info@environmentaldatainitiative.org</a>.</li>
</ol>
<p>We will get back to you A.S.A.P., usually within 24 hours. <a href="https://web-x.edirepository.org/support/contact-us">Contact us</a> with any questions or if you need help getting started.</p>
<h2>For Information Managers</h2>
<p>You are welcome to manage upload of your data and metadata to our repository. The <a href="https://web-x.edirepository.org/resources/resources-for-information-managers">Resources for Information Managers</a> is your guide to this process. Please <a href="https://web-x.edirepository.org/support/contact-us">contact us</a> for more information or <a href="https://portal.edirepository.org/nis/login.jsp">login to your EDI Data Portal account</a>.</p>
</main>
</div>
</div>