<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<main class="main-tutorial">
<h1>Publish Data</h1>
<h2>For Authors</h2>
<p><a href="https://ezeml.edirepository.org/eml/auth/login"><strong>Login</strong></a> to the ezEML metadata editor to describe and submit your data (<a href="https://www.youtube.com/watch?v=lhtq7iSQIyM">overview of ezEML</a>). An EDI Data Curator will review the submission and respond within 24 hours.</p>
<p>If this is your first publication, learn about preparing for submission in the <a href="/resources/resources-for-data-authors">resources for data authors</a>.</p>
<h2>For Information Managers</h2>
<p><a href="https://portal.edirepository.org/nis/login.jsp"><strong>Login</strong></a> to your EDI account to upload directly to the repository.</p>
<p>For information on obtaining an EDI account see the <a href="/resources/resources-for-information-managers">resources for information managers</a>.</p>
</main>
</div>
</div>