<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<main class="main-tutorial">
<h1>How to Submit Your Data</h1>
<h2>Work with our Data Curation Team</h2>
<p>Submissions can be sent in one of two ways:</p>
<ol>
<li>Use the <a href="https://ezeml.edirepository.org/eml/">ezEML</a> metadata editor to describe and submit your data. <a href="https://www.youtube.com/watch?v=lhtq7iSQIyM">A short video on ezEML</a>.</li>
<li>Send EML metadata and data files as email attachments or downloadable links to <a href="mailto:info@environmentaldatainitiative.org">info@environmentaldatainitiative.org</a>. For more information on EML see <a href="/resources/creating-metadata-for-publication">creating metadata for publication</a>.</li>
</ol>
<p>We will get back to you ASAP, usually within 24 hrs, and begin <a href="/resources/the-review-process">the review process</a>. For more information on types of contribution and preparing for submission, see the <a href="/resources/resources-for-data-authors">resources for data authors</a>. Please <a href="/support/contact-us">contact us</a> if you have any questions.</p>
<h2>For Information Managers</h2>
<p><a href="https://portal.edirepository.org/nis/login.jsp">Login to your EDI Data Portal account</a> to upload directly to the repository. </p>
<p>For more information on obtaining an EDI user account and uploading directly to the repository see the <a href="/resources/resources-for-information-managers">resources for information managers</a> or <a href="/support/contact-us">contact us</a>.</p>
</main>
</div>
</div>