<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>EDI Summer Fellows presentations</h2>
<p>August 16, 2022</p>
<h3>Description</h3>
<p>Our EDI Summer Fellows presented 5-minute eLightning talks on their data publishing experience for specific host sites, spanning diverse ecosystems across the country, from Maine’s Mount Desert Island to Puerto Rico’s Luquillo Mountains to the Palmyra Atoll in the central Pacific. You can find a list of all host projects here: https://edirepository.org/news/news-20220511.00 </p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>