<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>DEIMS, the Drupal Ecological Information Management System</h2>
<p>December 5, 2017</p>
<h3>Description</h3>
<p>The Drupal Ecological Information Management System (DEIMS), a Drupal profile for managing all the information products (e.g., data, metadata, pubs, photos, people, research sites) related to an LTER site, was discussed.</p>
<h3>Speakers</h3>
<ul>
<li>Jim Laundre (Information manager, Arctic LTER)</li>
<li>Hap Garritt (Information manager, Plum Island Ecosystems LTER)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/TUxTLQgE7BA" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>