<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Updating schema.org metadata for data packages in the EDI Data Portal to provide rich semantic information that can be utilized by search engines and Google Scholar</h2>
<p>June 15, 2021</p>
<h3>Description</h3>
<p>This webinar gave an overview of how the EDI technical team is now updating the schema.org metadata that accompanies every data package landing page on the EDI Data Portal with new recommendations from the ESIP SOSO project (https://github.com/ESIPFed/science-on-schema.org). EDI initially released schema.org metadata for each data package in Fall 2018. Along with the sitemaps.org metadata, the schema.org metadata provides rich semantic information about the data package that can be utilized by search engines (e.g., Google, Microsoft, Yandex, and even domain specific tools like EarthCube’s Gleaner and DataONE schema.org indexers) and associated applications. For example, data packages that are archived in the EDI data repository are discoverable through Google’s Dataset Search interface because of the detailed information provided to Google’s search engine indexer via the schema.org metadata.</p>
<h3>Speaker</h3>
<p>Mark Servilla (University of New Mexico, EDI)</p>
<h3>Recording: <a href="https://youtu.be/Tc8G-HaoSEI" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>