<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Associating EDI data packages with the journal articles that use them</h2>
<p>November 13, 2018</p>
<h3>Description</h3>
<p>PASTA+ now provides a set of web services to enable users to document and manage associations between data packages in the Environmental Data Initiative (EDI) data repository with journal articles or other manuscripts that are known to utilize the data objects contained within them. The EDI Data Portal has been enhanced to take advantage of these new “journal citation web services” with a convenient form-based user interface. Journal citations documented in PASTA+ through these web services are also registered in DataCite by storing the association in the data package’s DOI metadata.</p>
<p>This webinar covered all three aspects of this new PASTA+ feature:</p>
<ul>
<li>Journal citation web services;</li>
<li>How these web services are presented in the EDI Data Portal user interface; and,</li>
<li>How journal citation metadata are registered in DataCite.</li>
</ul>
<h3>Speakers</h3>
<ul>
<li>Duane Costa (UNM/EDI)</li>
<li>Mark Servilla (UNM/EDI)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/1HJ2Zf1DAIc" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>