<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Transform and visualize data in R using the packages tidyr, dplyr and ggplot2</h2>
<p>October 17, 2017</p>
<h3>Description</h3>
<p>This is the first of two tutorials on how to tidy data in R with the package “tidyr” and transform data using the package “dplyr”. The goal of those data transformations is to support data visualization with the package “ggplot2” for data analysis and scientific publications of which examples were shown.</p>
<h3>Speaker</h3>
<p>Susanne Grossman-Clarke (University of Wisconsin-Madison, EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>