<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Clean your taxonomy data with the taxonomyCleanr R package</h2>
<p>January 16, 2018</p>
<h3>Description</h3>
<p>Taxonomic data can be messy and challenging to work with. Incorrect spelling, the use of common names, unaccepted names, and synonyms, contribute to ambiguity in what a taxon actually is. The taxonomyCleanr R package helps you resolve taxonomic data to a taxonomic authority, get accepted names and taxonomic serial numbers, as well as create metadata for your taxa in the Ecological Metadata Language (EML) format.</p>
<h3>Speaker</h3>
<p>Colin Smith (University of Wisconsin-Madison, EDI)</p>
<h3>Recording: <a href="https://youtu.be/zNhe7JXZf44" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>