<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>How FAIR are our data?</h2>
<p>February 15, 2022</p>
<h3>Description</h3>
<p><a href="https://www.go-fair.org/fair-principles/" rel="noopener noreferrer" target="_blank">FAIR</a> - Findable, Accessible, Interoperable, Reusable, is a high level framework for communicating quality of metadata in terms of making data usable for somebody who was not directly involved in the sampling. More recently the <a href="https://www.rd-alliance.org/" rel="noopener noreferrer" target="_blank">Research Data Alliance</a> (RDA) has developed guidelines for evaluating FAIR, the <a href="https://zenodo.org/record/3909563#.YytiGrTMKbh" rel="noopener noreferrer" target="_blank">FAIR data maturity model</a>. This framework is still fairly general and research communities need to expand it with more specific community level criteria. DataONE has taken the initiative to develop such <a href="https://github.com/NCEAS/metadig-checks" rel="noopener noreferrer" target="_blank">criteria for data in the DataONE community</a>.</p>
<p>Shelley Stall talked about the RDA FAIR document, Mary Martin about how she is using the FAIR analysis in her own data management for the Hubbard Brook Ecosystem Study and Corinna Gries discussed specific groups of RDA+DataONE FAIR criteria and how they may be applied in EDI or for a particular project or single dataset.</p>
<h3>Speakers</h3>
<ul>
<li>Shelley Stall (Senior Director <a href="https://www.agu.org/Learn-About-AGU/About-AGU/Data-Leadership" rel="noopener noreferrer" target="_blank">AGU’s Data Leadership Program</a>)</li>
<li>Mary Martin (Information Management <a href="https://hubbardbrook.org/" rel="noopener noreferrer" target="_blank">Hubbard Brook Ecosystem Study</a>, UNH)</li>
<li>Corinna Gries (Director EDI, UW-Madison)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/o76TPXeOGGw" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>