<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>CZ Manager: software for sensor and sample based earth observations</h2>
<p>August 17, 2021</p>
<h3>Description</h3>
<p>CZ Manager is a graphical user interface (GUI) for <a href="https://doi.org/10.1016/j.envsoft.2016.01.010" rel="noopener noreferrer" target="_blank">Observations Data Model 2</a> (ODM2). This software was originally developed for managing data collected from the field in Luquillo, Puerto Rico for the NSF funded <a href="https://criticalzone.org/" rel="noopener noreferrer" target="_blank">Critical Zone Observatory program</a> and continues to be used primarily for sensor-based data collected by the <a href="https://luquillo.lter.network/" rel="noopener noreferrer" target="_blank">Luquillo LTER</a>. CZ Manager is also in use for sensor and sample-based data from the waterways of the New Hampshire Great Bay region as part of the Piscataqua Region Estuaries Partnership (PREP). CZ Manager includes a suite of tools for mapping sites, plotting data, managing data QA/QC, and Water OneFlow web services (WaterML) for integration with data.cuahsi.org.</p>
<h3>Speaker</h3>
<p>Miguel Leon (Data Scientist: Department of Natural Resources and the Environment, University of New Hampshire &amp; Information Manager: Luquillo LTER)</p>
<h3>Recording: <a href="https://youtu.be/Gr0Qe1hRDZs" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>