<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Introduction to some tools for creating taxonomic coverages in metadata</h2>
<p>December 18, 2018</p>
<h3>Description</h3>
<p>One common way to search for suitable research data is to locate data about a specific organism or group of organisms. Modern taxonomys capture both the names of individual species and the relationships between them, along with hierarchies representing estimated phylogenys. To facilitate searching at a variety of taxonomic levels (species, genus, family, order etc.), metadata needs to include the relevant taxonomic terms. This webinar will discuss how taxonomic information can be incorporated into standardized metadata. Additionally, it will introduce software for the R statistical software that can be used to query existing taxonomic hierarchies and produce the needed metadata elements.</p>
<h3>Speakers</h3>
<ul>
<li>Margaret O’Brien (UCSB/EDI)</li>
<li>John Porter (University of Virginia)</li>
<li>Colin Smith (UW-Madison/EDI)</li>
</ul>
<h3><a href="https://github.com/EDIorg/webinar_presentations/blob/f73bf382975bba04018ca85f327231408dfcf102/2018-12-18%20Challenges%20of%20Taxonomy%20&amp;%20Systematics.pdf" rel="noopener noreferrer" target="_blank">Presentation slides</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>