<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Keep your science up-to-date with EDI repository event notifications</h2>
<p>November 16, 2021</p>
<h3>Description</h3>
<p>Science that is based wholly or in part on data archived in the EDI repository can utilize our event notification service to be notified anytime input data changes. Ultimately, this accelerates science, enables projects to live beyond their completion date, encourages reproducibility, and allows you to do more by reducing manual tasks. Join us for an in-depth look at EDI repository event notifications, what they are, how they work, and how to get started using them.</p>
<h3>Speaker</h3>
<p>Colin Smith (EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>