<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Enabling FAIR Data: Helping our researchers share their data and the reward of attribution and credit</h2>
<p>February 19, 2019</p>
<h3>Description</h3>
<p>The data that underpins our research is a valuable part of the research process. The role scientific repositories have in helping researchers share their data and make it understandable is critical to the research lifecycle. Research data is best preserved in a trusted digital repository with robust descriptive information.</p>
<p>Attribution and credit for data created, used, and reused is an important part of encouraging researchers to share their data and make it available to others. Within the Earth, space, and environmental sciences a large community of stakeholders has come together to require that data supporting a publication be placed in a trusted repository and properly cited. Many journals are now transitioning to this requirement and more are joining every day. The infrastructure is being solidified to give creators of data the attribution and credit that recognizes the importance of the contribution to the scientific record for possible reuse in the future.</p>
<p>Making data more findable, accessible, interoperable, and reusable (FAIR) is an important step towards more open science. Each scientific repository has a responsibility to help researchers make their data open and FAIR. We will describe what is expected by the Enabling FAIR Data project and the value of attribution and credit in encouraging researchers to share their data.</p>
<h3>Speaker</h3>
<p>Shelley Stall (Senior Director of Data Leadership, AGU)</p>
<h3>Recording: <a href="https://youtu.be/nSXVGRDLFmw" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>