<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Creating clean data for archiving</h2>
<p>January 30, 2018</p>
<h3>Description</h3>
<p>Not all data are easy to use, and some are nearly impossible to use effectively. This presentation lays out the principles and some best practices for creating data that will be easy to document and use.  It will identify many of the pitfalls in data preparation and formatting that will cause problems further down the line and how to avoid them.</p>
<h3>Speaker</h3>
<p>John H. Porter (Co-Principal Investigator Virginia Coast Reserve Long-Term Ecological Research, University of Virginia)</p>
<h3>Recording: <a href="https://youtu.be/gW_-XTwJ1OA" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>