<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>What are metadata and structured metadata?</h2>
<p>March 13, 2018</p>
<h3>Description</h3>
<p>Metadata are essential to understanding a dataset. In her talk, Kristin discussed how structured metadata are used to document, discover, and analyze ecological datasets. She will also offer some tips for creating quality metadata content. Margaret gave an introduction to the metadata language used by EDI, Ecological Metadata Language (EML). EML is written in XML, a general purpose mechanism for describing hierarchical information, so she will also describe some general XML features and how these apply to EML.</p>
<h3>Speakers</h3>
<ul>
<li>Kristin Vanderbilt (EDI)</li>
<li>Margaret O’Brien (EDI)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/_o9gXtHuyes" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>