<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Finding and contributing software solutions for data management needs</h2>
<p>October 30, 2018</p>
<h3>Description</h3>
<p>The Information Management Code Registry (IMCR) is a hub for sharing software solutions to common data management tasks encountered in the environmental sciences (i.e. data collection, quality assurance, documentation, archive, discovery, and synthesis). The IMCR helps distribute data management expertise, promote convergence on best practices, and support citable scientific workflows. In this webinar, you will receive an overview of the IMCR and how to use it to find and contribute data management software.</p>
<h3>Speakers</h3>
<ul>
<li>Kristin Vanderbilt (University of New Mexico, EDI)</li>
<li>Colin Smith (University of Wisconsin-Madison, EDI)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/MtGzXM_EBtQ" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>