<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>How to publish data in the EDI data repository – an overview</h2>
<p>May 18, 2021</p>
<h3>Description</h3>
<p>The Environmental Data Initiative (EDI) assists researchers from field stations, individual laboratories, and research projects of all sizes to publish their environmental data and meet obligations to funding agencies such as NSF and publishers. EDI is committed to enable data that is Findable, Accessible, Interoperable, and Reusable (FAIR). In this webinar we will highlight the benefits of data publishing and give an overview of the workflow of publishing data in the EDI Data Repository. We touched on the following components of the data publication process: (1) What is a data repository and how to choose a suitable repository for your data; (2) Cleaning and organizing datasets in preparation for publishing them; (3) Describing data with metadata so others can understand and re-use them; (4) Publishing the data: what happens behind the curtain at EDI; (5) Having an easy mechanism to display and share your data resources on your own website.</p>
<h3>Speakers</h3>
<ul>
<li>Kristin Vanderbilt (University of New Mexico, EDI, FCE LTER)</li>
<li>Susanne Grossman-Clarke (University of Wisconsin-Madison, EDI)</li>
</ul>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>