<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>The Environmental Data Initiative (EDI): Supporting curation and archiving of environmental data</h2>
<p>January 9, 2018</p>
<h3>Description</h3>
<p>The Environmental Data Initiative (EDI) was funded by the National Science Foundation (NSF) to accelerate curation, archiving, and publishing of environmental data. EDI provides a secure data repository and data curation support for ecological research projects with emphasis on NSF funded programs including Long Term Research in Environmental Biology (LTREB), Organization for Biological Field Stations (OBFS), Macrosystems Biology (MSB), and Long Term Ecological Research (LTER). The EDI Data Repository is an extension of the Provenance Aware Synthesis Tracking Architecture (PASTA) developed originally to house LTER data. EDI is a DataOne member node (www.dataone.org) and is listed in the Registry of Research Data Repositories (re3data.org). EDI supports and trains members of the environmental sciences community to archive and publish high-quality data and metadata.</p>
<p>Members of the EDI team gave an overview of EDI’s mission and core activities (data repository, data curation and publishing, data model standardization, metadata pipeline, outreach and data management training).</p>
<h3>Speaker</h3>
<p>EDI-Team</p>
<h3>Recording: <a href="https://www.dataone.org/webinars/environmental-data-initiative-edi-supporting-curation-and-archiving-environmental-data/" rel="noopener noreferrer" target="_blank">DataOne webinar archive</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>