<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Open science framework for reproducible research</h2>
<p>April 2, 2019</p>
<h3>Description</h3>
<p>Open Science Framework (OSF) is a free and open source platform where researchers can collaborate, share data, show their research process and document their research. OSF is developed by Center for Open Science (COS; http://cos.io/), a non-profit technology and culture change organization with a mission to improve the openness, integrity, and reproducibility of scientific research. OSF’s command line client , its storage add-ons (integrations with gdrive, box, dropbox, github and more) and its preprint servers like EarthArXiv, a geoscience pre-print that complements AGU’s Earth and Space Science Open Archive (ESSOAr).</p>
<h3>Speaker</h3>
<p>Ian Sullivan (Transparency and Openness Training Coordinator, Center for Open Science)</p>
<h3>Recording: <a href="https://youtu.be/4AEAV20SN0w" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>