<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Update on the EMLassemblyline – an R package for creating metadata in EML</h2>
<p>January 19, 2021</p>
<h3>Description</h3>
<p>EMLassemblyline (EAL) is an R library for programmatically creating EML metadata. It is optimal for recurring data publications (time series or data derived from time series sources) but works well for “one-off” publications. EAL prioritizes automated metadata extraction from data objects to minimize required human effort and encourages EML best practices to make data publications Findable, Accessible, Interoperable, and Reusable.</p>
<p>This webinar provided an introductory overview and demonstration of EAL while highlighting its newest features.</p>
<h3>Speaker</h3>
<p>Colin Smith (University of Wisconsin-Madison, EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>