<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>New features of ezEML</h2>
<p>March 15, 2022</p>
<h3>Description</h3>
<p>ezEML is EDI’s web-based tool that lets even EML newbies create and edit EML metadata for their data packages. When ezEML was first introduced, we demonstrated its Release 1.0 features in a webinar <a href="https://youtu.be/LVRoFmTwvtU" rel="noopener noreferrer" target="_blank">https://youtu.be/LVRoFmTwvtU</a>. But a lot has changed since then. A number of significant new features have been added, and another ezEML webinar seems called for. We demonstrated what’s new, answered questions, and welcomed feedback. A few of the most significant additions:</p>
<ul>
<li>Re-upload of data tables and other data entities.</li>
<li>Cloning column properties from one data table to another.</li>
<li>Export/import complete ezEML data packages, including metadata and all data files. Such packages can be downloaded locally, or you can share a URL with others that lets them download the packages from our servers and open them in ezEML.</li>
<li>Send a data package directly to a colleague or to EDI’s data curation team.</li>
<li>Import EML XML files that were created outside of ezEML.</li>
<li>Fetch a data package directly from the EDI data repository and open it in ezEML in a single step. Optionally, fetch the associated data files as well.</li>
<li>Create ezEML templates that are hosted on our servers and available for use by everyone on your team.</li>
</ul>
<p>All ezEML users should benefit from these and other new features, but a number of them may be of particular interest to information managers. We demonstrated their use, and we hope you’ll like what you see.</p>
<h3>Speaker</h3>
<p>Jon Ide (EDI)</p>
<h3>Recording: <a href="https://www.youtube.com/watch?v=QRCDeLGPYms" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>