<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>An indepth look at EDI's Data Explorer (DEX)</h2>
<p>October 18, 2022</p>
<h3>Description</h3>
<p>EDI DEX is a new tool that allows you to explore tabular data directly from the EDI Data Repository. DEX currently supports data profiling, subsetting, and plotting. DEX is available on all three PASTA tiers (development, staging, and production). It is accessed from the Data Package landing page using the “Explore Data” button and is available for files that are recognized as containing tabular data. This webinar will present an overview of the DEX architecture and demonstrate how DEX works on actual data.</p>
<h3>Speakers</h3>
<p>Roger Dahl (DEX's lead developer)</p>
<p>Mark Servilla (PASTA lead developer)</p>
<h3>Recording</h3>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/4ZZaLQ72GPc" title="YouTube video"></iframe>
</div>
</div>
<!-- Webinars -->
</main>
</div>
</div>
</div>