<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>An Overview of the EDI Data Repository and Data Portal (and how to use it for publishing data)</h2>
<p>April 10, 2018</p>
<h3>Description</h3>
<p>The Environmental Data Initiative data repository is a metadata-driven archive for environmental and ecological research data described by the Ecological Metadata Language. This webinar will provide an overview of the PASTA software used by the repository and demonstrate the essentials of uploading a data package to the repository through the EDI Data Portal.</p>
<h3>Speaker</h3>
<p>Mark Servilla (EDI)</p>
<h3>Recording: <a href="https://youtu.be/LSPcqTqpPMw" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>