<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Using checksums to speed up data package uploads</h2>
<p>November 28, 2017</p>
<h3>Description</h3>
<p>A new option is now available in the Data Portal for speeding up data package uploads to PASTA. When selected, the “useChecksum” option allows PASTA to use an existing copy of a data entity if its checksum matches the checksum documented in your EML metadata. This tutorial covers the effective use of this potential time-saving option and is intended for Information Managers who use the Data Portal interface to upload data packages to PASTA.</p>
<h3>Speaker</h3>
<p>Duane Costa (UNM, EDI)</p>
<h3>Recording: <a href="https://youtu.be/2IPNxoIV2p4" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>