<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Update on harmonizing meteorological and hydrological data in the EDI data repository</h2>
<p>December 15, 2020</p>
<h3>Description</h3>
<p>The LTER (Long-term Ecological Research) ClimDB/HydroDB database and user interface for meteorological and hydrological observations will soon be retired. In 2019, a working group of LTER, US Forest Service and EDI Information Managers created a roadmap for preserving the database in the EDI data repository, now in progress. The working group adopted the Observational Data Model (ODM) 1.1 of the Consortium of Universities for the Advancement of Hydrologic Science (CUAHSI) as the most useful format for meteorological and hydrological data, which will give research sites the opportunity to submit data to CUAHSI and make use of its visualization tools. Therefore, ClimDB/HydroDB content is being exported as ODM 1.1 tables with EML metadata. The CUAHSI ODM model is also recommended for harmonizing all suitable meteorological and hydrological data, to be added to the EDI data repository as “analysis ready” for supporting reuse or contribution to CUAHSI.</p>
<p>This webinar presented progress on the archive effort, the exported data packages now available on EDI’s staging server, and a summary of tasks to be completed by each research site before a data package can be published in EDI and subsequently submitted to CUAHSI. As time permits, we will discuss future harmonization efforts for ongoing data, and contributions from individual research groups to CUAHSI.</p>
<h3>Speaker</h3>
<p>Margaret O’Brien (University of California Santa Barbara, EDI)</p>
<h3>Recording: <a href="https://youtu.be/pXwY73q0Bgo" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>