<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Informational webinar on 2021 Fellowship Program</h2>
<p>March 16, 2021</p>
<h3>Description</h3>
<p>We have 15 fellowships available in our ecological data management training program for this summer. We are now requesting applications from undergraduate, graduate and recently graduated students. In this webinar we will give an overview of the training program and answer interested students' questions.</p>
<h3>Speaker</h3>
<p>Susanne Grossman-Clarke (EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>