<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Ecological Metadata Language EML 2.2: Overview of new features</h2>
<p>October 8, 2019</p>
<h3>Description</h3>
<p>The EML-development group released of EML 2.2, and thanks all contributors for their work, discussion, feedback, and community stewardship. In this webinar, new features of EML 2.2 are presented. You can read the specification of EML 2.2 and download the distribution at <a href="https://eml.ecoinformatics.org" rel="noopener noreferrer" target="_blank">https://eml.ecoinformatics.org</a>. A summary of the changes is given in “What’s New in EML 2.2.0” at <a href="https://eml.ecoinformatics.org/whats-new-in-eml-2-2-0.html" rel="noopener noreferrer" target="_blank">https://eml.ecoinformatics.org/whats-new-in-eml-2-2-0.html</a>.</p>
<h3>Speaker</h3>
<p>Margaret O’Brien (University of California Santa Barbara/ EDI)</p>
<h3>Recording: <a href="https://youtu.be/jSF9JS7kzv0" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>