<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Postgres, EML and R in a data management workflow</h2>
<p>May 8, 2018</p>
<h3>Description</h3>
<p>Metadata storage and creation of EML have been always a challenge for people/organizations who want to archive their data. A workflow was developed to combine efficient EML record generation using the package developed by the R community with the advantages of centrally-controlled metadata in a relational database (metabase). We will focus on two components of the workflow in this webinar: 1. display the metadata storage in a relational database; and 2. one example of EML file generation using pre-defined R functions.</p>
<h3>Speaker</h3>
<p>Li Kui (University of California, Marine Science Institute)</p>
<h3>Recording: <a href="https://youtu.be/k4TnnCQVod0" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>