<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Explanation of the EDI metadata template</h2>
<p>March 6, 2018</p>
<h3>Description</h3>
<p>The tutorial gives an overview of the metadata template that is used by EDI for metadata preparation in the process of publishing a data package in the EDI data repository. Specifically, the purpose and content of the template will be explained. The template can be downloaded from EDI’s GitHub space at: https://github.com/EDIorg/MetadataTemplates.</p>
<h3>Speaker</h3>
<p>Susanne Grossman-Clarke (EDI Training and Outreach Coordinator)</p>
<h3>Recording: <a href="https://youtu.be/-PzlyL4gOnE" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>