<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Using the GCE Data Toolbox to automate environmental data processing and produce EML-described data packages for EDI</h2>
<p>January 8, 2019</p>
<h3>Description</h3>
<p>An overview of the GCE Toolbox and its history is given in this webinar along with its use to automate environmental data processing and produce EML-described data packages for archiving in the EDI repository.</p>
<h3>Speaker</h3>
<p>Wade Sheldon (Georgia Coastal Ecosystems LTER)</p>
<h3>Recording: <a href="https://youtu.be/ZA0DALArMPM" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>