<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>10 features of the EDI data repository you may not know about</h2>
<p>November 24, 2020</p>
<h3>Description</h3>
<p>The Environmental Data Initiative (EDI) supports a robust data repository that is accessible through the EDI Data Portal. Users of the Data Portal are generally familiar with publishing and searching for data, but there are many other features of the Data Portal (and underlying services provided by EDI) that many users are not familiar with, like adding provenance metadata to a data package. This webinar is a compendium of 10 little known features of the EDI data repository and related services. Learn some cool tips and tricks of EDI.</p>
<h3>Speaker</h3>
<p>Mark Servilla (University of New Mexico, EDI)</p>
<h3>Recording: <a href="https://youtu.be/dYOQhHZjS9A" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>