<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Create a local data catalog on your website</h2>
<p>April 24, 2018</p>
<h3>Description</h3>
<p>Now that your datasets are in a public repository, there are two basic ways to create a catalog of them, which we will introduce in this webinar. The first is simple: for a few datasets, you can list them on your own webpage, with a static link to the dataset in the EDI portal. Second, if you have many datasets, or want to customize the display, we will introduce you to the PASTA+ search API so you can capitalize on EDI repository web services. With this method, you can customize and style locally, without having to store data or metadata.</p>
<h3>Speakers</h3>
<ul>
<li>Margaret O’Brien (EDI)</li>
<li>Duane Costa (EDI)</li>
</ul>
<h3>Recording: <a href="https://youtu.be/LwCI9TKi-Pg" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>