<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Informational webinar on EDI’s 2022 Summer Fellowship Program</h2>
<p>October 19, 2021</p>
<h3>Description</h3>
<p>This webinar is inteneded for researchers/projects/field stations interested in hosting an EDI fellow for two months during the 2022 summer. We answered regarding our 2022 Data Management Fellowship Program. The purpose of the paid fellowship program is to train the Fellows in ecological data management and enable them to support host projects in developing sustainable workflows for publishing of their research data.</p>
<h3>Speaker</h3>
<p>Susanne Grossman-Clarke (EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>