<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Experimental use of Sitemaps.org and Schema.org metadata for Search Engine Optimization</h2>
<p>September 25, 2018</p>
<h3>Description</h3>
<p>The Environmental Data Initiative (EDI) has just released an experimental implementation of the sitemaps.org and schema.org metadata to support search engine discovery and indexing (often called Search Engine Optimization). Sitemaps metadata serves as a table of contents for high-value information found on websites so that search engines may more easily discover relevant web pages to index. For EDI, the sitemaps metadata points to the most recent data package landing pages accessible through the EDI Data Portal and is refreshed hourly. This webinar gives an overview on how EDI enhances the content indexed by search engines. The dataset metadata provides a recognized and consistent vocabulary of dataset attribute information for search engines to index, thereby improving the overall user experience when searching for data packages on the Internet. For more information, please check out Google’s recent announcement of their beta Dataset Search tool.</p>
<h3>Speaker</h3>
<p>Mark Servilla (University of New Mexico/EDI)</p>
<h3>Recording: <a href="https://youtu.be/zf_q0aCmW-0" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>