<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Data package design, featuring the candidate model for community survey data</h2>
<p>September 26, 2017</p>
<h3>Description</h3>
<p>This session was an informal discussion of the progress on EDI’s ecocomDP design pattern (https://github.com/EDIorg/ecocomDP). EcocomDP was compared with the relational model used by the Popler project. Participants from that project attended the video meeting (Rice, et al, https://eco.confex.com/eco/2017/meetingapp.cgi/Paper/62280).</p>
<h3>Speaker</h3>
<p>Margaret O’Brien (UCSB, EDI)</p>
<h3><a href="https://cdn.jsdelivr.net/gh/EDIorg/ecocomDP@20f4b5c7/presentations/ecocomDP_update_20170926.pdf" rel="noopener noreferrer" target="_blank">Presentation slides</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>