<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Updates on ezEML – a form-based online application for creating metadata in EML</h2>
<p>April 20, 2021</p>
<h3>Description</h3>
<p>EDI recently released ezEML, a form-based, online, do-it-yourself tool for creating metadata in the Ecological Metadata Language (EML). You don’t need to know EML to create metadata using ezEML. In a webinar back in October, we presented an overview and demo of the initial release of ezEML. A lot has changed since then. New features of ezEML were demonstrated, highlighting, among other things, on-the-fly metadata checking, missing value code detection, and the ability to re-upload data tables and other entities, to clone selected column attributes from one data table to another, to create metadata for related projects, and to submit metadata and data files to EDI with a single click.</p>
<h3>Speaker</h3>
<p>Jon Ide (University of Wisconsin-Madison, EDI)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>