<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>Organizing data into publishable units</h2>
<p>July 31, 2018</p>
<h3>Description</h3>
<p>Organizing data into publishable units can be challenging because it’s often influenced by multiple factors including: data theme and volume, the unique needs of providers and users, the level of processing required, and the general purpose the data serve. To inform a set of guidelines for organizing data into publishable units we had an open discussion to share experiences, issues, and recommendations.</p>
<h3>Speaker</h3>
<p>Colin Smith (EDI, University of Wisconsin-Madison)</p>
<h3>Recording: No recording available</h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>