<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Webinar</h1>
<h2>CUAHSI tools for data management</h2>
<p>June 18, 2019</p>
<h3>Description</h3>
<p>Martin Seul presented <a href="https://www.cuahsi.org/" rel="noopener noreferrer" target="_blank">CUAHSI</a> tools (hydroclient and uploader) and answered questions about CUAHSI and CUAHSI tools. CUAHSI tools enable users to discover, preview and download time series data such as stream gauge measurements and meteorological station measurements from federal agencies, university researchers, and watershed organizations, all in the same format, the Community Observation Data Model.</p>
<h3>Speaker</h3>
<p>Martin Seul, Technical Director CUAHSI (Consortium of Universities for the Advancement of Hydrologic Science)</p>
<h3>Recording: <a href="https://youtu.be/LqoOiQ1iB_M" rel="noopener noreferrer" target="_blank">YouTube</a></h3>
<!-- Webinars -->
</main>
</div>
</div>
</div>