<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Contact Us</h1>
<p>We are available to answer questions and lend support to any aspect of the data lifecycle. Requests for support are typically returned within one business day.</p>
<ul>
<li>For data curation and general questions: <a href="mailto:info@edirepository.org">info@edirepository.org</a></li>
<li>For technical support: <a href="mailto:support@edirepository.org">support@edirepository.org</a></li>
<li>Join us on Slack for instant communication: Request invitation to <a href="mailto:info@edirepository.org">info@edirepository.org</a></li>
<li>Receive regular updates on new EDI features, services, webinars, and opportunities by subscribing to our (low traffic) <a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&amp;id=da346b264c" rel="noopener noreferrer" target="_blank">newsletter</a></li>
<li>Stop by our weekly virtual Office Hours with your data management questions and challenges to discuss with our data curation team, Wednesdays at 3-4pm ET, 2-3pm CT, 1-2pm MT, 12-1pm PT on <a href="https://uwmadison.zoom.us/j/98834296572?pwd=NHZlTmtkTWg3OXBLSzRrMTJyL3NmUT09" rel="noopener noreferrer" target="_blank">Zoom</a></li>
</ul>
</main>
</div>
</div>
</div>