<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        <main class="main-tutorial">
            <h1 id="contact-us">
                Contact Us
            </h1>
            <p>
                We are available to answer questions and lend support to any aspect of the data lifecycle. Requests for
                support are typically returned within one business day.
            </p>
            <ul>
                <li>
                    For data curation and general questions:
                    <a href="mailto:info@environmentaldatainitiative.org">
                        info@environmentaldatainitiative.org
                    </a>
                </li>
                <li>
                    For technical support:
                    <a href="mailto:support@environmentaldatainitiative.org">
                        support@environmentaldatainitiative.org
                    </a>
                </li>
                <li>
                    Join us on Slack for instant communication: Request invitation to
                    <a href="mailto:info@environmentaldatainitiative.org">
                        info@environmentaldatainitiative.org
                    </a>
                </li>
                <li>
                    Stop by our weekly virtual Office Hours with your data management questions and challenges to
                    discuss with our data curation team, Wednesdays at 3-4pm ET, 2-3pm CT, 1-2pm MT, 12-1pm PT. Zoom:
                    <a href="https://ucsb.zoom.us/j/966777885">
                        https://ucsb.zoom.us/j/966777885
                    </a>
                </li>
            </ul>
        </main>
    </div>
</div>