<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>EDI Data Management Fellowship Program</h1>
<h3><em>Due to a change in focus, we are pausing the EDI Fellowship Program until further notice and will place our effort towards alternative approaches of supporting information management and data science in the community. We appreciate all of the recent inquiries about the Fellowship Program and apologize for any inconvenience due to our decision. Please subscribe to our <a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&amp;id=da346b264c" rel="noopener noreferrer" target="_blank">newsletter</a> for information on upcoming events and opportunities.</em></h3>
<p>For information on our past fellowship program, <a href="/support/dm-fellowships-deprecated">please see here</a>.</p>
</main>
</div>
</div>
</div>