<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>EDI Data Management Fellowship Program</h1>
<div class="figure_featured" style="width: 50%; margin-right: 2em;">
<figure style="float: right; margin: 3em 1em 1em 4em;">
<img alt="EDI Fellows 2019" src="/static/images/edi-fellows-2019.jpg"/>
<figcaption class="figure-caption">Fellows and EDI team members at the data publishing workshop at UNM in June 2019</figcaption>
</figure>
</div>
<p><br/>
Our 2022 Fellowship Program is currently ongoing. The Fellows are gaining data publishing experience for specific host sites, spanning diverse ecosystems across the country, from Maine’s Mount Desert Island to Puerto Rico’s Luquillo Mountains to the Palmyra Atoll in the central Pacific. <a href="https://edirepository.org/news/news-20220511.00" rel="noopener noreferrer" target="_blank">More information</a>.</p>
<h2>Overview</h2>
<p>During the 2-month summer program, the Fellows receive training in environmental data management by EDI and gain hands-on experience through participation in data publishing with specific host projects, either remotely or on site. In agreement with EDI’s mission of accelerating curation and publishing of environmental data, the focus of the fellowship program is on:</p>
<ul>
<li>Processing and publishing the host projects’ data.</li>
<li>Creating workflows that support the processing of data collections. See here for an example.</li>
</ul>
<p>Please contact Susanne Grossman-Clarke, EDI’s Outreach and Training Coordinator with any questions regarding the fellowship program: grossmanclar@wisc.edu.</p>
<p>Further information:</p>
<ul>
<li><a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/qa_fellowships/" rel="noopener noreferrer" target="_blank">EDI Fellowship Q&amp;A</a></li>
<li>Previous years’ programs:  <a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/2018-fellowships/" rel="noopener noreferrer" target="_blank">2018</a>, <a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/2019-fellowships/" rel="noopener noreferrer" target="_blank">2019</a>, <a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/2020-fellowships/" rel="noopener noreferrer" target="_blank">2020</a>, <a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/2021-fellowships/" rel="noopener noreferrer" target="_blank">2021</a></li>
</ul>
<h2>Schedule</h2>
<ul>
<li><strong>December:</strong> Application deadline for host projects (application form).</li>
<li><strong>January:</strong> EDI host site selection.</li>
<li><strong>February:</strong> Announcement of the program for fellow applications.</li>
<li><strong>March:</strong> Fellow applications due. Host projects interview applicants and select a Fellow.</li>
<li><strong>mid-June:</strong> Data publishing workshop for Fellows.</li>
<li><strong>mid-June to mid-August:</strong> Engagement of Fellows with host projects, remotely or on site.</li>
</ul>
<h2>Project expectations</h2>
<ul>
<li>The Fellow’s project should focus on the topics listed in the “Overview” section above.</li>
<li>The host projects are required to provide the Fellow with access to data and personnel who are able to answer data-related questions in a timely manner.</li>
<li>Manual data entry should be limited to no more than 15% of the Fellow’s time.</li>
<li><strong>All fellowship products must be published in the EDI data repository.</strong></li>
</ul>
<h2>Information for potential Fellows</h2>
<ul>
<li>Informational webinar for potential Fellows will be held in February before the Fellowship Program.</li>
<li>The application process will begin in March, during which time applicants can apply for the host projects of their interest.</li>
<li>Undergraduate, graduate and recent postgraduate students are considered who are at least 18 years of age by the program start date, and must reside in and be eligible to work in the United States.</li>
<li>Fellows will be selected in an interview process by the host projects.</li>
<li>Each Fellow will receive a stipend of $6000 which will be administered through the University of Wisconsin-Madison. In case of an on-site fellowship the stipend will cover travel to and from as well as lodging at the host site.</li>
<li>The fellowship program requires full-time commitment to the training activities.  No other employment is permitted during the fellowship.</li>
<li>The fellowship is preceded by a mandatory three-day online data publishing workshop held in June. During the workshop, the Fellows learn about data cleaning, metadata content, the Ecological Metadata Language (EML) and how to publish data in the EDI data repository.</li>
<li>Engagement of Fellows with host projects, remotely or on site from mid-June to mid-August.</li>
<li>Fellows are required to participate in bi-weekly online meetings with EDI staff, present their work at a final online meeting, and write a one-page report describing their work &amp; results and how the fellowship benefits their professional development at the end of the fellowship program.</li>
</ul>
</main>
</div>
</div>
</div>
