<!DOCTYPE html>
<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="basic-inner">
            <h1>One-on-One Help</h1>
	    <div class="basic-inner-body"><h3>Our data curators are happy to answer your questions.</h3>
		<ul>
			<li>For data curation and general questions: info@environmentaldatainitiative.org</li>
			<li>For technical support: support@environmentaldatainitiative.org</li>
			<li>Stop by our weekly virtual Office Hours, Wednesdays at 3-4pm ET.</li>
			<li>Join us on Slack for instant communication.</li>
		</ul>
	    </div>
        </div>
<!--?        EDITABLE CONTENT GOES HERE /\/\/\-->

    </div>
</div>
