/* style sheet for basic pages that don't have a table of contents */

.basic-inner {
    width: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.basic-inner-catalog {
    max-width: 70%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
