/* Style sheet for home page */

.index {
    background-image: linear-gradient(to bottom, transparent, white), url("../images/treetop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*color: black;
    font-size: 1.2rem;
    padding: 3em 0;
    text-align: center;*/
    /*    font-family: Arial, Helvetica, sans-serif; */
}

.index-inner {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.index-inner h1 {
    font-size: 2.5em;
    font-weight: bolder;
    margin-top: 0.75em;
    margin-bottom: 0.1em;
    border-bottom: none;
}

.index-inner .by-line {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.75em;
    margin-bottom: 1em;
}

.call-to-action .btn {
    border-radius: 0.5em;
    width: 8em;
    margin: .25em;
}

.index-publish {
    color: black;
    margin: auto;
    padding-top: 1em;
    text-align: center;
    text-decoration: none;

}

.index-publish > h2 {
    font-size: 2rem;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: none;
}

.index-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.index-column > h2 {
    font-size: 2rem;
    padding-top: 0.25em;
    border-bottom: none;
}

.publish-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.publish-tile > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 0.5em 2.5em;
    padding: 0em;
    max-width: 10%;
}

.publish-tile > div > h3 {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 1em;
}

.publish-tile > div > img {
    width: 75%;
    padding-top: 1em;
}

.publish-tile > div > p {
    text-align: center;
    padding-top: 1em;
}

.list-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.list-tile > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 2.5em;
    padding: 0em;
    max-width: 25%;
}

.list-tile > ul {
    list-style: none;
    font-size: 1.25rem;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

.featured-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.featured-tile > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 0.25em;
    padding: 0.5em 2em;
    max-width: 20%;
}

.featured-tile > div > img {
    width: 100%;
    padding-bottom: 1em;
}

.featured-tile > div > h2 {
    font-size: 2rem;
    padding-bottom: 1em;
    border-bottom: none;
}

.webinar-tile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.webinar-item1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 0.25em;
    padding: 0em;
    padding-top: 2em;
    max-width: 20%;
    text-align: left;
}

.webinar-item2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 0.25em;
    margin-right: 1em;
    padding: 0em;
    padding-top: 2em;
    max-width: 15%;
}

.webinar-item2 > img {
    width: 90%;
}

.blog-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.blog-tile > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;
    margin: 0.25em;
    max-width: 38%;
}

.blog-tile > div > h3 {
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
    text-align: left;
}

.blog-tile > div > p {
    text-align: left;
}

/*Section divider*/
.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*Hover effect*/
.pop-out {
    transition: all 0.2s ease;
    cursor: pointer;
}

.pop-out div p {
    margin-bottom: 0em;
}

.pop-out:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05);
}
