/* Style sheet for home page */

.index {
    background-image: linear-gradient(to bottom, transparent, white), url("../images/aspens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    font-size: 18px;
    padding: 50px 0;
    text-align: center;
}

.index-inner {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.index-inner h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 30px;
}

.index-inner .by-line {
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 30px;
}

.index a {
    color: white;
    text-decoration: underline;
}

.index-publish {
  color: black;
  margin: auto;
  padding-top: 1.5em;
  text-align: center;
  text-decoration: none;

}
.index-publish > h2 {
  font-size: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.index-column {
 flex: 1;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
}

.publish-tile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.publish-tile > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
  margin: 0.25em;
  padding: 0em;
  max-width: 10%;
}

.publish-tile > div > h3 {
  text-align: center;
  font-size: 1.75em;
  padding-top: 1em;
}

.publish-tile > div > img {
  width: 75%;
  padding-top: 1em;
}
.publish-tile > div > p {
  text-align: center;
  font-size: 1.0em;
  padding-top: 1em;
}

.list-tile > ul {
  list-style: none;
  font-size: 1.0em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.featured-tile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.featured-tile > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
  margin: 0.25em;
  padding: 2em;
  max-width: 20%;
}

.featured-tile > div > img {
  width: 100%;
}

.featured-tile > div > h2 {
  font-size: 2em;
  padding-bottom: 1em;
}

.webinar-tile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.webinar-item1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
  margin: 0.25em;
  padding: 0em;
  max-width: 25%;
  text-align: left;
}

.webinar-item2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
  margin: 0.25em;
  padding: 0em;
  max-width: 15%;
}

.webinar-item2 > img {
  width: 100%;
}

.blog-tile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.blog-tile > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
  margin: 0.25em;
  padding: 1em;
  max-width: 40%;
}

.blog-tile > div > h3 {
  padding-top: 0.75em;
}
