
.navbar {
    border-radius: 0px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #02377c;
    color: white;
}

.navbar-inverse {
    background-color: white;
    border-color: #0067a3;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #024bbf;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle {
    border-color: #eee;
}

.navbar {
    margin-bottom: 0;
}


a.navbar-brand.mb-0 {
    font-size: 2.0rem;
}

.navbar-brand img {
    width: 65px;
    margin-left: 60px;
    margin-right: 0;
}

.navbar-inverse .navbar-toggle {
    margin-top: 20px;
}

#last_nav_link {
    margin-right: 45px;
}

nav {
    padding: 10px;
    font-size: 17px;
    color: white;
    /*height: 85px;*/ /*This affects the collapsed menu on mobile devices*/
    background-color: #0073b7;
}

nav > a {
    color: white;
    margin-right: 10px;
}

.nav-expand-line {
    height: 2px;
    margin: 6px;
    background-color: white;
}

#navbarSupportedContent {
    background-color: white;
}

.nav hr {
    color: #676c6e;
    height: 1px;
    opacity: 100%;
    margin: auto;
}


/*Header*/

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

/* Drop down menu on mouse hover */

@media all and (min-width: 800px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
