/* style sheet for pages with a sidebar */

.container {
	display: flex;
}

.sidebar-aside {
    width: 25%;
    z-index: 0;
}

.sidebar-aside ul {
    list-style-type: none;
    padding-left: 15;
}

.btn-toggle-nav a { /*hover box size*/
  display: inline-flex;
  padding: .3rem .0rem;
  line-height: 1.2;
  font-size: 14;
}


.fw-semibold { font-weight: 600; }

.main-tutorial {
	width: 75%;
	padding: 1.5em;
	margin-left: 1.5em;
        border-radius: 0.5em;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #F1F3F4;
}
