/* style sheet for pages with a sidebar */

.container {
	display: flex;
}

.sidebar {
    width: 30%;
    background-color: #D3D3D3;
    border-radius: .5em;
    padding: 1.5em;
/*    padding-top: 9em;*/
}

.main-tutorial {
	width: 70%;
	padding: 1.5em;
	margin-left: 1.5em;
        border-radius: 0.5em;
}

.sidebar-inner {
    max-width: 80%;
    margin-bottom: 2em;
    color: black;
    padding: 1.5em 0;
    text-align: left;
}

.sidebar-inner h1 {
    text-align: left;
}
