:root {
  box-sizing: border-box;
    font-family: Arial, Source Sans Pro, Helvetica, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
    color: #222;
    margin: 0;
    padding: 0;
}

/* #content-wrap {
    padding-bottom: 0em;
} */

.main_content {
    position: relative;
    min-height: 100vh;
    background: #fff;
    margin: 0em;
    padding: 0 0 3em;
    line-height: 1.5;
}

.main_content hr {
    color: #676c6e;
    height: 0.4em;
    opacity: 100%;
    margin: auto;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main_content h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: rgb(36, 41, 47);
}	

.main_content h1 {
    font-size: 2rem;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 0.05rem solid;
    border-bottom-color: rgb(210, 205, 205);
}

.main_content h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5;
    border-bottom: 0.05rem solid;
    border-bottom-color: rgb(210, 205, 205);
}    

.main_content h3 {
    font-size: 1.25rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5;
}    

.main_content h4 {
    font-size: 1rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5;
}

.main_content h5 {
    font-size: 0.875rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5;
}

.main_content h6 {
    font-size: 0.85rem;
    color: rgb(87, 96, 106);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5;
}

.main_content p {
    color: rgb(36, 41, 47);
}

.main_content a {
    text-decoration: none;
}

.main_content ul, ol {
    padding-left: 2em;
}

footer {
    width: 100%;
/*    font-size: calc(0.5rem + 0.5vw); */
    font-size: 1rem;
}

.footer-top ul {
 text-align: center;
}

.footer-top h3 {
  margin-top: 1.5em;
  margin-bottom:0;
  color: white;
  font-weight: 400;
}

.footer-top img {
  min-width: 0;
  max-width: 20%;
  max-height: 4vmin;
}

.footer-top-logo img {
  float:right;
  min-width: 0;
  max-height: 5vmin;
  min-height: 0;
  margin-top: 3em;
  margin-right: 1em;
  max-width: 30%;
} 

.footer-bottom {
  margin-bottom: 2em;
}

.footer-bottom img {
  min-width: 0;
  max-height: 5vmin;
  min-height: 0;
  margin-right: 1em;
  max-width: 15%;
}

.footer-bottom p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-control {
    display: inline-block;
    border-radius: 0.125em;
    font-size: 1.25rem;
    padding: 0.4em;
}

.error-msg {
    color: #b30000;
}

.page-core {
    padding: 1.5em;
}

.logged-in {
    font-size: 1rem;
    color: white;
    background-color: #676c6e;
    padding-left: 0.35em;
    max-height: 1.5em;
    min-height: 1.5em;
}
