body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.right {
    text-align: right;
    padding-right: 50px;
}

.index {
    background-image: linear-gradient(to bottom, transparent, white), url("../images/aspens.jpg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    font-size: 18px;
    padding: 50px 0px;
    text-align: center;
}

.main_content hr {
    color: #676c6e;
    size: 10px;
    height: 5px;
    opacity: 100%;
    margin: auto;
}

.main_content {
    background: #fff;
    margin: 0px;
    padding: 0px 0px 50px;
}

.vision {
    color: black;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.vision p {
    color: black;
    text-align: center;
}

.index-inner {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.index-inner h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 30px;
}

.index-inner .by-line {
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 30px;
}

.index a {
    color: white;
    text-decoration: underline;
}

.form-control {
    display: inline-block;
    border-radius: 2px;
    font-size: 20px;
    padding: 8px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #676c6e;
}

.affiliation {
    padding-top: 20px;
}
.affiliation img {
    height: auto;
    padding: 10px;
}

footer a {
    color: #215093;
}

.error-msg {
    color: #b30000;
}

.page-core {
    padding: 20px;
}