<div metal:use-macro="load: ../../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>Fellowship Program - Frequently Asked Questions</h1>
<p>The 2-month ecological data management fellowship (mid-June to mid-August) is intended for undergraduate, graduate and recent postgraduate students. The Fellows receive training and support in data management by EDI and gain hands-on experience through participation in data preparation and publishing with scientists and information managers at specific host projects. The aim of the fellowship is to train students in ecological data management and support the host projects in achieving their data publishing goals. For more information, please visit our website: <a href="/support/dm-fellowships">EDI Data Management Fellowship Program</a>.</p>
<h3>Please contact support@edirepository.org with any questions regarding the fellowship program.</h3>
<h3>How many Fellows can EDI usually support?</h3>
<p>15 Fellows.</p>
<h3>What is the timeline for the Fellowship Program?</h3>
<ul>
<li>Informational webinar for potential host projects: October.</li>
<li>Application deadline for host projects: December.</li>
<li>EDI host project selection: January.</li>
<li>Informational webinar for potential Fellows: February.</li>
<li>Application process for Fellows: March.</li>
<li>Training workshop for Fellows: mid-June.</li>
<li>Engagement of Fellows with host projects on-site or remotely: mid-June to mid-August.</li>
</ul>
<h3>What is the application process for host projects?</h3>
<p>Host projects need to fill out an application form which will be reviewed by the EDI team. A brief description of the Fellow’s project and logistical information is required. See below for characteristics of a competitive application and regarding requirements for the host projects during the fellowship program.</p>
<p>What is EDI looking for in a good project proposal?</p>
<ul>
<li>Clear outline of the Fellow’s tasks aligning with one of two topics EDI is supporting:</li>
<li>Scope and number of datasets that the Fellow will be archiving and publishing.</li>
<li>Detailed workflow for data processing that enables reuse of data that the Fellow will be programming.</li>
<li>Naming a mentor who is readily available to answer the Fellow’s questions regarding data and metadata for the entire duration of the fellowship.</li>
<li>Strong indication of the intent to develop a sustainable data publishing strategy with the help of the Fellow and the EDI team.</li>
</ul>
<h3>What is EDI’s selection process for host projects?</h3>
<p>The EDI team will review the applications and rank them by the quality of the application and the need for data publishing support.</p>
<h3>What are EDI’s requirements for the host projects during the fellowship program?</h3>
<p>The host projects are required to provide the Fellow with access to data and personnel who are able to answer data-related questions in a timely manner.
Manual data entry should be limited to no more than 15% of the Fellow’s time.
All fellowship products must be published in the EDI data repository.
Provide a welcoming and supportive work environment.
In case of an on-site fellowship, providing room and board if the field station is located in a remote area.
Computer and reliable internet connection, unless the station is located very remotely in which case the Fellow might need to divide time between the station and an office or home base.</p>
<h3>Does the host organization have to have an existing data management plan or personnel for data management?</h3>
<p>No. The purpose of the fellowship is to help projects to develop a data management and publishing strategy that takes into account the project’s specific situation with respect to information management staff, types and amount of data. The goal is to match the project’s needs for data publishing support with EDI’s relatively wide range of services.</p>
<h3>You have an <a href="https://nes-lter.whoi.edu/our-edi-summer-fellow-developed-workflows-to-visualize-and-publish-ifcb-data/" rel="noopener noreferrer" target="_blank">example</a> on your website of a Fellow working at NES-LTER. How strict is the requirement that there be no data management plan established at the host institution?</h3>
<p>The NES-LTER Fellow programmed a workflow that processes marine imaging data into a format that makes the data easily usable. EDI does not exclude projects that have a data management plan in place and personnel for data publishing, but we prioritize projects that need more support.</p>
<h3>Is it a must for the Fellow to use the EDI data repository? What about other repositories, for example CUAHSI?</h3>
<p>We expect the data the Fellow is processing to be published in EDI since we are organizing and funding the fellowships.</p>
<h3>What are the funding needs for an applicant while working at a host site and how is this evaluated and established?</h3>
<p>The Fellows will receive a stipend of $6000 administered through the University of Wisconsin-Madison in two increments, one at the beginning of the fellowship, the second half at the halfway point, with the precondition of excellent performance as evaluated by EDI and the host site mentor. This stipend is intended to support the Fellow’s room and board at the host site as well as travel back home. EDI will pay for the Fellow’s travel to the host site if there are no UW-Madison travel restrictions due to COVID-19.</p>
<h3>Do host projects need to have a Fellow identified when they apply for hosting a Fellow?</h3>
<p>No, there will be an independent application process for the Fellows beginning in March. EDI will announce the fellowships through our and our collaborators’ email lists as well ESA’s ecolog.</p>
<h3>Is it typical for Fellows to remain involved with hosts after the summer period? Is there an expectation?</h3>
<p>There is no expectation that the Fellows stay involved with the hosts after the fellowship. In the past however, some Fellows were hired by their host projects or remained connected based on research collaborations.</p>
<h3>What is the application process for potential Fellows?</h3>
<ul>
<li>Informational webinar for potential Fellows is held in March</li>
<li>Application process for Fellows begins in March</li>
<li>Applicants can apply to all of the host projects of their interest.</li>
<li>Undergraduate, graduate and recent postgraduate students are considered who are at least 18 years of age by the program start date and must currently reside in, and be eligible to work in, the United States.</li>
<li>Fellows will be selected in an interview process by the host projects’ mentors.</li>
<li>Each Fellow will receive a stipend of $6000 which will be administered through the University of Wisconsin-Madison.</li>
</ul>
<h3>What are requirements for Fellows during the Fellowship Program?</h3>
<ul>
<li>The fellowship is preceded by a mandatory three-day online data publishing workshop held in June. During the workshop, the Fellows learn about data cleaning, metadata content, the Ecological Metadata Language (EML) and how to publish data in the EDI data repository.</li>
<li>The fellowship program requires full-time commitment to the training activities. No other employment is permitted during the fellowship.</li>
<li>Fellows are required to participate in bi-weekly online meetings with EDI staff, present their work at a final online meeting, and write a one-page report describing their work &amp; results and how the fellowship benefits their professional development at the end of the fellowship program.</li>
</ul>
</main>
</div>
</div>
</div>
