<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<main class="basic-inner">
<h1>2019 Fellowship Program</h1>
<div class="figure_featured" style="width: 40%; margin-right: 2em;">
<figure style="float: right; margin: 3em 1em 1em 4em;">
<img alt="EDI Fellows 2019" src="/static/images/edi-fellows-2019.jpg"/>
<figcaption class="figure-caption">Fellows and EDI team members at the data publishing workshop at UNM in Albuquerque, NM (June 2019). From left in back: Katherine Le, Vanessa Bailey, Craig Garzella, Samantha Thomas, Alexis Garretson, Susamme Grossman-Clarke (EDI), Jana Gedymin Viel, Maureen Lynch. From left front: Sylvia Kim, Georgia Titcomb, Amalia Handler, Katherine Qi, Colin Smith (EDI)</figcaption>
</figure>
</div>
<p><br/></p>
<h2>About</h2>
<p>We successfully completed our second EDI Summer Fellowship Program (10 June – 9 August 2019). We supported nine fellows at host sites located in different parts of the country, studying a large variety of ecosystems, with the host institutions differing in size and data management resources. For a list of host sites, on-site mentors and fellows, see below. </p>
<p>Each fellow made a significant contribution to publishing the host site’s data, for long-term data preservation, making the data discoverable (in the <a href="https://portal.edirepository.org/nis/advancedSearch.jsp" rel="noopener noreferrer" target="_blank">EDI data repository</a>, <a href="https://www.dataone.org/" rel="noopener noreferrer" target="_blank">DataONE</a> and by internet searches) as well as to fulfill the requirements of scientific journals and funding agencies such as the National Science Foundation. We also supported the development and publishing of a workflow for marine image analysis.</p>
<h2>Host projects and mentors for training program</h2>
<ul>
<li>
<h4><a href="https://www.esf.edu/aec/" rel="noopener noreferrer" target="_blank">Adirondack Ecological Center, State University of New York College of Environmental Science and Forestry</a>. Location: Newcomb, NY. Mentor: Stacy McNulty (smcnulty@esf.edu), Fellow: Maureen Lynch</h4>
<ul>
<li>**Project description: Adirondack Long-Term Ecological Monitoring Program Data – Wildlife, Habitat and Ecosystem Fellowship.</li>
</ul>
</li>
</ul>
<h2>Highlights</h2>
<h2>Testimonials</h2>
<p>“I benefited greatly from the EDI summer fellowship program. The workshop in Albuquerque exposed me to data concepts that I hadn’t thought of before and improved my knowledge of data management best practices. Learning about metadata and the Ecological Metadata Language prepared me to help the people at the Baruch Institute of Coastal Ecology and Forest Science with their data. Working with data at the field station further gave me hands-on experience with different ecological data, their nuances, and associated troubleshooting. EDI support allowed the repository upload process to occur smoothly. I’ve made so many wonderful connections with other ecologists and data managers from this program. I feel extremely fortunate for the opportunity and hope to apply the skills I learned to my own data management in the future.”</p>
<p>– Vanessa Bailey | Fellow at Baruch Institute of Coastal Ecology and Forest Science, Field Station –</p>
<h2>Published data packages</h2>
</main>
</div>
</div>
</div>