<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>Interagency Ecological Program: Zooplankton abundance in the Upper San Francisco Estuary from 1972-2021, an integration of 7 long-term monitoring programs</h2>
<p>April XX, 2023</p>
<p>EDI</p>
<h3>Citation</h3>
<p>Bashevkin, S.M., R. Hartman, M. Thomas, A. Barros, C.E. Burdi, A. Hennessy, T. Tempel, K. Kayfetz, K. Alstad, and C. Pien. 2023. Interagency Ecological Program: Zooplankton abundance in the Upper San Francisco Estuary from 1972-2021, an integration of 7 long-term monitoring programs ver 4. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/8b646dfbeb625e308212a39f1e46f69b" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/8b646dfbeb625e308212a39f1e46f69b</a> (Accessed 2023-03-22).</p>
<h3>Description</h3>
<p>The upper San Francisco Estuary is an inland inverse delta formed by the confluence of 5 major rivers that drain 40% of the land in California (USA). It is a central hub of water delivery in California and home to a number of commercially important and endangered fish, such as Chinook Salmon, Green Sturgeon, and Delta Smelt. To monitor the environmental impacts of water exports from this system, extensive ecological monitoring has been conducted since the 1960s. To track lower trophic levels, zooplankton abundance has been monitored from 1972 to present. Starting with just one survey (the CA Department of Water Resources’ [CDWR] and California Department of Fish and Wildlife’s [CDFW] Environmental Monitoring Program) in 1972, the suite of zooplankton surveys gradually expanded with time. Several surveys traditionally focused on monitoring fish abundance added zooplankton nets to their sampling programs. </p>
<p>The CDFW 20-mm larval fish survey added zooplankton sampling in 1995, the CDWR Yolo Bypass Fish Monitoring Program add zooplankton in 1999, the CDFW Summer Townet Survey added zooplankton in 2005, and the Fall Midwater Trawl added zooplankton in 2007. Two new sampling programs, the Fish Restoration Program and Directed Outflow Project, began in 2015 and 2017, respectively. All sampling programs continue today. </p>
<p>Each survey samples once or twice monthly at set of fixed or random stations that varies across surveys depending on their objectives. While the Environmental Monitoring Program samples year-round, the other surveys are mostly seasonal, although additional months were sampled in some years. Most surveys target open channels although the Fish Restoration Program samples in or near shallow tidal wetlands. Three size classes of zooplankton are targeted by these sampling programs with different net mesh sizes: micro zooplankton (copepods and rotifers) are targeted with a 43 µm mesh net, meso zooplankton (copepods and cladocerans) are targeted with 150 - 160 µm mesh nets, and macro zooplankton (mysids and amphipods) are targeted with 500-505 µm mesh nets. </p>
<p>We have integrated data from all 7 surveys and 3 size classes into a powerful long-term record of zooplankton in the San Francisco Estuary, representing over 80,000 zooplankton samples and over 2 billion estimated zooplankton captured by the nets in these surveys. </p>
<p>Researchers in the San Francisco estuary have been really excited about this integrated dataset, because it allows them to answer bigger questions more easily. To make the data even more accessible, we (mostly Sam) developed a Shiny app to allow people to visualize, subset, and download the data they need. https://deltascience.shinyapps.io/ZoopSynth/</p>
<p>Over the duration of this zooplankton dataset, the zooplankton community species composition has almost completely turned over after a series of species invasions from East Asia, numerous drought cycles have come and gone, and important fish species have dramatically declined during the Pelagic Organism Decline in 2002, likely due in part to reduced food supply from zooplankton. </p>
<p>Data from the individual surveys have been used in prior studies to investigate issues related to species invasions, flows, fish diets and population dynamics, zooplankton population dynamics, and community ecology. Our integrated dataset offers new and unparalleled spatiotemporal resolution to address these and other questions with greater statistical power.</p>
<p>This work wouldn't be possible without the The field staff and taxonomists that provided the data going into this dataset are phenomenal scientists. They are an incredible resource and do not receive enough praise for their work.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<a href="/static/images/featured_data/dwr-1.jpg">
<img alt="Processing zooplankton samples." src="/static/images/featured_data/dwr-1.jpg"/>
</a>
<figcaption class="figure-caption">Processing zooplankton samples.</figcaption>
</figure>
</div>
<div>
<div class="gallery">
<a href="/static/images/featured_data/Tortanus eating northern anchovy.jpg">
<img alt="Tortanus eating northern anchovy" id="pickme" src="/static/images/featured_data/Tortanus eating northern anchovy.jpg"/>
</a>
<a href="/static/images/featured_data/Bosmina.jpg">
<img alt="Bosmina" src="/static/images/featured_data/Bosmina.jpg"/>
</a>
<a href="/static/images/featured_data/FallX2_02002_EurytemoraFemale_442.jpg">
<img alt="Eurytemora female" src="/static/images/featured_data/FallX2_02002_EurytemoraFemale_442.jpg"/>
</a>
<a href="/static/images/featured_data/FallX2_02002Pseudo_429.jpg">
<img alt="Pseudo" src="/static/images/featured_data/FallX2_02002Pseudo_429.jpg"/>
</a>
<a href="/static/images/featured_data/FX2_0459_Ceriodaphnia_739.jpg">
<img alt="Ceriodaphnia" src="/static/images/featured_data/FX2_0459_Ceriodaphnia_739.jpg"/>
</a>
<a href="/static/images/featured_data/Mysids_258.jpg">
<img alt="Mysids" src="/static/images/featured_data/Mysids_258.jpg"/>
</a>
<a href="/static/images/featured_data/Ostracod.jpg">
<img alt="Ostracod" src="/static/images/featured_data/Ostracod.jpg"/>
</a>
</div>
<div>
<p class="figure-caption" style="color: #6c757d">A collection of zooplankton imaged throughout the project. From left to right: 1. Tortanus eating northern anchovy; 2. Bosmina; 3. Eurytemora female; 4. Pseudo; 5. Mysids; 6. Ostracod.</p>
</div>
</div>
<h3>Related resources</h3>
<p>The Interagency Ecological program has a blog, and we highlighted this dataset and process a while back: https://iep.ca.gov/Science-Synthesis-Service/Directed-Studies-Synthesis/Blog/zoopsynth</p>
<p>We also published a data paper about this dataset:</p>
<p>Bashevkin SM, Hartman R, Thomas M, Barros A, Burdi CE, Hennessy A, Tempel T, Kayfetz K. 2022. Five decades (1972–2020) of zooplankton monitoring in the upper San Francisco Estuary. PLOS ONE. 17(3):e0265402.[accessed 2022 May 17] doi: https://doi.org/10.1371/journal.pone.0265402</p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>