<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>Influence of soil amendment and crop species on nutrient cycling in a St. Paul urban garden</h2>
<p>April XX, 2023</p>
<p>EDI</p>
<h3>Citation</h3>
<p>Small, G.E. and P. Shrestha. 2023. Influence of soil amendment and crop species on nutrient cycling in a St. Paul urban garden ver 2. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/ddd5a86cf96bea95096c782b6c979d62" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/ddd5a86cf96bea95096c782b6c979d62</a> (Accessed 2023-03-21).</p>
<h3>Description</h3>
<p>Urban agriculture is expanding globally and can recycle nutrients from food waste back into the human food system. However, imbalanced compost application can cause nutrient losses and pollution. This dataset is a part of a larger study investigating nutrient dynamics in urban agriculture and quantifying its impact on the Minneapolis-Saint Paul urban ecosystem. This study has provided research opportunities for more than 60 undergraduate students and high school interns.</p>
<p>Data archived here are from a 6-year experiment in which replicated garden plots receive annual inputs of different types and amounts of compost, and fluxes of water and nutrients were quantified.</p>
<div>
<div class="gallery">
<a href="/static/images/featured_data/msp-1.png">
<img alt="Measuring nutrient leachate with lysimeters." src="/static/images/featured_data/msp-1.png"/>
</a>
<a href="/static/images/featured_data/msp-2.png">
<img alt="Measuring nutrient leachate with lysimeters." src="/static/images/featured_data/msp-2.png"/>
</a>
<a href="/static/images/featured_data/msp-3.png">
<img alt="Measuring cabbage wet mass." src="/static/images/featured_data/msp-3.png"/>
</a>
</div>
<div>
<p class="figure-caption" style="color: #6c757d">Scenes from the experiment conducted between 2017-2022 at the University of St. Thomas research garden (Saint Paul, MN) to determine rates of nutrient recycling and loss from compost applied to urban gardens: 1.) Thirty-two 4 square-meter study plots received one of six different soil amendment treatments, with four different crops growing on each plot; 2.) Leachate was collected from lysimeters installed in each of the 132 subplots weekly from June-October of each year; 3.) Measuring annual crop harvest total wet mass from each subplot.</p>
</div>
</div>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>