<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>Influence of soil amendment and crop species on nutrient cycling in a St. Paul urban garden</h2>
<p>March XX, 2023</p>
<p>EDI</p>
<h3>Citation</h3>
<p>Small, G.E. and P. Shrestha. 2023. Influence of soil amendment and crop species on nutrient cycling in a St. Paul urban garden ver 2. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/ddd5a86cf96bea95096c782b6c979d62" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/ddd5a86cf96bea95096c782b6c979d62</a> (Accessed 2023-03-21).</p>
<h3>Description</h3>
<p>Urban agriculture is expanding globally and can recycle food waste nutrients. However, imbalanced compost application can cause nutrient losses and pollution. This dataset is a part of a larger study investigating nutrient dynamics in urban agriculture and quantifying its impact on the ecosystem in Minnesota. </p>
<p>The project collected data from urban farms and community gardens and analyzed nutrient budgets and soil and leachate nutrient levels. Additionally, the research conducted a controlled experiment on compost type and application rate and simulated rainfall intensity. One of the studies aims was to estimate cumulative nutrient fluxes from urban agriculture at a city scale and provided research opportunities for undergraduate students and high school interns.</p>
<p>Below are some scenes from the experiment conducted between 2017-2021 at the University of St. Thomas research garden (Saint Paul, MN) to determine rates of nutrient recycling and loss from compost applied to urban gardens. </p>
<div class="figure_featured" style="width: 75%;">
<figure>
<a href="/static/images/featured_data/msp-1.png">
<img alt="Experimental garden plots." src="/static/images/featured_data/msp-1.png"/>
</a>
<figcaption class="figure-caption">Thirty-two 4 square-meter study plots received one of six different soil amendment treatments, with four different crops growing on each plot.</figcaption>
</figure>
</div>
<div class="figure_featured" style="width: 55%;">
<figure>
<a href="/static/images/featured_data/msp-2.png">
<img alt="Measuring nutrient leachate with lysimeters." src="/static/images/featured_data/msp-2.png"/>
</a>
<figcaption class="figure-caption">Leachate was collected from lysimeters installed in each of the 132 subplots weekly from June-October of each year.</figcaption>
</figure>
</div>
<div class="figure_featured" style="width: 45%;">
<figure>
<a href="/static/images/featured_data/msp-3.png">
<img alt="Measuring cabbage wet mass." src="/static/images/featured_data/msp-3.png"/>
</a>
<figcaption class="figure-caption">Measuring annual crop harvest total wet mass from each subplot.</figcaption>
</figure>
</div>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>