<main class="main-tutorial">
<h1>Featured Data</h1>
<h2>Plot-level Field Data and Model Simulation Results from Summer 2017 Sampling of 2016 Short-interval Fires in Greater Yellowstone</h2>
<p>May 1, 2019</p>
<p>Susanne Grossman-Clarke</p>
<h3>Citation</h3>
<p>Turner M. G., K. H. Braziunas, W. D. Hansen, B. J. Harvey. 2019. Plot-level field data and model simulation results, archived to accompany Turner et al. manuscript; reports data from summer 2017 sampling of short-interval fires that burned during summer 2016 in Greater Yellowstone. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/a1b7791376a04ce8c6ea9043547bb6af" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/a1b7791376a04ce8c6ea9043547bb6af</a>.</p>
<h3>Description</h3>
<p><strong>This data package is archived to accompany the paper by Turner et al. (2019).</strong></p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="researchers" src="/static/images/featured_data/berry-fire-site.png"/>
<figcaption class="figure-caption">Jacob Gold and Monica Turner recording data where the 2016 Berry Fire reburned young lodgepole pines that had regenerated after the 2000 Glade Fire; the area shown here was a servere surface fire that killed but did not consume the young trees. (Photo by Deirdre Turner, July 2017)</figcaption>
</figure>
</div>
<p>Subalpine forests in the northern Rocky Mountains have been resilient to stand-replacing fires that historically burned at 100–300-yr intervals. Fire intervals are projected to decline drastically as climate warms, and forests that reburn before recovering from previous fire may lose their ability to rebound. We studied recent fires in Greater Yellowstone (Wyoming, USA) and asked whether short-interval (less than 30 yrs) stand-replacing fires can erode lodgepole pine (Pinus contorta var. latifolia) forest resilience via increased burn severity, reduced early postfire tree regeneration, reduced carbon stocks, and slower carbon recovery. During 2016, fires reburned young lodgepole pine forests that regenerated after wildfires in 1988 and 2000. During 2017, we sampled 0.25-ha plots in stand-replacing reburns (n=18) and nearby young forests that did not reburn (n=9). We also simulated stand development with and without reburns to assess carbon recovery trajectories.</p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="researcher" id="pickme" src="/static/images/featured_data/berry-recording-data.png"/>
<figcaption class="figure-caption">Kristin Braziunas recording data in an area of high-severity fire within the 2016 Berry Fire. Tall trees in the background were survivors of the 2000 Glade Fire. Most of the small young pines that had regenerated after the Glade Fire were combusted at this site. (Photo by Monica Turner, July 2017)</figcaption>
</figure>
</div>
<p>Nearly all prefire biomass was combusted (“crown fire plus”) in some reburns in which prefire trees were dense and small (≤ 4 cm basal diameter). Postfire tree seedling density was reduced six-fold relative to the previous (long-interval) fire, and high-density stands (greater than 40,000 stems ha-1) were converted to sparse stands (less than 1,000 stems ha-1). In reburns, coarse wood biomass and aboveground carbon stocks were reduced by 65% and 62%, respectively, relative to areas that did not reburn. Increased carbon loss plus sparse tree regeneration delayed simulated carbon recovery by greater than 150 yrs. Forests did not transition to nonforest, but extreme burn severity and reduced tree recovery foreshadow an erosion of forest resilience.</p>
<h3>References</h3>
<p>Monica G. Turner, Kristin H. Braziunas, Winslow D. Hansen, Brian J. Harvey (2019) Short-interval severe fire erodes the resilience of subalpine lodgepole pine forests.  Proceedings of the National Academy of Sciences. DOI: 10.1073/pnas.190284111. </p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>