<main class="main-tutorial">
<h1>Featured Data</h1>
<h2>Virgin Islands National Park: Coral Reef: Population Dynamics: Scleractinian Corals</h2>
<p>March 1, 2019</p>
<p>Susanne Grossman-Clarke</p>
<h3>Citation</h3>
<p>Edmunds P. 2019. Virgin Islands National Park: Coral Reef: Population Dynamics: Scleractinian corals. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/8cd311eae47675f714717fe78c737634" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/8cd311eae47675f714717fe78c737634</a>.</p>
<h3>Description</h3>
<p>These data are evidence of the long-term dynamics of shallow coral reefs along the south coast of St. John from as early as 1987. The data describe coral reef community structure as percent cover based on the analysis of color photographs. All of these data originate from color images of photoquadrats recorded annually (usually in the summer) from as early as 1987. The data falls into three groups. The two groups that are contained in this data package are (1) Tektite &amp; Yawzi and (2) Random sites. The juvenile coral density is packaged separately.</p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="researcher" id="pickme" src="/static/images/featured_data/coral_reefs_virgin_islands_1.png"/>
<figcaption class="figure-caption">Shallow coral reefs along the south coast of St. John (US Virgin Islands territory).</figcaption>
</figure>
</div>
<p><strong>Tektite</strong> is at 14 m depth on the eastern side of Great Lameshur Bay and is the original site of the Tektite man-in-the sea project (1969). The Tektite man-in-the sea project marked the birth of the Virgin Islands Ecological Research Station (later the Virgin Islands Environmental Resource Station) that hosts the field component of the project. The reef in this location consists of a single buttress that has remained dominated by Montastraea anularis since the start of the research (1987). Yawzi is at 9 m depth and is on the western side of Great Lameshur Bay and has been recorded photographically since 1987. This reef also started the study period dominated by Montastraea annularis, but has degraded much more rapidly than the Tektite site.</p>
<p>At each site, the survey consists of 30 photoquadrats (1 x 1 m) distributed along three, 10 m transects. <strong>Random sites</strong> were added in 1992 to address the concern that the original sites (Yawzi and Tektite) were selected on “good” areas of reef and, therefore, could only decline in condition. The random sites were selected using random coordinates in 1992, and consist of 6 sites (at 7-9 m depth) scattered between Cabritte Point and White Point. All lie a little shoreward of Yawzi and Tektite, and have always been characterized by low coral cover (&lt; 10% cover). Alltogether, the surveys consist of 18-40 photoquadrats (0.5 x 0.5 m; with sample size determined by the exposures on a 35 mm cassette versus digital techniques) that are placed at random points along a transect.</p>
<h3>References</h3>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>