<main class="main-tutorial">
<h1>Featured Data</h1>
<h2>Teaching Modules “Macrosystems EDDIE 1-3”</h2>
<p>February 1, 2020</p>
<p>Susanne Grossman-Clarke</p>
<h3>Citation</h3>
<p>Carey, C.C., S. Aditya, K. Subratie, R.J. Figueiredo, and K.J. Farrell. 2018. Macrosystems EDDIE Module 1: Climate Change Effects on Lake Temperatures ver 2. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/f7c4c245f495d859dcaa4ff6794d1fac" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/f7c4c245f495d859dcaa4ff6794d1fac</a>.</p>
<p>Carey, C.C. and K.J. Farrell. 2019. Macrosystems EDDIE Module 2: Cross-Scale Interactions ver 1. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/28f233002e2e1b6c8d412992e378358f" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/28f233002e2e1b6c8d412992e378358f</a>.</p>
<p>Farrell, K.J. and C.C. Carey. 2019. Macrosystems EDDIE Module 3: Teleconnections ver 4. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/89ffc527545f581290a7c19c5cbb7163" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/89ffc527545f581290a7c19c5cbb7163</a>.</p>
<h3>Description</h3>
<p>These data packages were developed as part of the <a href="https://serc.carleton.edu/eddie/macrosystems/index.html" rel="noopener noreferrer" target="_blank">Macrosystems EDDIE program</a> by <a href="https://carey.biol.vt.edu/" rel="noopener noreferrer" target="_blank">Cayelan Carey</a> and Kaitlin Farrell (Department of Biological Sciences, Virginia Tech). The data packages demonstrate an educational use case of data (Farrell and Carey 2018) and the role of data repositories in facilitating science education by having data and metadata readily available for use by teachers and students. Educational use of data packages also furthers students’ data and repository literacy, an important skill for research careers. Macrosystems EDDIE is supported by NSF’s Macrosystems Biology program (NSF EF-1702506 and DEB-1926050).</p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="group of students" src="/static/images/featured_data/ecology-undergrads.png"/>
<figcaption class="figure-caption">Photo: Students in ecology undergraduate course learn R and modeling skills. Credits to C. Carey and K. Farrell.</figcaption>
</figure>
</div>
<p>The data packages contain interconnected teaching modules with the overarching goal for students to explore new modeling and computing tools while learning fundamental concepts about how non-linear macrosystem-level phenomena can occur through cross-scale interactions. In these modules students will learn how to set up a lake model (General Lake Model – GLM, Hipsey et al. 2014; 2019) and “force” the model with climate scenarios of their own design. Once students have mastered running one climate scenario for their lake, they will learn how to use distributed computing tools to scale up and run hundreds of different climate scenarios for their lakes. Students will also be able to test hypotheses about:</p>
<ul>
<li>How lakes may change in the future, specifically test hypotheses about how local and regional drivers interact to promote or suppress phytoplankton blooms in different lakes.</li>
<li>How far-away drivers interact with local lake characteristics to affect lake temperatures and ice cover in different lakes.</li>
</ul>
<p>The A-B-C structure of these module makes it flexible and adaptable to a range of student levels and course structures. These data packages contain instructional materials and the files necessary to run the complete module.</p>
<h3>References</h3>
<p>Farrell, K.J. and C.C. Carey (2018) Power, pitfalls, and potential for integrating computational literacy into undergraduate ecology courses. Ecology and Evolution 8(16), p. 7744-7751, doi:10.1002/ece3.4363.(https://onlinelibrary.wiley.com/doi/abs/10.1002/ece3.4363)</p>
<p>Hipsey, M.R. et al. (2019) A General Lake Model (GLM 3.0) for linking with high-frequency sensor data from the Global Lake Ecological Observatory Network (GLEON). <a href="http://hdl.handle.net/10919/88827" rel="noopener noreferrer" target="_blank">http://hdl.handle.net/10919/88827</a>.</p>
<p>Hipsey, M.R., Bruce, L.C. and D.P. Hamilton (2014) GLM – General Lake Model: Model overview and user information. Perth (Australia): University of Western Australia.</p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>