<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>Multidecadal Time Series of Measured Chlorophyll-a in Lakes and Estuarine-Coastal Ecosystems, 1966-2024</h2>
<p>July 10, 2025</p>
<p>Jim Cloern, Susanne Grossman Clarke</p>
<h3>Citation</h3>
<p>Cloern, J. and A.D. Jassby. 2024. Multidecadal Time Series of Measured Chlorophyll-a in Lakes and Estuarine-Coastal Ecosystems, 1966-2024 ver 1. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/dd706bbd8bae2386517d3bf20be02396" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/dd706bbd8bae2386517d3bf20be02396</a>.</p>
<h3>Description</h3>
<p>A core focus of EDI is the curation and dissemination of long-term ecological datasets, which are essential for detecting and understanding ecological trends. These datasets include extensive contributions from the U.S. Long-Term Ecological Research (LTER) Network, the National Ecological Observatory Network (NEON) and federal and state agencies, among them the United States Geological Survey (USGS).  </p>
<p>The featured data publication by Jim Cloern (Emeritus Senior Scientist; USGS) and Alan Jassby (Research Ecologist Emeritus; University of California, Davis) represents one of the most comprehensive global compilations of long-term chlorophyll-a (chl-a) records. It contains multidecadal time series of measured chl-a concentration in three ecosystem types: 134 freshwater lakes, that do not freeze; 78 high latitude lakes that do freeze; and 176 coastal ecosystems defined as water bodies where freshwater and seawater mix, including estuaries, coastal bays and lagoons, tidal rivers, and the Baltic Sea. All observations were made at monthly or higher frequency and sustained over multiple decades. Most of the chl-a measurements were accessed from published repositories.</p>
<p>The photosynthetic pigment chl-a is a commonly measured index of phytoplankton biomass and water quality across all aquatic ecosystem types. Nutrient pollution degrades water quality by increasing phytoplankton biomass and subsequent occurrences of harmful algal blooms, while decreasing oxygen concentrations. </p>
<p>This data set supports research on understanding phytoplankton variability over time and detecting decadal-scale trends, assessing phytoplankton responses to climate and environmental change and comparing patterns and rates of change across different aquatic ecosystems.</p>
<p>This data publication is the basis for the recent paper <em>“Chlorophyll trends are negative for lakes but positive for estuarine–coastal waters”</em> by Cloern and Jassby published in the Proceedings of the National Academy of Sciences (Cloern and Jassby, 2025). The study assessed trends in phytoplankton biomass from 2000 to 2019, showing that phytoplankton biomass in lakes generally declined, while it increased in most coastal sites. The study underlines the policy challenges for reducing phytoplankton biomass at the land-sea interface.</p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="Sampling water quality" src="/static/images/featured_data/july_2025_2.jpg"/>
</figure>
</div>
<p>Chlorophyll-a concentration has been measured in San Francisco Bay by the USGS since 1978. This data package includes multidecadal chlorophyll-a measurements from 388 lakes and other estuarine-coastal ecosystems.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<img alt="Chlorophyll concentration trends" id="pickme" src="/static/images/featured_data/july_2025_1.jpg"/>
</figure>
</div>
<p>Trends of log-transformed chlorophyll-<em>a</em> concentration for 350 estuarine-coastal (red) and lake (blue) sites during 2000-2019. The inset shows the cumulative distribution plot of <em>p</em>-values for trends exceeding 0.01 a-1 in absolute magnitude.</p>
<h3>References</h3>
<p>J.E. Cloern, &amp; A.D. Jassby (2025) Chlorophyll trends are negative for lakes but positive for estuarine–coastal waters, Proc. Natl. Acad. Sci. U.S.A. 122 (28) e2502289122, <a href="https://doi-org.ezproxy.library.wisc.edu/10.1073/pnas.2502289122" rel="noopener noreferrer" target="_blank">https://doi-org.ezproxy.library.wisc.edu/10.1073/pnas.2502289122</a>.</p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>