<main class="main-tutorial">
<h1>Featured Data</h1>
<h2>Savannah River Site Corridor Experiment (SC, USA): Annual Plant Occurrence Dataset, 2000 – current</h2>
<p>October 1, 2019</p>
<p>Susanne Grossman-Clarke</p>
<h3>Citation</h3>
<p>Damschen E. I., L. A. Brudvig, M. A. Burt, R. J. Fletcher, N. M. Haddad, D. J. Levey, J. L. Orrock, J. Resasco, J. J. Tewksbury. 2019. SRS Corridor Experiment Annual Plant Occurrence Dataset, South Carolina, USA, 2000 – current. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/ea07f86ced76a28f8cb843f517959e0b" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/ea07f86ced76a28f8cb843f517959e0b</a>. Dataset accessed 10/11/2019.</p>
<h3>Description</h3>
<p><strong>Results derived from this data package were recently published in the journal Science (<a href="https://science.sciencemag.org/content/365/6460/1478" rel="noopener noreferrer" target="_blank">Damschen et al. 2019</a>).</strong></p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="scientist in field with trees" src="/static/images/featured_data/damschen.png"/>
<figcaption class="figure-caption">Ellen Damschen (above) and the research team estimated the annual colonization and extinction rates for each of 239 species in connected vs. unconnected longleaf pine fragments. The average annual colonization rate across those 239 species was reported to be 5% higher in corridor-connected patches and the average annual extinction rate dropped by 2% (credit: Julian Resasco).</figcaption>
</figure>
</div>
<p>Deleterious effects of habitat fragmentation and benefits of connecting fragments could be significantly underestimated because changes in colonization and extinction rates that drive changes in biodiversity can take decades to accrue. This dataset includes long-term colonization and extinction rates and plant species richness data based on plant occupancy records from experimental landscapes that manipulate habitat connectivity through the presence of habitat corridors, while controlling for patch area and shape. The experimental landscapes are located at the Savannah River Site near Aiken, SC, USA (i.e., “SRS Corridor Experiment”).</p>
<div class="figure_featured" style="width: 50%;">
<figure>
<img alt="scientist in field with trees" id="pickme" src="/static/images/featured_data/butterfly-milkweed.png"/>
<figcaption class="figure-caption">Butterfly milkweed (Asclepias tuberosa) and thousands of other species of plants and insects are associated with longleaf pine savanna (credit: Ellen Damschen).</figcaption>
</figure>
</div>
<p>An analysis of the data from this large and well-replicated habitat fragmentation experiment was recently published in the journal Science (Damschen et al. 2019). The authors find that annual colonization rates for 239 plant species in connected fragments are 5% higher and annual extinction rates 2% lower than in unconnected fragments. This has resulted in a steady, nonasymptotic increase in diversity, with nearly 14% more species in connected fragments after almost two decades. The results show that the full biodiversity value of connectivity is much greater than previously estimated, cannot be effectively evaluated at short time scales, and can be maximized by connecting habitat sooner rather than later.</p>
<p>For an interview with the lead author, Ellen Damschen and co-author John Orrock (both professors of integrative biology at the University of Wisconsin–Madison), for the University of Wisconsin-Madison News please see here. The authors point out that connecting small, restored patches of savanna to one another via habitat corridors at the SRS site has the potential to be a conservation solution that can protect existing species and restore lost habitat.</p>
<h3>References</h3>
<p>Damschen, E.I. , Brudvig, L.A., Burt, M.A., Fletcher Jr., R.J., Haddad, N.M., Levey, D.J., Orrock, J.L., Resasco, J. and J.J. Tewksbury (2019) Ongoing accumulation of plant diversity through habitat connectivity in an 18-year experiment. Science, 365(6460), pp. 1478-1480. <a href="https://science.sciencemag.org/content/365/6460/1478" rel="noopener noreferrer" target="_blank">DOI: 10.1126/science.aax8992</a>.</p>
<h3><a href="/featured_data/featured-grid">All featured data contributions</a></h3>
</main>