<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

        <main>

            <section class="py-2 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Featured Data Contributions</h1>
                        <p class="lead text-muted">We regularly highlight data packages that stand out with respect to
                            the published data and associated publications, or are used in unique and exemplary ways,
                            such as teaching and data sharing. </p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/daphnia_magna_asexual.jpg'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Effects of Copper Sulfate Toxicity on Multiple
                            Phytoplankton and Animals in Standardized Aquatic Microcosms</p>
                                    <p class="text-muted">March 1, 2022</p>
                                    <a href="/featured/featured-20220301.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/verhoeven-2017-calag.jpg'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark">The Global Nitrous Oxide Database</p>
                                    <p class="text-muted">January 1, 2022</p>
                                    <a href="/featured/featured-20220101.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/monarchs.jpg'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Journey North – Hummingbird and Monarch Butterfly Observations by Volunteer Community Scientists Across Central and North America (1996-2020)</p>
                                    <p class="text-muted">November 1, 2021</p>
                                    <a href="/featured/featured-20211101.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/ovenbird.png'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Calling activity of Birds in the White Mountain National Forest: Audio Recordings (2016 and 2018)</p>
                                    <p class="text-muted">September 1, 2021</p>
                                    <a href="/featured/featured-20210901.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/bogong-researcher.jpg'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Effects of Nutrient Enrichment on Grassland Biomass and Plant Diversity Across the Globe</p>
                                    <p class="text-muted">July 1, 2021</p>
                                    <a href="/featured/featured-20210701.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark"></p>
                                    <p class="text-muted"></p>
                                    <a href="/featured/" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark"></p>
                                    <p class="text-muted"></p>
                                    <a href="/featured/" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark"></p>
                                    <p class="text-muted"></p>
                                    <a href="/featured/" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"
                                     style="background-image: url('../../static/images/featured_data/'); background-size: cover;">
                                </svg>
                                <div class="card-body">
                                    <p class="fw-bold text-dark"></p>
                                    <p class="text-muted"></p>
                                    <a href="/featured/" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>