<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>MacroSheds: a synthesis of long-term biogeochemical, hydroclimatic, and geospatial data from small watershed ecosystem studies</h2>
<p>November XX, 2023</p>
<p>Michael Vlah</p>
<h3>Citation</h3>
<p>Vlah, M., S. Rhea, W. Slaughter, E. Bernhardt, N. Gubbins, A. DelVecchia, A. Thellman, and M.R. Ross. 2023. MacroSheds:
a synthesis of long-term biogeochemical, hydroclimatic, and geospatial data from small watershed ecosystem studies
ver 1. Environmental Data Initiative. https://doi.org/10.6073/pasta/c8d6d29703f14735bf24cd8cebe91f24 (Accessed 2023-09-03).</p>
<h3>Description</h3>
<p>The MacroSheds project aims to catalyze large-scale and ongoing synthetic research by watershed ecosystem scientists,
with the goal of developing generalities and theories that apply across scales (McDonnell et al. 2007). The heart of the
project is the <a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=1262" rel="noopener noreferrer" target="_blank">MacroSheds dataset</a>, currently
harmonizing streamflow, precipitation, and chemistry data from the Long Term Ecological Research program (LTER), the
Critical Zone Network of observatories (CZO/CZ Net), the US Forest Service, and other programs from the national to the
municipal. It provides comprehensive watershed summary statistics wherever gridded products are available. These include
descriptions of terrain, vegetation, land use, soil and bedrock type, and climate: everything one needs in order to
compare, categorize, and build on the results of hundreds of watershed studies, some of which have been monitoring since
the 1950s (e.g. Niwot Ridge, Andrews, Hubbard Brook, Fernow LTER sites).</p>
<p>In addition to supplying high quality data, the MacroSheds project aims to lower barriers to data use. The dashboard at
<a href="https://macrosheds.org/" rel="noopener noreferrer" target="_blank">macrosheds.org</a> provides flexible tools for visual exploration of the dataset, and the
<a href="https://github.com/MacroSHEDS/macrosheds" rel="noopener noreferrer" target="_blank">macrosheds R package</a> simplifies access, analysis, and proper attribution of
primary sources. The full dataset, including rich metadata, is archived through the Environmental Data Initiative, with
a planned update release every January. <a href="https://github.com/MacroSHEDS" rel="noopener noreferrer" target="_blank">All project code</a> is on GitHub, and we welcome
community contributions. In the next year, we will harmonize data from additional primary sources, including the
National Ecological Observatory Network (NEON), and publish monthly and annual load estimates for all chemical
constituents. We will also continue development of a community upload portal, complete with both automated and
manual-visual quality control. For a more thorough description of these components, please see our open-access data
paper.</p>
<p>An example of the kind of synthesis enabled by the MacroSheds dataset is shown in Figure 1. This figure shows the
distribution of Sulfate-S concentrations across 21 of the 25 "domains," or collections of monitored watersheds,
currently included in the MacroSheds dataset.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<a href="/static/images/featured_data/chemdist.png">
<img alt="Distribution of Sulfate-S concentrations." src="/static/images/featured_data/chemdist.png"/>
</a>
<figcaption class="figure-caption">
            Figure 1: Distribution of Sulfate-S concentrations across 21 of the 25 "domains."
        </figcaption>
</figure>
</div>
<p>The MacroSheds data processing workflow (Figure 2) for a single domain contains four phases: 1) retrieval, 2)
harmonization (munging), 3) derivation, and 4) post-processing, focusing on the evolution of precipitation data (P) from
raw to final form as part of a domain dataset. Gold circles represent processing "kernels" — modular and customizable
sets of routines that carry out the core steps of the first three phases. Within each phase, zero or more kernels are
called in sequence, depending on which products need to be updated, as determined by the progress tracker. In Phase 1,
retrieval kernels download primary source data. During Phase 2, kernels are called by one of four "munge engines"
(pentagons) depending on whether primary source files are sepa-rated by site, by time, by product, or some combination.
After Phase 3, time-series and geospatial data are organized into one file for each of the core MacroSheds products
(discharge, stream chemistry, precipitation, precipitation chemistry, gauge locations, watershed boundaries). After
Phase 4, a complete dataset has been generated for a single domain, and the process repeats for the next domain.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<a href="/static/images/featured_data/macrosheds-concept.jpg">
<img alt="Phases of the Macrosheds workflow." src="/static/images/featured_data/macrosheds-concept.jpg"/>
</a>
<figcaption class="figure-caption">
            Figure 2: Four phases of the MacroSheds workflow: 1) Retrieve, 2) Harmonize, 3) Combine, and 4) Build.
        </figcaption>
</figure>
</div>
<h3>References</h3>
<ul>
<li>McDonnell, J. J., et al. (2007), Moving beyond heterogeneity and process complexity: A new vision for watershed
   hydrology, Water Resour. Res., 43, W07301, https://doi.org/10.1029/2006WR005467.</li>
</ul>
<h3>Related Content</h3>
<p>A data paper about this dataset:</p>
<p>Vlah, M.J., Rhea, S., Bernhardt, E.S., Slaughter, W., Gubbins, N., DelVecchia, A.G., Thellman, A. and Ross, M.R.V.
(2023), MacroSheds: A synthesis of long-term biogeochemical, hydroclimatic, and geospatial data from small watershed
ecosystem studies. Limnol. Oceanogr. Lett, 8: 419-452. https://doi.org/10.1002/lol2.10325</p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>