<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>Effects of Copper Sulfate Toxicity on Multiple Phytoplankton and Animals in Standardized Aquatic Microcosms</h2>
<p>March 1, 2022</p>
<p>Susanne Grossman-Clarke</p>
<h3>Citation</h3>
<p>Taub, F.B. 2022. Interlaboratory testing of CuSO<sub>4</sub> toxicity in the "Standardized Aquatic Microcosm" protocol consisting of multiple phytoplankton and animals in a chemically defined medium. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/ea91b867dabc52a5fc917afa1a310a09" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/ea91b867dabc52a5fc917afa1a310a09</a>.</p>
<h3>Description</h3>
<p>The data published in this featured data package were obtained from a study funded by the Food and Drug Administration (1983-1986) to determine if ecosystems could be used to regulate chemicals. The work on this topic was published in several peer-reviewed articles that have been added as journal citations to the data package landing page in the EDI data repository. At the time of publishing this work, the practice of data publishing was not yet established. Publishing the data now ensures that they are preserved and available for re-use in continuing or future studies.</p>
<p>The author, Frieda Taub, Professor Emeritus (School of Aquatic and Fishery Sciences, University of Washington, Seattle), is an aquatic ecologist with a focus on community metabolism (O<sub>2</sub> and CO<sub>2</sub> cycles) of algae, grazers, and microbes, often in Closed Ecological Systems. Much of the team’s work focused on aquatic community responses to toxic chemicals, using the method of Standardized Aquatic Microcosms (Fig. 1).</p>
<div class="figure_featured" style="width: 40%;">
<figure>
<img alt="aquatic microcosm" src="/static/images/featured_data/aquatic-microcosm.png"/>
<figcaption class="figure-caption">Fig. 1: Principal components of a Standardized Aquatic Microcosm, based on an artificial medium with 10 species of primary producers and 5 species of grazers. From Taub (1989).</figcaption>
</figure>
</div>
<p>Standardized Aquatic Microcosms are model ecosystems or synthetic microcosms that allow investigators to control variables such as initial organisms, species assemblage, relative abundances as well as the nature of the liquid medium, being chemically defined.</p>
<p>Microcosms constitute moderately complex assemblages of organisms that fulfill important ecological roles in aquatic communities. Even though the initial conditions are controlled, the biological components soon modify the system in complex ways. Replicate systems can be established simultaneously and randomly assigned to treatment groups.</p>
<p>The data featured here were obtained from an investigation of the effects of copper sulfate (CuSO<sub>4</sub>) toxicity on aquatic systems consisting of multiple phytoplankton and animals in a chemically defined medium that followed the Standardized Aquatic Microcosm protocol (ASTM 2012). Four different laboratories conducted a total of ten experiments to test the reproducibility of results to control, low, medium and high concentrations of CuSO<sub>4</sub>.</p>
<div class="figure_featured" style="width: 30%;">
<figure>
<img alt="daphnia" id="pickme" src="/static/images/featured_data/daphnia-magna-asexual.jpg"/>
<figcaption class="figure-caption">Fig. 2: Daphnia magna, a genus of small planktonic crustaceans, with a clutch of asexual eggs (photo credit: By Dieter Ebert, Basel, Switzerland - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=47132022).</figcaption>
</figure>
</div>
<p>The protocol included the same 10 species of phytoplankton and 5 animals, including Daphnia (Fig. 2). Small numbers of each species were re-introduced weekly to simulate immigration and allow potential recovery from toxicity.</p>
<h3>Results</h3>
<p>The copper inhibited some phytoplankton more than others and killed many grazers, especially Daphnia. The higher the concentration of copper, the longer the inhibition and mortality of organisms. By eliminating grazing, low concentrations of copper allowed more phytoplankton to develop (Fig. 3), higher concentrations of copper delayed recovery longer.</p>
<div class="figure_featured" style="width: 70%;">
<figure>
<img alt="results:" src="/static/images/featured_data/results-low-toxicity-taub.jpg"/>
<figcaption class="figure-caption">Fig. 3: Low Cu++ (500 PPB), compared to control conditions, increased phytoplankton abundance by decreasing Daphnia grazing.</figcaption>
</figure>
</div>
<p>The elimination of highly-sensitive dominant organisms allowed less-sensitive organisms to increase in abundance. Within natural environments, the observation that some species increase in the presence of toxic substances has been used to discredit toxicity testing without considering the relative sensitivities of competing or predatory species.</p>
<h3>Outlook for further research</h3>
<p>Because of time constraints at the time of the study, some research questions couldn't be addressed. Potential continuing research questions using the existing data are:</p>
<ul>
<li>Why shouldn’t CuSo4 be used to control cyanobacteria?</li>
<li>What is the competition among and between phytoplankton and grazers?</li>
<li>Why cyanobacteria became dominant in some experiments and the loss of Daphnia?</li>
<li>Are laboratory results replicable, repeatable and reproducible?</li>
</ul>
<h3>References</h3>
<p>ASTM (2012) E1366 Standard Practice for Standardized Aquatic Microcosms: Fresh Water. Annual Book of Standards 11.06. DOI: 10.1520/E1366-11R16</p>
<p>Taub F. (1989) Standardized aquatic microcosm: development and testing. In: Aquatic Ecotoxicology: Fundamental Concepts and Methodologies. Vol. 1 (Boudou A, Ribeyre F, eds). Boca Raton, FL:CRC Press, p. 47-92.</p>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>