<div class="container">
<main class="basic-inner">
<h1>Featured Data</h1>
<h2>NEON soil inorganic nitrogen measurements 2017-2020, derived data and code for Earth's Future manuscript</h2>
<p>June XX, 2023</p>
<p>EDI</p>
<h3>Citation</h3>
<p>Weintraub-Leff, S.R., S.J. Hall, and M. Craig. 2023. NEON soil inorganic nitrogen measurements 2017-2020, derived data and code for Earth's Future manuscript ver 2. Environmental Data Initiative. <a href="https://doi.org/10.6073/pasta/ec9e2e7c1fa40f2b61c2e930bd5a4ad1" rel="noopener noreferrer" target="_blank">https://doi.org/10.6073/pasta/ec9e2e7c1fa40f2b61c2e930bd5a4ad1</a> (Accessed 2023-03-22).</p>
<h3>Description</h3>
<p>Nitrogen (N) is a key limiting nutrient in terrestrial ecosystems, but there remain critical gaps in our ability to predict and model controls on soil N cycling. The National Ecological Observatory Network (NEON) is producing continental scale, standardized measurements of soil nitrogen pools and transformation rates, which can help fill these gaps. Yet even for a network using uniform protocols, there are some methodological/analytical challenges in generating this open dataset. </p>
<p>This EDI data package contains a derived dataset that addresses these challenges in order to facility community use. In addition, it contains the R code used to evaluate sources of variation within the NEON sampling design and compare measured net N mineralization to simulated fluxes from the Community Earth System Model 2 (CESM2).</p>
<p>This dataset is part of a larger project which aims to provide a robust estimate of soil organic carbon (SOC) for the United States to help combat climate change and ensure food and nutritional security. By using multivariate quantitative methods and machine learning, site-based measurements across the National Ecological Observatory Network will be upscaled to provide SOC regional maps for the CONUS. The project also offers training opportunities for students and teachers, and enables the diagnosis of terrestrial C cycle processes using historical CMIP6 model runs.</p>
<div>
<div class="gallery">
<a href="/static/images/featured_data/soil sampling Hawaii.jpg">
<img alt="Soil sampling in Hawaii" src="/static/images/featured_data/soil sampling Hawaii.jpg"/>
</a>
<a href="/static/images/featured_data/soil.jpg">
<img alt="Soil samples" src="/static/images/featured_data/soil.jpg"/>
</a>
<a href="/static/images/featured_data/tech soil sampling.jpg">
<img alt="tech soil sampling.jpg" src="/static/images/featured_data/tech soil sampling.jpg"/>
</a>
</div>
<div>
<p class="figure-caption" style="color: #6c757d">Images from the field (from left to right): 1.) Soil sampling in Hawaii; 2.) Soil samples; 3.) Soil sampling.</p>
</div>
</div>
<h3><a href="/featured/featured-grid">All featured data contributions</a></h3>
</main>
</div>