<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        <div class="basic-inner" style="max-width: 80%; text-align: left; padding-top: 0.1em; padding-bottom: 0.1em">
            <h1>Website Search</h1>
            <h4>Search term(s)<sup>*</sup>: <b>${ terms }</b></h4>
            <div tal:condition="not pages">
                <p>No search results found</p>
            </div>
            <div tal:condition="pages">
                Results found
                <ol>
                    <div tal:repeat="p pages">
                        <li><a href="${ p.url }">${ p.path}</a></li>
                    </div>
                </ol>
            </div>
            <div style="position: relative; bottom: 0;">
                * Stop terms and punctuation do not return results.
            </div>
        </div>
    </div>
    <div metal:fill-slot="additional_css" tal:omit-tag="True">
    <link rel="stylesheet" href="/static/css/user.css">
    </div>
</div>