<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Workshop at ESA2022: Explore and work with biodiversity data from LTER and NEON</h2>
<p>June 13, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>Join EDI and NEON staff for a workshop at the ESA/CSEE 2022 meeting: Explore and work with harmonized continental-scale biodiversity data from the US LTER and NEON</p>
<p><strong>When: 8/19/2022; 8:00 AM - 11:00 AM</strong></p>
<p>Price $35.00 - sign up when you register for the ESA/CSEE 2022 conference!</p>
<p>The Environmental Data Initiative (EDI) and National Ecological Observatory Network (NEON) provide open ecological data from across the United States. NEON provides data from automated instruments, observational sampling, and airborne remote sensing across 81 sites. EDI hosts data from the U.S. Long Term Ecological Research (LTER) network and a diverse set of field stations, non-profits, state agencies, and projects focused on environmental research.</p>
<p>This short course will focus on tools to work with biodiversity data holdings from NEON and EDI that can be accessed in a standardized format using the ecocomDP package for R. Instruction will include an overview of the breadth of NEON and EDI organismal datasets before an introduction to data discovery and visualization tools available in the ecocomDP package. We will provide code-along instruction using the RStudio IDE in the CyVerse Discovery Environment, with all packages required for this course pre-installed. Participants will learn how to access and work with NEON and LTER datasets in the ecocomDP data format. We will then provide guidance on how biodiversity data in the ecomcomDP format can be used with a variety of R packages commonly used to analyze biodiversity data. Examples will include calculating Jost (2007)-style alpha, beta, and gamma diversity metrics and plotting ordinations using the vegan package.</p>
<!-- News -->
</main>
</div>