<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>EDI is now on the list of recommended data repositories for Nature</h2>
<p>July 15, 2017</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>EDI is now on the list of recognized data repositories for <a href="https://www.nature.com/" rel="noopener noreferrer" target="_blank">Nature</a> for the category of “Earth and environmental sciences”. This is Nature's <a href="https://www.nature.com/sdata/policies/repositories#envgeo" rel="noopener noreferrer" target="_blank">Data Repository Guidance</a>.</p>
<!-- News -->
</main>
</div>