<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>EDI registered with re3data.org</h2>
<p>June 14, 2017</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>EDI is now registered with the Registry of Research Data Repositories, <a href="https://www.re3data.org/" rel="noopener noreferrer" target="_blank">re3data.org</a>. Our re3data.org entry and <a href="https://datacite.org/index.html" rel="noopener noreferrer" target="_blank">DataCite</a> citation record can be found under the following URL: <a href="http://www.re3data.org/repository/r3d100010272" rel="noopener noreferrer" target="_blank">http://www.re3data.org/repository/r3d100010272</a>.</p>
<p>re3data.org is the largest and most comprehensive registry of research data repositories available on the web. It covers data from a wide range of disciplines and from around the world.</p>
<p><a href="https://datacite.org/index.html" rel="noopener noreferrer" target="_blank">DataCite</a> is a leading global non-profit organisation that provides persistent identifiers (DOIs) for research data. Their goal is to help the research community locate, identify, and cite research data.</p>
<!-- News -->
</main>
</div>