<main class="main-tutorial">
<h1>News</h1>
<h2>New EDI Website</h2>
<p>May 4, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>We are excited to announce the release of our new website at <a href="https://edirepository.org" rel="noopener noreferrer" target="_blank">https://edirepository.org</a>. This website comes with improved support for EDI users, along with an abundance of documentation for the three pillars of our community:</p>
<ul>
<li><a href="https://edirepository.org/resources/resources-for-data-authors" rel="noopener noreferrer" target="_blank">Data authors</a> will find extended and updated resources that describe how to prepare data for submission to our data curation team and how to improve the quality of their publication.</li>
<li><a href="https://edirepository.org/resources/resources-for-data-users" rel="noopener noreferrer" target="_blank">Data users</a> find tips for  searching, accessing, integrating, and citing data from the EDI data repository.</li>
<li><a href="https://edirepository.org/resources/resources-for-information-managers" rel="noopener noreferrer" target="_blank">Information managers</a>, working on behalf of a research group, can find out how to sign up for an EDI account, handle the repository data evaluation and upload process, and utilize services to fulfill data-related project requirements and research goals.</li>
</ul>
<p>Design of the new website facilitates rapid content development using markdown formatted files that are published in an extensible Python web-framework. For more details on the design checkout the <a href="https://github.com/PASTAplus/content-x" rel="noopener noreferrer" target="_blank">content-x</a> and <a href="https://github.com/PASTAplus/web-x" rel="noopener noreferrer" target="_blank">web-x</a> GitHub repositories.</p>
<p>The original website (https://environmnentaldatainitiative.org) will remain online for the next 6 months or so to give users adequate time to update web page links. Please let us know if you need help mapping content from the old website to the new one.</p>
<p>Our next major goal will be the integration of features from the current EDI data portal into this new website.</p>
<!-- News -->
</main>