<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New ezEML Collaboration Features Let Multiple Users Edit the Same Data Package</h2>
<p>June 15, 2023</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>EDI has released new ezEML features to let multiple users collaborate in creating maintaining, and curating ezEML documents.</p>
<p>In addition, these collaboration features are leveraged in a streamlined process for submitting your ezEML data packages to the EDI data repository.</p>
<h4>Submit/Share Package</h4>
<p>The ezEML main Contents menu has a new link, Submit/Share Package. It replaces the earlier Send to EDI, Send to Colleague, and Enable EDI Curation links.</p>
<h4>Collaborate with Colleagues</h4>
<p>Every ezEML document is stored in the account of the user who created the document – the document’s "owner." It’s often useful, however, to invite one or more colleagues to collaborate in editing, reviewing, and managing a document.</p>
<p>The Collaborate with Colleagues feature lets you invite other users to collaborate with you on an ezEML document you own. After those users accept their invitations, they can access the document in ezEML just as they would if they were the document's owner. The owner and collaborators access a single, shared instance of the document. A locking mechanism keeps them from editing the same document simultaneously, so they don’t step on each other’s changes.</p>
<h4>Submit Package to EDI</h4>
<p>Building on the collaboration features, the new Submit Package to EDI feature establishes a group collaboration with the EDI data curation team, letting EDI’s curators access your ezEML data package directly to review it and prepare it for final submission to the EDI data repository.</p>
<p>Previously, submitting a data package required the Send to EDI feature, which resulted in data packages being emailed back and forth. With Submit Package to EDI, EDI’s curators can work directly in your account, streamlining the process and ensuring that you’ll have the finished product in your ezEML account when they've completed their work. Automatic backups preserve the package in its original form before the curators make modifications.</p>
<h4>Resources</h4>
<p>For more information, see the ezEML user guide:</p>
<ul>
<li><a href="https://ezeml.edirepository.org/static/user_guide/submit_to_edi.pdf" rel="noopener noreferrer" target="_blank">Submitting Your Package to EDI</a></li>
<li><a href="https://ezeml.edirepository.org/static/user_guide/collaborate.pdf" rel="noopener noreferrer" target="_blank">Collaborating with Others in ezEML</a></li>
</ul>
<p>or watch the video below.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/jUX6InEROoM" title="YouTube video"></iframe>
</div>
</div>
<!-- News -->
</main>
</div>