<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>No Fellowship Program in 2023</h2>
<p>March 1, 2023</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>With heavy hearts, we have decided to discontinue the EDI fellowship program. However, the future is bright, and we look forward to alternative approaches of supporting information management and data science in the community. Please subscribe to our <a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&amp;id=da346b264c" rel="noopener noreferrer" target="_blank">newsletter</a> for opportunities.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<img alt="EDI Fellows 2019" src="/static/images/edi-fellows-2019.jpg"/>
<figcaption class="figure-caption">Fellows and EDI team members at the data publishing workshop at UNM in June 2019</figcaption>
</figure>
</div>
<!-- News -->
</main>
</div>