<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>EDI is now an official voting member of the EarthCube CDF</h2>
<p>September 14, 2017</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>EDI is now an official voting member of the <a href="https://www.earthcube.org/cdf-members" rel="noopener noreferrer" target="_blank">EarthCube Council of Data Facilities</a>, along with the <a href="https://arcticdata.io/" rel="noopener noreferrer" target="_blank">Arctic Data Center</a> and other data centers.</p>
<!-- News -->
</main>
</div>