<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Updates to the ezEML Metadata Editor</h2>
<p>May 1, 2024</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>Many of you are already familiar with the <a href="https://ezeml.edirepository.org" rel="noopener noreferrer" target="_blank">ezEML Metadata Editor</a> developed at the EDI Repository, but for those that need an introduction, it has become a very easy but powerful way to publish your research datasets. If you’re using this as part of your workflow to publish datasets or would like to try it in the future, there are a couple of new features that you might be interested in:</p>
<p><strong>Bulk Edit Data Table Column Properties via a Spreadsheet</strong></p>
<p>The <em>Edit Column Properties</em> page for a data table now includes buttons <em>Download Column Properties Spreadsheet</em> and <em>Upload Column Properties Spreadsheet</em>. The download button creates a spreadsheet (.xlsx file) pre-populated with the current values of the column properties and downloads it to your computer. You can then edit the spreadsheet in Excel or other spreadsheet application, changing the values of the properties as needed. Use the upload button to upload the edited spreadsheet and update the column properties all at once. For wide tables, especially, this makes your life easier. Watch a short video demonstration here: <a href="https://youtu.be/tCx2xYXdiaw" rel="noopener noreferrer" target="_blank"><img src="https://ezeml.edirepository.org/user-data/youtube.png" width="70px"/></a></p>
<p><strong>Navigation via Colored Badges</strong></p>
<p>Colored “badges” now indicate all errors and warnings associated with the various sections and elements of an ezEML data package. Badges next to a section or item are red, yellow, or green to indicate the presence of errors, warnings, or neither. They let you see at a glance, for example, which columns in a data table still have metadata issues. The badges are clickable, displaying lists of errors and warnings, and the errors and warnings are themselves clickable, taking you directly to the item that needs to be added or edited, scrolling it into view and highlighting it. </p>
<p><img alt="ezEML badges" class="screen-shot" src="/static/images/news/ezeml_badges.png" width="35%"/></p>
<p>Watch a short video demonstration here: <a href="https://www.youtube.com/watch?v=_FoRUJ7DqIc" rel="noopener noreferrer" target="_blank"><img src="https://ezeml.edirepository.org/user-data/youtube.png" width="70"/></a></p>
<p><strong>Explore Data Tables feature</strong></p>
<p>Explore Data Tables lets you open your data tables in EDI’s <em>Data Explorer (DeX)</em> app. With DeX, you can get an overview of your data and perform various sanity checks on the data: profile it, subset it, view plots, etc.</p>
<p>Please give these a try and let us know what you think. We’d love to hear your feedback (<a href="mailto:support@edirepository.org">support@edirepository.org</a>), and we’re hoping this makes your publication experience at EDI easier.</p>
<!-- News -->
</main>
</div>