<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>DeX in production</h2>
<p>July 6, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>Our new data exploration tool called “DeX” for use with published data is in production now. It provides a text and graphical summary of each variable/column in a data table within a dataset, a data sub-setting tool, and simple graphing capabilities.   To access the tool, go to <a href="https://edirepository.org/" rel="noopener noreferrer" target="_blank">https://edirepository.org</a> “Find Data” and “EDI Dataset Search.” Once you have located a data package, hitting the “Explore Data” button next to each of the data tables will show you the profile/summary for that table. The menu on the top of the page provides access to the subset and plot functions. For more information see also <a href="https://edirepository.org/news/news-20220128.00" rel="noopener noreferrer" target="_blank">"A Quick Overview of EDI’s Data Explorer (DeX)"</a>.</p>
<p>We hope you will find it to be useful and/or can provide feedback on how to make it even more useful.  As always, the main page for a data package (the page with the Explore Data buttons), also has code generation for Matlab, Python, R, SAS, SPSS and the “Tidy” version of R for programs to analyze the data.</p>
</main>
</div>