<main class="main-tutorial">
<h1>News</h1>
<h2>New Resource for Information Managers: Adding Physical Metadata</h2>
<p>June 3, 2022</p>
<p>Kyle Zollo-Venecek</p>
<h3>Description</h3>
<p>Physical metadata such as file size, MD5 checksum, and number of rows in a table, are important pieces of information for verifying the integrity of files after uploads and downloads. When a resource is uploaded to ezEML or processed by EMLassemblyline, this information is automatically calculated. However, neither application can obtain this information from a file that is not accessible. The responsibility is instead placed on the data provider to determine and manually enter this physical metadata.</p>
<p>This resource, which demonstrates calculating physical metadata and how to add physical metadata to an EML document, will be useful for information managers or data authors who want to implement a fully-offline workflow for publishing web-hosted data, or who need to publish prohibitively large data offline.</p>
<h4>Check out <a href="/resources/adding-physical-metadata">Adding Physical Metadata</a> today!</h4>
<!-- News, Resources -->
</main>