<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        
        <main>
            
            <section class="py-2 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">News</h1>
                        <p class="lead text-muted">We provide regular updates on new EDI features, services, and opportunities.
                            Below are items from our bi-monthly newsletter (<a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&id=da346b264c">subscribe to our newsletter</a>).
                        We also use Twitter to highlight and engage with the EDI community and beyond (<a href="https://twitter.com/edigotdata">@EDIgotdata</a>).</p>
                    </div>
                </div>
            </section>
            
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">ezEML Templates</p>
                                    <p class="text-muted">March 10, 2022</p>
                                    <p class="text-normal">Research sites (e.g., LTER sites) and teams of researchers who are using ezEML to capture metadata may find that certain content is used repeatedly across a number of documents. Examples of such repeated content can include Creators, Contacts, Keywords, Intellectual Rights, Geographic Coverage, Project, etc. Users can avoid the tedious task of re-entering...</p>
                                    <a href="/news/news-20220310.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">A Quick Overview of EDI’s Data Explorer (DeX)</p>
                                    <p class="text-muted">January 28, 2022</p>
                                    <p class="text-normal">The EDI software team is excited to announce DeX, a tool for exploring and subsetting tabular data, which is now in beta testing on the EDI staging Data Portal (https://portal-s.edirepository.org/nis). DeX provides three views into tabular data found in the EDI Data Repository: 1) a statistical profiler that analyzes the data table and displays detailed information...</p>
                                    <a href="/news/news-20220128.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">EDIutils R Package Update</p>
                                    <p class="text-muted">January 26, 2022</p>
                                    <p class="text-normal">EDIutils is a client for the Environmental Data Initiative repository REST API and includes functions to search and access existing data, evaluate and upload new data, and assist with related data management tasks (https://github.com/EDIorg/EDIutils). The package has undergone a major refactor for submission to rOpenSci and CRAN...</p>
                                    <a href="/news/news-20220126.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Normalization of Creator Names in EDI’s Data Portal</p>
                                    <p class="text-muted">November 2, 2021</p>
                                    <p class="text-normal">The Advanced Search feature of EDI’s Data Portal lets you select a dataset Creator name from a drop-down list of all dataset creators in our repository. The search then displays all the datasets that have that name as one of its creators. Unfortunately, many creators’ names occur in multiple variations in different datasets and, in the past, each variation...</p>
                                    <a href="/news/news-20211102.01" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">Updates to User-Contributed Journal Citation Interface on the EDI Data Portal</p>
                                    <p class="text-muted">November 2, 2021</p>
                                    <p class="text-normal">The Environmental Data Initiative (EDI) has recently updated its user-contributed journal citation interface on its Data Portal to include more granular information regarding the type of citation being submitted. The addition of the Relation Type form field allows you to select the relationship between the data package and the journal manuscript where the data...</p>
                                    <a href="/news/news-20211102.00" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </main>
    
    </div>
</div>