<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New ezEML feature: Check Data Tables</h2>
<p>August 31, 2022</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>We’ve added an important new ezEML feature: Check Data Tables. ezEML has long had the Check Metadata feature that helps you determine if you’ve completed all of the required and recommended EML metadata for a data package. Check Data Tables drills down further, checking not just the metadata specifications for data tables, but the data tables’ contents, as well. The "Check Data Tables" feature examines your data tables’ CSV files to check if the data tables’ contents match up with their descriptions in the metadata (e.g., do they have the expected numbers and types of columns, do the entries in the columns have the expected type and form, are the categorical codes correct, etc.). All errors are displayed, letting you fix any problems before you submit your data package to the EDI data repository.</p>
<p>A <a href="https://youtu.be/hXbIDffHHcE" rel="noopener noreferrer" target="_blank">short video</a> demonstrating this new capability is available on our YouTube channel. We hope you find it useful!</p>
<!-- News -->
</main>
</div>