<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Greg Maurer is Joining the EDI Team</h2>
<p>November 30, 2023</p>
<p>Corinna Gries</p>
<h3>Description</h3>
<p>We are excited to announce that <a href="https://greg.pronghorns.net/" rel="noopener noreferrer" target="_blank">Greg Maurer</a> is joining the growing EDI team. Greg joins us part-time from the Jornada Basin LTER site, where he is and will continue to be an ecologist, data scientist, and site information manager since 2019. As a scientist, he investigates terrestrial biogeochemistry and ecohydrology, particularly the effects of global change and disturbance on vegetation and soil systems. As a data analyst and data manager, he uses various methods and technologies to create, communicate, and publish impactful research under an open-science philosophy. Greg lives and works in Albuquerque NM, and can be reached through all general communication channels EDI provides.</p>
<p>Please help us make Greg feel welcome in the EDI community of data publishers and reusers.</p>
<!-- News -->
</main>
</div>