<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New ezEML features supporting collaboration</h2>
<p>April 11, 2023</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>EDI is working on some new ezEML features to let multiple users collaborate in creating, maintaining, and curating ezEML
documents.</p>
<h4>"Collaborate" Feature</h4>
<p>Every ezEML document is stored in the account of the user who created the document – the document’s "owner." It’s often
useful, however, to invite one or more colleagues to collaborate in editing, reviewing, and managing a document.</p>
<p>The new <strong>Collaborate</strong> feature will let you invite other users to collaborate with you on an ezEML document you own.
After those users accept their invitations, they can access the document in ezEML just as they would if they were the
document's owner. A locking mechanism keeps multiple collaborators from editing the same document simultaneously,
safeguarding against the corruption of its contents.</p>
<h4>"Enable EDI Curation" Feature</h4>
<p>Building on the Collaborate feature, the new <strong>Enable EDI Curation</strong> feature will establish a group collaboration with
the EDI Data Curation Team, letting EDI’s curators access your ezEML data package directly to review it and prepare it
for final submission to the EDI data repository.</p>
<p>Previously, submitting a data package required the <strong>Send to EDI</strong> feature, which resulted in data packages being
emailed back and forth. With <strong>Enable EDI Curation</strong>, EDI’s curators can work directly in your account, streamlining the
process and ensuring that you’ll have the finished product in your ezEML account when they've completed their work.
Automatic backups will preserve the package in its original form before the curators make modifications.</p>
<!-- News -->
</main>
</div>