<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>An indepth look at EDI's Data Explorer (DEX)</h2>
<p>November 1, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>Last month’s webinar is now on YouTube and provides an overview of the DEX architecture and a demonstration of how DEX works on actual data. The webinar was presented by Roger Dahl, DEX's lead developer, and Mark Servilla.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/4ZZaLQ72GPc" title="YouTube video"></iframe>
</div>
</div>
<!-- News -->
</main>
</div>