<main class="main-tutorial">
<h1>News</h1>
<h2>EDIutils has moved to rOpenSci</h2>
<p>April 23, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>We are happy to announce the <a href="https://docs.ropensci.org/EDIutils/" rel="noopener noreferrer" target="_blank">EDIutils R package</a> (an API Client for the Environmental Data Initiative Repository) has been accepted by <a href="https://ropensci.org/" rel="noopener noreferrer" target="_blank">rOpenSci</a>. As a result, the project GitHub has moved and installation has changed to <code>remotes::install_github("ropensci/EDIutils")</code>. We will be submitting to CRAN in the coming weeks. Stay tuned!</p>
<!-- News -->
</main>