<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Updates from the EDI technical team</h2>
<p>July 19, 2018</p>
<p>Mark Servilla</p>
<h3>Description</h3>
<p>The EDI technical team has a few new updates to convey to our community of users.</p>
<ol>
<li>
<p>All data package “landing pages” in our test environment Data Portal are now labeled with a “Test Data Package” watermark so they will not be mistaken for the real McCoy. Only data packages displayed on the primary Data Portal (<a href="https://portal.edirepository.org/nis/home.jsp" rel="noopener noreferrer" target="_blank">https://portal.edirepository.org/nis</a>) should be considered bone-fide and a published (with a “real” DOI) data package.</p>
</li>
<li>
<p>A new administrative tool is available that allows you to view the most recent uploads of data packages into the production EDI dat a repository at 1, 7, and 30 day intervals. This tool is found on our dashboard web-site (<a href="https://dashboard.edirepository.org/dashboard/health/glance" rel="noopener noreferrer" target="_blank">https://dashboard.edirepository.org/dashboard</a>)  under the “Reports” menu, and will display a list of recently uploaded data packages and a time-series plot of the upload events.</p>
</li>
<li>
<p>A new metadata previewer tool is made public that allows you to upload and display your Ecological Metadata Language document before actually publishing your data package. This service has existed in the form of an undocumented “Easter egg”, but is now available to all under the “Tools/Data Packages” menu. This preview displays your science metadata as it will be rendered and viewed from the EDI Data Portal.</p>
</li>
</ol>
<!-- News -->
</main>
</div>