<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>R functions for interacting with the EDI Repository API</h2>
<p>December 12, 2018</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>The EDI Repository API facilitates automated data processing and publication workflows, thereby enabling reproducible and efficient data package management. Four new R functions have been added to the <a href="https://github.com/EDIorg/EDIutils" rel="noopener noreferrer" target="_blank">EDIutils R library</a> supporting package reservation (pkg_reserve_id.R), evaluation (pkg_evaluation.R), upload (pkg_upload.R), and update (pkg_update.R). The full suite of PASTA+ API calls from the R environment will be available soon!</p>
<!-- News -->
</main>
</div>