<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Recent Additions to ezEML</h2>
<p>December 16, 2022</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>We're continually enhancing and improving our online ezEML application. Here are some recent noteworthy additions.</p>
<p><strong>Check Data Tables</strong> - ezEML performs quality checks on the contents of data tables and checks them against their descriptions in the metadata. It lists any errors and discrepancies that are found.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/hXbIDffHHcE" title="YouTube video"></iframe>
</div>
<br/>
</div>
<p><strong>Load Taxonomic Coverage from a CSV File</strong> – multiple taxa can be added in a single, bulk operation. ezEML fills in taxonomic hierarchies automatically by querying a taxonomic authority.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/Iuh8tTAQN8Q" title="YouTube video"></iframe>
</div>
<br/>
</div>
<p><strong>Documenting Data Provenance</strong> – Method Steps now support adding structured Data Source info to document data provenance. For data sources in the EDI repository, ezEML can fetch the data source info and fill it in automatically.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/LkCA_qgDwhc" title="YouTube video"></iframe>
</div>
<br/>
</div>
<p><strong>Manage Data Packages</strong> – a new page lists all of the data packages that currently exist in your ezEML account. From there, you can open any package or delete ones you no longer need.</p>
<!-- News -->
</main>
</div>