<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Planned System Maintenance September 13-14, 2023</h2>
<p>August 30, 2023</p>
<p>Mark Servilla</p>
<h3>Description</h3>
<p>The EDI data repository will be unavailable due to planned hardware maintenance at the University of New Mexico from Wednesday, September 13, 2023, through Thursday, September 14, 2023. This means that the EDI data repository and all associated services, including the EDI Data Portal and ezEML, will be unavailable during that time.</p>
<p>We apologize for any inconvenience this may cause and appreciate your understanding.</p>
<p>If you have any questions, please do not hesitate to contact us.</p>
<!-- News -->
</main>
</div>