<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>EDI at the LTER All Scientists' Meeting (19-23 September 2022)</h2>
<p>September 1, 2022</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>We organized and will lead and present information management and science sessions at the <a href="https://lternet.edu/2022-all-scientists-meeting/" rel="noopener noreferrer" target="_blank">2022 LTER All Scientists’ Meeting</a>. Topics include new developments at EDI, synthesis science through harmonized data, annotating ecological data for reuse and more. For more information, please also check the <a href="https://2022lterasm.sched.com/" rel="noopener noreferrer" target="_blank">ASM meeting schedule</a>.</p>
<ul>
<li><a href="https://2022lterasm.sched.com/event/13sT4/information-managers-meeting" rel="noopener noreferrer" target="_blank">Information Managers Meeting</a> (Sep-19):<ul>
<li>Report on HYMET project for harmonizing meteorological and hydrological data</li>
<li>ezEML for site data management &amp; reporting</li>
</ul>
</li>
<li>Synthesis through Harmonized Data<ul>
<li><a href="https://2022lterasm.sched.com/event/1355k/synthesis-through-harmonized-data-track-01-using-harmonized-lter-and-neon-biodiversity-data-ecocomdp" rel="noopener noreferrer" target="_blank">Track-01: Using harmonized LTER and NEON biodiversity data (ecocomDP)</a> (Sep-20)</li>
<li><a href="https://2022lterasm.sched.com/event/1355n/zynthesis-through-harmonized-data-track-02-harmonized-data-resources-and-experienceslessons-learned" rel="noopener noreferrer" target="_blank">Track-02: Harmonized data resources and experiences/lessons learned</a> (Sep-21)</li>
<li><a href="https://2022lterasm.sched.com/event/1355q/synthesis-through-harmonized-data-track-03-identifying-gaps-in-data-harmonization-and-interoperability" rel="noopener noreferrer" target="_blank">Track-03: Identifying gaps in data harmonization and interoperability</a> (Sep-22)</li>
</ul>
</li>
<li><a href="https://2022lterasm.sched.com/event/1356o/annotating-ecological-data-for-discovery-and-reuse" rel="noopener noreferrer" target="_blank">Annotating Ecological Data for Discovery and Reuse</a> (Sep-20)</li>
<li><a href="https://2022lterasm.sched.com/event/13584/a-simpler-bibliography-experience-with-zotero-and-mendeley" rel="noopener noreferrer" target="_blank">A Simpler Bibliography Experience with Zotero and Mendeley</a> (Sep-20)</li>
<li><a href="https://2022lterasm.sched.com/event/1358M/measurement-unit-metadata-community-standards-resources" rel="noopener noreferrer" target="_blank">Measurement unit metadata: community standards &amp; resources</a> (Sep-21)</li>
<li><a href="https://2022lterasm.sched.com/event/13573/introducing-new-developments-at-edi" rel="noopener noreferrer" target="_blank">Introducing new developments at EDI</a> (Sep-22)</li>
<li><a href="https://2022lterasm.sched.com/event/1357I/linking-traits-genomes-specimens-and-images-to-lter-data" rel="noopener noreferrer" target="_blank">Linking traits, genomes, specimens, and images to LTER data</a> (Sep-22)</li>
</ul>
<!-- News -->
</main>
</div>