<main class="main-tutorial">
<h1>News</h1>
<h2>ezEML Templates</h2>
<p>March 10, 2022</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>Research sites (e.g., LTER sites) and teams of researchers who are using ezEML to capture metadata may find that certain content is used repeatedly across a number of documents. Examples of such repeated content can include Creators, Contacts, Keywords, Intellectual Rights, Geographic Coverage, Project, etc. Users can avoid the tedious task of re-entering this information for each new dataset by creating and publishing one or more “templates” that are prepopulated with this standard content. Since templates exist outside of any individual user’s ezEML account, they are accessible to everyone. Everyone who uses a template will get the current version, which helps alleviate problems arising from different versions residing in different users’ accounts.</p>
<p>Feedback has been positive from researchers who have used ezEML templates when creating metadata for datasets associated with LTER and NEON sites. You can check out template examples by logging in to ezEML and going to “New from Template…” Creating a template is just like creating any ezEML document. Once a template has been populated, it can be sent to support@environmentaldatainitiative.org with an explanation and it will be added to the EDI template library.</p>
<!-- News, Resources, Technical -->
</main>