<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Planned System Maintenance 17 May 2023</h2>
<p>May 10, 2023</p>
<p>Mark Servilla</p>
<h3>Description</h3>
<p>The EDI Data Repository, including the EDI Data Portal (portal.edirepository.org) and other production services, will be unavailable on Wednesday 17 May 2023 from 8am to 9pm MDT so that we may upgrade all servers to a newer and more secure operating system. Although our systems may appear to be back online for periods of time during testing on Wednesday, we strongly recommend waiting until the following day (Thursday 18 May 2023) before using them. Please note that our staging environment (portal-s.edirepository.org) will continue to be available and will not be affected by this maintenance - all staging servers have already been upgraded. We apologize for any inconvenience this event will cause.</p>
<!-- News -->
</main>
</div>