<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Journal Citation interface refresh</h2>
<p>April 11, 2023</p>
<p>Roger Dahl</p>
<h3>Description</h3>
<p>EDI has recently updated its <strong>Journal Citation</strong> interface to include paged views of managed citations when the number
of citations grows larger than 10: You may now select between 10, 25, 50, or 100 citations per page. This fits nicely
now with a fully revised interface to create, modify, or delete individual citations. Prior to this change,
modifications to existing citations were not possible. This new interface sports a pop-up dialog that captures the
essential information for describing a journal citation of your data package. Citation information is added to the data
package DataCite metadata and is propagated to DataCite when you add or modify the information. Similarly, a journal
citation is removed from the DataCite metadata if you delete the journal citation. We welcome any feedback on this new
and improved interface.</p>
<div class="figure_featured" style="width: 75%;">
<figure>
<img alt="Jounrnal Citation interface" src="/static/images/news/journal-citation-interface.png"/>
<figcaption class="figure-caption">New Journal Citation inteface on Data Portal</figcaption>
</figure>
</div>
<!-- News -->
</main>
</div>