<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New ezEML Collaboration Features Allow Multiple Users to Edit the Same Data Package</h2>
<p>May 17, 2023</p>
<p>Jon Ide</p>
<blockquote>
<p>NOTE: The ezEML feature described in this news article is outdated. The collaboration feature has been enhanced based on user feedback. For information on the current state of this feature please see <a href="/news/news-20230615.01">here</a>.</p>
</blockquote>
<h3>Description</h3>
<p>EDI has released new ezEML features to let multiple users collaborate in creating, maintaining, and curating ezEML documents.</p>
<h4>Collaborate with Others</h4>
<p>Every ezEML document is stored in the account of the user who created the document – the document’s "owner." It’s often useful, however, to invite one or more colleagues to collaborate in editing, reviewing, and managing a document. </p>
<p>The new Collaborate feature lets you invite other users to collaborate with you on an ezEML document you own. After those users accept their invitations, they can access the document in ezEML just as they would if they were the document's owner. A locking mechanism keeps multiple collaborators from editing the same document simultaneously, safeguarding against the corruption of its contents.</p>
<h4>Enable EDI Curation</h4>
<p>Building on the Collaborate feature, the new Enable EDI Curation feature establishes a group collaboration with the EDI Data Curation Team, letting EDI’s curators access your ezEML data package directly to review it and prepare it for final submission to the EDI data repository. </p>
<p>Previously, submitting a data package required the Send to EDI feature, which resulted in data packages being emailed back and forth. With Enable EDI Curation, EDI’s curators can work directly in your account, streamlining the process and ensuring that you’ll have the finished product in your ezEML account when they've completed their work. Automatic backups will preserve the package in its original form before the curators make modifications.</p>
<h4>Resources</h4>
<p>For more information, see the ezEML user guide:</p>
<ul>
<li><a href="https://ezeml.edirepository.org/static/user_guide/collaborate.pdf" rel="noopener noreferrer" target="_blank">Collaborate with Others</a></li>
<li><a href="https://ezeml.edirepository.org/static/user_guide/enabling_edi_curation.pdf" rel="noopener noreferrer" target="_blank">Enable EDI Curation</a></li>
</ul>
<p>or watch the video below.</p>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/RgQ2LYLObj8" title="Video of the ezEML collaboration feature."></iframe>
</div>
</div>
<!-- News -->
</main>
</div>