<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Alignment of the LTER Controlled Vocabulary and Environment Ontology</h2>
<p>November 17, 2022</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>In a step towards improved data search and discovery, EDI has mapped the US <a href="https://vocab.lternet.edu/vocab/vocab/index.php" rel="noopener noreferrer" target="_blank">LTER Controlled Vocabulary</a> to the <a href="https://sites.google.com/site/environmentontology/" rel="noopener noreferrer" target="_blank">Environment Ontology</a> (ENVO). This alignment enables LTER keywords to be translated into equivalent ENVO concepts of greater semantic expressivity. These improved semantics can help the EDI search engine better understand the meaning and intent of user queries, as well as to suggest related data of potential interest (i.e. <a href="https://en.wikipedia.org/wiki/Semantic_search" rel="noopener noreferrer" target="_blank">semantic search</a>). The complete mapping is available at the <a href="https://github.com/lter/vocab/tree/master/sssom" rel="noopener noreferrer" target="_blank">LTER Vocabulary GitHub</a>.</p>
<p>Next steps:</p>
<ol>
<li>
<p>Review and update keywords in each EDI data package to ensure high-level ecological concepts are adequately represented. We envision this as an EDI/LTER collaboration, supplemented with an online workshop (datetime TBD).</p>
</li>
<li>
<p>Update the LTER Vocabulary with new concepts found during step 1, but not yet included in the vocabulary. The LTER/ENVO mapping will be updated to reflect these changes.</p>
</li>
<li>
<p>Create an EDI data package <a href="https://en.wikipedia.org/wiki/Knowledge_graph" rel="noopener noreferrer" target="_blank">knowledge graph</a> from the LTER/ENVO mapping for development of EDI search engine features.</p>
</li>
</ol>
<!-- News -->
</main>
</div>