<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New ezEML Features</h2>
<p>November 14, 2023</p>
<p>Jon Ide</p>
<h3>Description</h3>
<p>EDI’s ezEML web application has some new features we’d like to highlight.</p>
<h4>Importing from Templates</h4>
<p>Ordinarily, ezEML metadata documents are visible only to the user who created them. ezEML <em>templates</em> are an exception. They are metadata documents visible to everyone, in read-only fashion. A site or research team can create one or more templates that contain metadata items they tend to reuse repeatedly, e.g., creators, contacts, keywords, intellectual rights, geographic coverage, etc.</p>
<p>Until recently, the only way to use templates was via the New from Template feature, which lets you create a new ezEML metadata document pre-populated with the template’s info. There was no way to be selective about which portions of a template you wished to include – it was all or nothing. If the template included items you didn’t want, you had to delete them from the newly created document. In addition, ezEML had no feature that let you pull template info into a document after it was created.</p>
<p>Now, all of the importing features (Import Responsible Parties, Import Keywords, etc.) let you choose either an ezEML document or a template as the source. And when you import keywords, for example, you get to pick <em>which</em> keywords to import.</p>
<p>This change makes templates a whole lot more useful. You might, for example, have one base template intended for use with New from Template and one or more other templates containing more specialized info of interest to particular subset of your users. Users will be able to import just what they need.</p>
<h4>Automatic Collaboration Creation When “New from Template” is Done</h4>
<p>Speaking of templates, we can now configure ezEML so that whenever an ezEML document is created via New from Template using one of your site’s templates, one or more ezEML collaborations are automatically established between the document’s creator and user(s) you’ve specified. The use case here is that a site’s Information Manager(s) may wish to monitor and assist with the handling of documents created from their templates. This way, it happens automatically.</p>
<p>If you’re interested in using this feature, please contact support@edirepository.org, and we’ll set you up.</p>
<h4>Preview Your Metadata on EDI’s Data Portal</h4>
<p>It’s now possible to preview your metadata on EDI’s data portal (<a href="https://portal.edirepository.org/" rel="noopener noreferrer" target="_blank">portal.edirepository.org</a>) from within ezEML. In ezEML’s Import/Export menu, select “Preview Your Metadata in the EDI Data Portal...”. The preview will be displayed in a new browser tab.</p>
<p>One handy use of this preview is to show the metadata for a data table in a tabular form:</p>
<p><img alt="Preview Data Table" class="screen-shot" src="/static/images/news/preview-data-table.png" width="85%"/></p>
<!-- News -->
</main>
</div>