<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Operating System upgrades</h2>
<p>April 11, 2023</p>
<p>Mark Servilla</p>
<h3>Description</h3>
<p>The EDI technical team is planning for a day of operating system upgrades from Ubuntu 18.04 to 22.04 in the very near
future (TBD). This effort will entail a full day of system work, resulting in EDI's production and staging environments
being unavailable, likely on two different days. The upgrade to Ubuntu 22.04 LTS (Long-term Support) is necessary since
the current version of the operating system (Ubuntu 18.04) will no longer be supported after April 2024 and will affect
the EDI Data Portal and the underlying data repository. EDI is currently testing its services in the Ubuntu 22.04
environment and will release a more detailed deployment plan within a few weeks, so please stay tuned.</p>
<!-- News -->
</main>
</div>