<main class="main-tutorial">
<h1>News</h1>
<h2>Webinar "EDI reporting tools”, 9 May 2022 @ 3:00 pm ET</h2>
<p>May 3, 2022</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>This month’s webinar will be presented at the LTER Information Managers' monthly Water Cooler event and will be shifted to May 9 from May 17, 2022.</p>
<p>Reporting tools help gather information about a group of data packages for reporting to NSF or other agencies (number of citations per dataset, number of downloads etc.). We will give an overview of how to accomplish various tasks with the <a href="https://edirepository.org/resources/the-edi-dashboard/" rel="noopener noreferrer" target="_blank">EDI Dashboard</a> and the <a href="https://docs.ropensci.org/EDIutils/" rel="noopener noreferrer" target="_blank">EDIutils R package</a>. We are looking for input from our User Community regarding what additional tools and reporting are needed.</p>
<p>The webinar will cover:</p>
<ul>
<li>Introduction to the EDI Dashboard and Audit Reporting &amp; brief discussion (Mark Servilla, EDI &amp; University of New Mexico)</li>
<li>How to obtain citation and other reporting metrics using the EDIutils R package (an API Client for the Environmental Data Initiative Repository) &amp; discussion (Colin Smith, EDI &amp; University of Wisconsin-Madison).</li>
<li>Data use reporting by subject and required semantics (e.g., LTER core areas) &amp; discussion (Corinna Gries, EDI &amp; University of Wisconsin-Madison)</li>
</ul>
<p><strong>Zoom connection: <a href="https://ucsb.zoom.us/j/664969166" rel="noopener noreferrer" target="_blank">https://ucsb.zoom.us/j/664969166</a></strong></p>
<!-- News -->
</main>