<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        
        <main>
            
            <section class="py-2 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">News</h1>
                        <p class="lead text-muted">We provide regular updates on new EDI features, services, and opportunities.
                            Below are items from our bi-monthly newsletter (<a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&id=da346b264c">subscribe to our newsletter</a>).
                        We also use Twitter to highlight and engage with the EDI community and beyond (<a href="https://twitter.com/edigotdata">@EDIgotdata</a>).</p>
                    </div>
                </div>
            </section>
            
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        <grid_objects tal:repeat="grid_object grid_objects">
                        <div class="col">
                            <div class="card drop-shadow-sm">
                                <div class="card-body">
                                    <p class="fw-bold text-dark">${grid_object.title}</p>
                                    <p class="text-muted">${grid_object.date}</p>
                                    <p class="text-normal">${grid_object.description}</p>
                                    <a href="/news/${grid_object.name}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        </grid_objects>
                    </div>
                </div>
            </div>
        
        </main>
    
    </div>
</div>