<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Webinar "EDI Summer Fellows present", 16 August 2022</h2>
<p>August 11, 2022</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>Join us for 5-minute eLightning talks by our Summer Fellows that highlight their data publishing experience for specific host sites, spanning diverse ecosystems
across the country, from Maine’s Mount Desert Island to Puerto Rico’s Luquillo Mountains to the Palmyra Atoll in the central Pacific.</p>
<p><strong>16 August @ 2pm ET</strong></p>
<p><a href="https://uwmadison.zoom.us/meeting/register/tJYqd-6hrjIsHNMT6icq0oDPxUEe1JKPvnXg" rel="noopener noreferrer" target="_blank">Zoom Registration information</a></p>
<!-- News -->
</main>
</div>