<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>New Guidelines for Defining Data Package Replication</h2>
<p>October 9, 2024</p>
<p>Colin Smith</p>
<h3>Description</h3>
<p>Ensuring data consumers are aware of replicated data across repositories is crucial for reducing data user confusion, data misuse and errors, and inefficiencies for data harvesters.</p>
<p>The <a href="https://eml.ecoinformatics.org/eml-ecological-metadata-language" rel="noopener noreferrer" target="_blank">Ecological Metadata Language</a> (EML v2.2.0) offers a semantic annotation feature suitable for defining data replication, applicable to both entire data packages and specific data entities within a package. This functionality in combination with the <a href="https://schema.org/sameAs" rel="noopener noreferrer" target="_blank">schema:sameAs</a> property enables a solution for indicating replicated data resources that align with <a href="https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset" rel="noopener noreferrer" target="_blank">Science-On-Schema.Org</a> conventions, promoting dataset discovery and interoperability.</p>
<p>The full version of the guidelines are available <a href="/resources/defining-data-replication">here</a>.</p>
<p>Please let us know what you think. We’d love to hear your feedback (<a href="mailto:support@edirepository.org">support@edirepository.org</a>).</p>
<!-- News -->
</main>
</div>