<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Operations of the EDI Data Repository will Continue as Normal During this COVID-19 Health Crisis</h2>
<p>March 25, 2020</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>Dear EDI user,</p>
<p>Just a short note reassuring you that operations of the EDI data repository will continue as normal during this COVID-19 health crisis. All systems are monitored remotely by our technical team through our system dashboard, and we are alerted to any infrastructure faults by automated notifications. In the event of a hardware issue that does require onsite presence, we will do our best to address any problems as expeditiously as possible given current health and safety restrictions in place by the State of New Mexico. We thank you for your continued support and patience during these extraordinary times. Comments or questions may be directed to <a href="mailto:support@edirepository.org">support@edirepository.org</a>.</p>
<p>Sincerely,
The EDI technical team</p>
<!-- News -->
</main>
</div>