<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>EDI is 40th DataONE Member Node</h2>
<p>April 18, 2017</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>The contents of the <a href="https://portal.edirepository.org/nis/home.jsp" rel="noopener noreferrer" target="_blank">EDI Data Repository</a> is now discoverable through <a href="https://search.dataone.org/" rel="noopener noreferrer" target="_blank">DataONE</a>. EDI became the 40th DataONE Member Node when it registered its version of the DataONE Generic Member Node (<a href="https://dataone-python.readthedocs.io/en/latest/gmn/index.html" rel="noopener noreferrer" target="_blank">GMN</a>) software stack to synchronize EDI data content through the DataONE Federation.</p>
<p>DataONE enables universal access to data and also facilitates researchers in fulfilling their need for data management and in providing secure and permanent access to their data. DataONE offers the scientific community a suite of tools and training materials that cover all aspects of the data life cycle from data collection, to management, analysis and publication.</p>
<!-- News -->
</main>
</div>