<main class="main-tutorial">
<h1>News</h1>
<h2>Google Scholar Highlights EDI Data Packages as First-order Citations in User Profiles and in Scholarly Articles</h2>
<p>February 10, 2020</p>
<p>Susanne Grossman-Clarke</p>
<h3>Description</h3>
<p>Data is becoming increasingly citable as first-order objects, including data archived in the EDI repository. One indication is that data package publications are indexed in personal Google Scholar user profiles, along with other scholarly articles, as for example in the <a href="https://scholar.google.com/citations?hl=en&amp;user=0WZOHCwAAAAJ&amp;view_op=list_works&amp;sortby=pubdate">profile of Paul Hanson</a> (Research Professor at the Center for Limnology, University of Wisconsin-Madison).</p>
<p>There is also an increase in the number of cited data packages in scholarly articles. The figure below shows the annual number of EDI data package citations in scholarly articles over the past seven years as derived from Google Scholar.</p>
<figure class="figure_featured">
<img alt="chart of datasets" src="/static/images/news/edi-annual-chart.png" width="50%"/>
<figcaption>Annual number of EDI data package citations in scholarly articles</figcaption>
</figure>
<p>In order for a data publication to be discoverable by search engines, including <a href="https://scholar.google.com/">Google Scholar</a> and <a href="https://datasetsearch.research.google.com/">Google’s Data Set Search</a>, the data package needs to be “indexed”. <a href="https://environmentaldatainitiative.org/2018/09/08/sitemaps-org-schema-org/">A while ago EDI implemented sitemaps.org and schema.org metadata</a> (often called Search Engine Optimization) to support search engine discovery and indexing of data packages archived in the EDI repository. Sitemaps metadata serves as a table of contents for high-value information found on websites so that search engines may more easily discover relevant web pages to index. For EDI, the sitemaps metadata points to the most recent data package versions, accessible through the EDI Data Portal, and is refreshed hourly.</p>
<!-- News -->
</main>