<div class="container">
<main class="basic-inner">
<h1>News</h1>
<h2>Webinar "An indepth look at EDI's Data Explorer (DEX)", 18 October 2022 @ 3:00 pm ET</h2>
<p>October 11, 2022</p>
<p>Mark Servilla</p>
<h3>Description</h3>
<p>This month’s webinar will cover an indepth perspective of EDI's Data Explorer (DEX) and will be
presented by Roger Dahl, DEX's lead developer, and Mark Servilla.</p>
<p>EDI DEX is a new tool that allows you to explore tabular data directly from the EDI Data Repository. DEX currently supports data profiling, subsetting, and plotting. DEX is available on all three PASTA tiers (development, staging, and production). It is accessed from the Data Package landing page using the “Explore Data” button and is available for files that are recognized as containing tabular data. This webinar will present an overview of the DEX architecture and demonstrate how DEX works on actual data.</p>
<p><strong>Zoom connection: <a href="https://uwmadison.zoom.us/webinar/register/WN_Gw1yu1yKQ-W4qweh4-w8Vg" rel="noopener noreferrer" target="_blank">https://uwmadison.zoom.us/webinar/register/WN_Gw1yu1yKQ-W4qweh4-w8Vg</a></strong></p>
<!-- News -->
</main>
</div>