<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Adding Physical Metadata</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#calculating-physical-metadata">Calculating physical metadata</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#file-size">File size</a></li>
<li><a class="link-dark rounded text-muted" href="#md5-checksum">MD5 checksum</a></li>
<li><a class="link-dark rounded text-muted" href="#number-of-rows">Number of rows</a></li>
<li><a class="link-dark rounded text-muted" href="#record-delimiter">Record delimiter</a></li>
</ul>
</li>
<li><a class="link-dark rounded text-muted" href="#adding-physical-metadata-to-eml">Adding physical metadata to EML</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#ezeml">ezEML</a></li>
<li><a class="link-dark rounded text-muted" href="#emlassemblyline">EMLassemblyline</a></li>
<li><a class="link-dark rounded text-muted" href="#manually-editing-xml">Manually editing XML</a></li>
</ul>
</li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="adding-physical-metadata">Adding Physical Metadata</h1>
<p>Physical metadata such as file size, MD5 checksum, and number of rows in a table, are important pieces of information. This information is not only useful to future users who are assessing fitness of a data package for reuse, but also can be used to verify the integrity of files after uploads and downloads. When a resource is uploaded to ezEML or processed by EMLassemblyline, this information is automatically calculated. However, neither application can obtain this information from a file that is not accessible. The responsibility is instead placed on the data provider to determine and manually enter this physical metadata.</p>

<h2 id="calculating-physical-metadata">Calculating physical metadata</h2>
<p>Physical metadata can usually be obtained for a file in a variety of ways. These methods may differ depending on the operating system of the computer.</p>
<h3 id="file-size">File size</h3>
<p>On both Windows and Mac computers, file size can be found by right-clicking on the resource and selecting "Properties" or "Get Info". Make sure to record the file size displayed in bytes.</p>
<p><img class="screen-shot" src="/static/images/filesize-mac.png" width="60%"/></p>
<h3 id="md5-checksum">MD5 checksum</h3>
<p>To calculate the MD5 checksum of a file, you will want to use the Command Line (or Terminal) app on your Windows or Mac. From the command line, change your directory to where the file is located using the <code>cd</code> command. If you are on Windows, run the command <code>certutil -hashfile &lt;file&gt; MD5</code> where <code>&lt;file&gt;</code> is the filename:</p>
<p>From a Mac, once you have changed your directory with <code>cd</code>, run the command <code>md5 &lt;file&gt;</code> (alternatively, type <code>md5</code> then drag and drop the file to Terminal): </p>
<p><img class="screen-shot" src="/static/images/md5-mac.png" width="50%"/></p>
<p>This command can be run from an R environment (Windows or Mac) with <code>md5sum(&lt;file&gt;)</code>, where <code>&lt;file&gt;</code> is the full path to the entity.</p>
<h3 id="number-of-rows">Number of rows</h3>
<p>Calculating number of rows from a CSV file can be a little more tricky, especially if the file is too large to open in Excel or similar spreadsheet software.</p>
<p>If downloading the table from a database, obtain this information from the database using <code>SQL COUNT()</code></p>
<p>From a Mac command line, the prompt <code>wc -l &lt;file&gt;</code> will count the number of line breaks in the file. This is perfectly useful information as long as you are certain that there are no line breaks within individual lines (such as in comment columns).</p>
<p><img class="screen-shot" src="/static/images/numrows-mac.png" width="50%"/></p>
<p>This command can be run from an R environment (Windows or Mac) with <code>system("wc -l &lt;file&gt;", intern = TRUE)</code></p>
<p><img class="screen-shot" src="/static/images/numrows-r.png" width="40%"/></p>
<h3 id="record-delimiter">Record delimiter</h3>
<p>The record delimiter, or end of line character, marks the end of each line (or record) in a file. There are generally three flavors of record delimiter, a line feed (<code>\n</code>), a carriage return (<code>\r</code>), and a combination carriage return line feed (<code>\r\n</code>). When determining which record delimiter your file uses, consider which operating system was used to create your file. Mac OS files will use the line feed (<code>\n</code>), while files created on a Windows machine will use the combination carriage return line feed (<code>\r\n</code>). The single carriage return (<code>\r</code>) was used by older Macs and is typically not seen anymore.</p>
<p>If the origin of the file is uncertain, you can determine the record delimiter by using a text editing application like <a href="https://notepad-plus-plus.org/" rel="noopener noreferrer" target="_blank">Notepad++</a>. From Notepadd++:</p>
<ol>
<li>Open the file.</li>
<li>Select the menu item <code>View &gt; Show Symbol &gt; Show End of Line</code>.</li>
<li>Go to the end of a line to see the record delimiter. It will display <code>CR LF</code> or <code>LF</code> whether the record delimiter is combination carriage return line feed or just line feed. In the very rare case that the record delimiter is just carriage return, it will display <code>CR</code>.</li>
</ol>
<h2 id="adding-physical-metadata-to-eml">Adding physical metadata to EML</h2>
<p>Physical information for a file can be inserted into an EML document to facilitate upload to the EDI repository.</p>
<h3 id="ezeml">ezEML</h3>
<p>To insert physical information for a table via <a href="https://ezeml.edirepository.org/eml/" rel="noopener noreferrer" target="_blank">ezEML</a>:</p>
<ol>
<li>
<p>Navigate to the <strong>Data Tables</strong> tab and click the <strong>Edit</strong> button next to the data table.</p>
<p><img class="screen-shot" src="/static/images/link-ezeml1.png" width="75%"/></p>
</li>
<li>
<p>Enter the physical information for the table into the <strong>Online Distribution URL</strong> textbox. Remember to click <strong>Save and Continue</strong> before moving on.</p>
<p><img class="screen-shot" src="/static/images/phys-ezeml.png" width="60%"/></p>
</li>
</ol>
<blockquote>
<p>This method can be replicated in the <strong>Other Entities</strong> tab as well. </p>
</blockquote>
<h3 id="emlassemblyline">EMLassemblyline</h3>
<p>Physical information for a data table or other entity can be added using the <code>template_physical()</code> function (Coming Soon)</p>
<h3 id="manually-editing-xml">Manually editing XML</h3>
<p>If you've created a valid EML document using an ezEML creation tool, these attributes will already be created. To alter physical information for data tables or other entities manually:</p>
<ol>
<li>Open the XML file in a text editor.</li>
<li>Within the <code>&lt;dataTable&gt;</code> (or <code>&lt;otherEntity&gt;</code>, <code>&lt;spatialRaster&gt;</code>, or <code>&lt;spatialVector&gt;</code>) element, the <code>&lt;physical&gt;</code> element will contain a <code>&lt;size&gt;</code> and an <code>&lt;authentication&gt;</code> element, which should contain the attributes <code>unit = "bytes"</code> and <code>"method=MD5"</code>, respectively. Change the values of the <code>&lt;size&gt;</code> and <code>&lt;authentication&gt;</code> element, if necessary.</li>
<li>For the <code>&lt;dataTable&gt;</code> element, the <code>&lt;numberOfRecords&gt;</code> can be changed to reflect the number of rows in a table.</li>
</ol>
</main>
</div>
</div>
</div>