<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="sidebar-inner">
<div class="container">
<aside class="sidebar"><div class="sticky-sm-top"><div class="sticky-md-top"><div class="sticky-lg-top"><div class="sticky-xl-top">
<ul>
<li><a href="#the-license">The license</a></li>
<li><a href="#metadata-completeness">Metadata completeness</a></li>
<li><a href="#prior-research-using-the-data">Prior research using the data</a></li>
<li><a href="#level-of-processing">Level of processing</a></li>
<li><a href="#explore-the-data">Explore the data</a></li>
<li><a href="#engage-with-the-author">Engage with the author</a></li>
</ul>
</div></div></div></div></aside><main class="main-tutorial">
<h1 id="assessing-fitness-for-use">Assessing Fitness for Use</h1>
<p>Before using a published data package, it is important to consider whether it meets the requirements of the research question under investigation. The scope of this assessment may be wide; fitness encompasses not only how the data may serve the needs of the data user, but also how the data have been previously used, the level of processing or manipulation the data have already received, and the use license the data are released under. When planning to use published data, it is often a good idea to initiate a conversation with the data authors.</p>

<h2 id="the-license">The license</h2>
<p>What license are the data released under? This is one of the first things to consider since it may preclude reuse. See <a href="/resources/licensing-data">licensing data</a> for more information for more on how licenses affect the use of published data .</p>
<h2 id="metadata-completeness">Metadata completeness</h2>
<p>Metadata should be complete enough to answer questions and leave no uncertainty. Special attention should be paid to sampling methods and units. Understanding the original context and purpose of the data can indicate the data may be reused in similar or related contexts. When metadata are incomplete, consider reaching out directly to the contact listed under the <strong>People</strong> and <strong>Organizations</strong> section of the data package <a href="/resources/data-package-pages">full metadata page</a>.</p>
<h2 id="prior-research-using-the-data">Prior research using the data</h2>
<p>Have these data been used in other research articles? Understanding how the data have been used previously can avoid substantial and unexpected overlap.  Known usage of a data package is listed in the <strong>Journal Citations</strong> section of a data package <a href="/resources/data-package-pages">landing page</a>.</p>
<h2 id="level-of-processing">Level of processing</h2>
<p>How have these data been processed? Data packages often contain data that have been tailored to answer a specific research question. Previously aggregated data may present challenges when used for novel analyses. If a version of the raw data is not included with the data package, it may be important to consider if the data have been manipulated in a way that makes them unsuitable for a specific research question.</p>
<h2 id="explore-the-data">Explore the data</h2>
<p>Data exploration through visualization and statistical summarization provide access to information that is not conveyed in the metadata but wrapped up in the data. See <a href="/resources/data-exploration">data exploration</a> for more on tools and techniques.</p>
<h2 id="engage-with-the-author">Engage with the author</h2>
<p>When using data collected by someone else, it is both courteous and wise to make direct contact before incorporating the data into a new analysis. Contact information is available under the <strong>People</strong> and <strong>Organizations</strong> section of the data package <a href="/resources/data-package-pages">full metadata page</a>.</p>
</main>
</div>
</div>
</div>
</div>