<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
<div class="sticky-sm-top">
<div class="sticky-md-top">
<div class="sticky-lg-top">
<div class="sticky-xl-top">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#describe">Describing a Dataset</a><br>
		<a href="#review">Reviewing a Data Submission</a><br>
		<a href="#publish">Publishing a Data Package</a><br>
		<a href="#next_steps">Next Steps</a><br>
	</div>
	</div>
	</div>
	</div>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Authors</h1>
            <p>What is a data author?</p>

	    <h3 id="getting_started">Getting Started</h3>
		<h4 id="why_publish">Why Publish My Data?</h4>
		<h4 id="get_an_orcid">ORCiDs are Important</h4>
		<h4 id="the_new_research_life_cycle">The Research Data Life Cycle</h4>
	    <h4 id="the_data_package">The Data Package</h4>
		<h4 id="what_to_include">What to Include in a Data Package?</h4>
		<h4 id="considerations_for_data_cleaning">Considerations for Data Cleaning</h4>

		<h3 id="describe">Describing a Dataset</h3>
		<h4 id="why_metadata_is_important">Why Metadata is Important</h4>
		<h4 id="metadata_with_ezEML">Creating Information Rich Metadata</h4>
		
		<h3 id="review">Reviewing a Data Submission</h3>
		
		<h3 id="publish">Publishing a Data Package</h3>
		
		<h3 id="next_steps">Next Steps</h3>
		<h4 id="add_an_article">Add a Citing Article</h4>
		<h4 id="update_your_research_profile">Update Your Research Profile</h4>
		<h4 id="publicise">Publicise Your Data Publication</h4>
		<h4 id="">Tools for Reusing Your Data Publications</h4>
		<h4 id="report">Report to Funding Sources</h4>

	</main>
    </div>
    </div>
    </div>
</div>
