<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
		<a href="#collection_status">Collection status</a><br>
		<a href="#collection_finished">Collection finished</a><br>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Authors</h1>
            <p>5 phases of data publishing</p>

	    <h3 id="collection_status">Collection status</h3>

	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    Data collection is finished</p>
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.
	    <p>Is data collection finished or will there be more data added? Continuous instrument data is only one kind of “ongoing” data. Human-observed data (such as ecological or biogeochemical survey data) may also be expecting updates, albeit less regularly.

	    <h3 id="collection_finished">Collection finished</h3>
	    <p>The data package(s) may be being created to go with a published paper or a student’s thesis. These datasets are not expected to have data values added later on and will be archived only once. Later enhancements of the metadata are possible.</p>

	</main>
    </div>
    </div>
    </div>
</div>
