<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#describe">Describe</a><br>
		<ul>
		<a href="#orcid">Get an ORCID</a><br>
		<a href="#data_package">The Data Package</a><br>
		<a href="#include_in_package">What to Include in a Data Package?</a><br>
		</ul>
		<a href="#review">Review</a><br>
		<a href="#publish">Publish</a><br>
		<a href="#next_steps">Next Steps</a><br>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Authors</h1>
            <p>Data authors are classified as the individual scientist or data set creator that would like to publish their data set themselves. These have been traditionally thought of as the “one off” and “non-data manager” use cases. A subset of the tooling and data management practices are presented to this class of user so they are not overwhelmed.  Of course though, if they would like to learn about all the bells and whistles, we encourage them to check out resources for data managers.</p>

	    <h3 id="getting_started">Getting Started</h3>
		<p>Data is a First Class Research Object - [Pep-talk] Create a first class research object - Get your citations up! … and generally the ramifications for the evolution of science. Other reasons why:</p>
		<ul>
		  <li>Increase citations of your research – through traditional and non-traditional means</li>
		  <li>Connect with possible collaborators</li>
		  <li>Improve reproducibility and replicability</li>
		  <li>Trust in science</li>
		  <li>Comply with funder mandates</li>
		  <li>Comply with publisher requirements for data</li>
		</ul>
		
		<h4 id="get_an_orcid">Get an ORCiD</h4>
	    <p>The New Research Life Cycle - The traditional research life cycle begins with project planning, moving on to data collection, data organization, cleaning of those data, analysis, manuscript development, and eventually article publication. Now ... where are you going to find the time to publish data in all this?</p>
		<p>The New Research Life Cycle - The traditional research life cycle begins with project planning, moving on to data collection, data organization, cleaning of those data, analysis, manuscript development, and eventually article publication. Now ... where are you going to find the time to publish data in all this?</p>
		<p>It turns out the data publication process maps nicely onto the research life cycle and really only entails a little better bookkeeping in the data collection, organization, and cleaning phases, and then upload of those metadata and data to a repository.</p>
		<p>Note: Our data publication submission interface (ezEML) Allows you to describe your data throughout the collection, organization, and cleaning phases of the research life cycle, thereby greatly simplifying the amount of work required during the upload step. This bookkeeping is not only beneficial to the publication face but also  serves as an authoritative set of descriptions you can share with others.</p>

	    <h4 id="the_data_package">The Data Package</h4>
	    <p>The data package is the unit of publication. It’s an assemblage of science metadata and one or more science data objects (these are the parts that you are responsible for) and include a quality report that's generated at the time of upload and describes how well your metadata match the actual contents of your data objects. These three objects are then described by what we call a resource map which is essentially a manifest of all these items. All this content is then bundled up stamped with a DOI and put into long-term storage for reuse.</p>
		<p>Data packages have some important features. First, they're immutable which makes them suitable for reproducible research. Second, data packages are versionable thereby accommodating updates and improvements through time. And finally, data packages are citable through globally unique and persistent digital object identifiers.</p>
		<p>Here's an example of what your data package will look like once published in our repository:</p>
		<p>Note: We currently have a soft limit of 500 MB on package uploads. Please contact us if your data will exceed this limit.</p>
		
		<h4 id="what_to_include">What to Include in a Data Package?</h4>
	    <p>If you will be publishing data in support of a manuscript, then include data required to reproduce the results. Consider publishing the minimally processed version of the data, so they can be reused in other contexts with scripting the processing and analysis in your computational language of choice so your results are reproducible. Be sure to include links to any source data used in your work (See the concept of provenance metadata). [Figure: organize_reproducible.svg]</p>
		<p>If you are publishing data not as part of a manuscript but as part of an ongoing time series serving context and general data reuse,  then see our data management resource on “organizing data into publishable units”.</p>
		
		<h4 id="considerations_for_data_cleaning">Considerations for Data Cleaning</h4>
	    <p>A very brief summary of  The five phases cleaning phase.</p>

		<h3 id="describe">Describe</h3>
	    <p></p>
		
		<h4 id="why_metadata_is_important">Why Metadata is Important</h4>
	    <p>[5 phases intro to metadata]. Brief not about the importance of provenance.</p>
		
		<h4 id="metadata_with_ezEML">Creating Metadata with ezEML</h4>
	    <p>[From John’s very brief intro]. Submit to EDI curation team (or a designated data manager) for review.</p>
		
		<h3 id="review">Review</h3>
	    <p>Work with our data curation team to improve your publication. [Behind the Scenes OBFS presentation].</p>
		
		<h3 id="publish">Publish</h3>
	    <p>When it looks good to you, and you are ready, then publish</p>
		
		<h3 id="next_steps">Next Steps</h3>
		<ul>
		  <li>Update your CV/Check your Google Scholar profile/Check your ORCiD profile</li>
		  <li>Publicise: encourage collaboration and reuse</li>
		  <li>DEX</li>
		  <li>Import scripts</li>
		  <li>Read from API</li>
		  <li>metajam</li>
		</ul>

	</main>
    </div>
    </div>
    </div>
</div>
