<div metal:use-macro="load: ../shared/layout.html">
 <div metal:fill-slot="content" tal:omit-tag="True">
  <main class="main-tutorial">
   <h1>
    Creating Metadata During the Research Life Cycle
   </h1>
   <p>
    Our experiences as data curators and scientists have shown that continuous creation of metadata during the research life cycle greatly benefits data management during a project and when it comes time to publish data when the project concludes.
   </p>
   <p>
    <img src="/static/images/metadata-in-the-research-life-cycle.png" width="50%"/>
   </p>
   <p>
    The
    <a href="https://ezeml.edirepository.org/eml/">
     ezEML
    </a>
    and
    <a href="https://ediorg.github.io/EMLassemblyline/">
     EMLassemblyline
    </a>
    applications can be used to gather metadata throughout the research life cycle. Collected metadata can be exported and rendered into a human readable form with the
    <a href="https://portal.edirepository.org/nis/metadataPreviewer.jsp">
     Metadata Previewer
    </a>
    at any time for immediate use, or when later publishing to the EDI Data Repository. Alternatively, use the
    <a href="https://github.com/EDIorg/MetadataTemplates">
     EDI Metadata Template
    </a>
    to gather metadata in a Microsoft Word (.docx) file. This file cannot be automatically translated to the EML format required for publication by the EDI Repository.
   </p>
  </main>
 </div>
</div>