<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Creating Metadata for a Data Package</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#what-is-metadata">What is metadata?</a></li>
<li><a class="link-dark rounded text-muted" href="#the-ecological-metadata-language-eml">The Ecological Metadata Language (EML)</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#what-is-the-content-of-the-data">WHAT is the content of the data?</a></li>
<li><a class="link-dark rounded text-muted" href="#who-collected-the-data">WHO collected the data?</a></li>
<li><a class="link-dark rounded text-muted" href="#when-were-the-data-collected">WHEN were the data collected?</a></li>
<li><a class="link-dark rounded text-muted" href="#where-were-the-data-collected">WHERE were the data collected?</a></li>
<li><a class="link-dark rounded text-muted" href="#how-were-the-data-collected">HOW were the data collected?</a></li>
</ul>
</li>
<li><a class="link-dark rounded text-muted" href="#eml-best-practices">EML best practices</a></li>
<li><a class="link-dark rounded text-muted" href="#creating-eml">Creating EML</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#ezeml">ezEML</a></li>
<li><a class="link-dark rounded text-muted" href="#emlassemblyline">EMLassemblyline</a></li>
</ul>
</li>
<li><a class="link-dark rounded text-muted" href="#editing-eml">Editing EML</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#oxygen-xml-editor">oXygen XML Editor</a></li>
<li><a class="link-dark rounded text-muted" href="#jedit">jEdit</a></li>
</ul>
</li>
<li><a class="link-dark rounded text-muted" href="#resources">Resources</a></li>
<li><a class="link-dark rounded text-muted" href="#references">References</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="creating-metadata-for-a-data-package">Creating Metadata for a Data Package</h1>
<p>Metadata describe the structure and context of other data. They are vital to the discovery and reuse of data, and are a required element of a <a href="/resources/the-data-package">data package</a>.</p>
<p><img src="/static/images/describe.png" width="10%"/> </p>
<p>This document introduces the concept of metadata and the Ecological Metadata Language (EML) format, used by the EDI Data Repository. It also details the tools available for creating and editing EML, and provides a brief introduction to best practices for creating EML.</p>

<h2 id="what-is-metadata">What is metadata?</h2>
<p>Generally, metadata for observational data focuses on:</p>
<ul>
<li><strong>WHAT</strong> is the content of the data?</li>
<li><strong>WHO</strong> collected the data?</li>
<li><strong>WHEN</strong> were the data collected?</li>
<li><strong>WHERE</strong> were they collected?</li>
<li><strong>HOW</strong> were the data collected?</li>
</ul>
<p>It is beneficial to begin compiling metadata at the start of <a href="/resources/creating-metadata-during-the-research-lifecycle">the research life cycle</a> and have a completed metadata for each dataset by the end of it. The information that is supposed to be retained in metadata is prone to quickly degrade if not recorded.</p>
<figure class="figure">
<img class="figure-img" src="/static/images/information_loss.png" width="65%"/>
<figcaption class="figure-caption">Figure and caption from Michener et al. 1997<sup>[2]</sup>: Example of the normal degradation in information content associated with data and metadata over time ("information entropy"). Accidents or changes in technology (dashed line) may eliminate access to remaining raw data and metadata at any time.</figcaption>
</figure>
<h2 id="the-ecological-metadata-language-eml">The Ecological Metadata Language (EML)</h2>
<p>The <a href="https://eml.ecoinformatics.org/" rel="noopener noreferrer" target="_blank">Ecological Metadata Language (EML)</a> is an XML metadata standard: a metadata schema that is maintained by a group of interested parties and optimized for the ecological and environmental sciences. The EML specification defines the content ("elements"), characteristics ("attributes"), and relationships ("hierarchy") that composes an EML file.<sup>[1]</sup> </p>
<p>Some key elements of an EML file are presented in relation to these categories of focus:</p>
<h3 id="what-is-the-content-of-the-data">WHAT is the content of the data?</h3>
<p>In the EML document, the &lt;title&gt;, &lt;abstract&gt;, and &lt;keywords&gt; elements are used to describe the content of a dataset. Further, &lt;attribute&gt; and &lt;unit&gt; elements are used in conjunction with &lt;dataTable&gt;, &lt;spatialVector&gt;, and &lt;otherEntity&gt; elements to describe specific data objects in detail.</p>
<h3 id="who-collected-the-data">WHO collected the data?</h3>
<p>The &lt;creator&gt; element describes the personnel who lent intellectual input towards the creation of the data package. The &lt;associatedParty&gt; element can be used for personnel who made some contribution but will not receive attribution in a citation (i.e. field crew, lab technicians, temporary help).</p>
<h3 id="when-were-the-data-collected">WHEN were the data collected?</h3>
<p>The &lt;temporalCoverage&gt; element stores the start and end date of the data.</p>
<h3 id="where-were-the-data-collected">WHERE were the data collected?</h3>
<p>The &lt;geographicCoverage&gt; element is used to explicitly describe the location where the research occurred. This element allows for the verbal description of locations as well as bounding coordinates. </p>
<h3 id="how-were-the-data-collected">HOW were the data collected?</h3>
<p>The &lt;methods&gt; element should be used to describe how data were collected. The information on "how" or "provenance" may be supplemented with data processing scripts and documentation of other data used.</p>
<h2 id="eml-best-practices">EML best practices</h2>
<p>For more on EML best practices see the <a href="https://ediorg.github.io/data-package-best-practices/" rel="noopener noreferrer" target="_blank">EDI Data Package Best Practices</a>.</p>
<h2 id="creating-eml">Creating EML</h2>
<p>Since the EML standard was designed to handle an enormous variety of data scenarios, EML is complex and the learning curve to creating it can be steep. EDI develops and maintains a couple tools, ezEML and EMLassemblyline, to make this process easier and allow data providers to focus on the content of their metadata. Each tool serves a slightly different use case and data providers can transfer metadata between tools to meet their needs. Both the ezEML and EMLassemblyline tools allow users to work on metadata incrementally and return to a saved state at a later time.</p>
<p>See the resources section at the bottom of this page for more tools to create EML metadata.</p>
<h3 id="ezeml">ezEML</h3>
<p><a href="https://ezeml.edirepository.org/" rel="noopener noreferrer" target="_blank">ezEML</a> is a form-based online application designed to streamline the creation of EML-formatted metadata. Despite the complexity of EML, many data scenarios require only a relatively small subset of fields to be filled out. In such scenarios, ezEML can greatly simplify the process of creating EML, especially for users who are new to EML or use it only infrequently.</p>
<p>ezEML can be used as a "wizard" leading the user through EML document creation step by step, or it can be used in a more user-directed fashion. Among other things, ezEML supports:</p>
<ul>
<li>Collaboration on EML creation through the <a href="https://ezeml.edirepository.org/static/user_guide/importing.pdf" rel="noopener noreferrer" target="_blank">import and export</a> feature</li>
<li>Data submission to an information manager for review through the <a href="https://ezeml.edirepository.org/static/user_guide/send_to_colleague.pdf" rel="noopener noreferrer" target="_blank">send to colleague</a> feature</li>
<li>Importing an <a href="https://ezeml.edirepository.org/static/user_guide/importing_xml.pdf" rel="noopener noreferrer" target="_blank">existing EML file</a> or <a href="https://ezeml.edirepository.org/static/user_guide/fetch.pdf" rel="noopener noreferrer" target="_blank">EDI published data package</a> to work with it in ezEML</li>
<li>Sharing boiler plate metadata common to a research group/site with colleagues via the <a href="https://ezeml.edirepository.org/static/user_guide/templates.pdf" rel="noopener noreferrer" target="_blank">ezEML templates</a> feature</li>
<li>Checking the EML for correctness and completeness</li>
</ul>
<p>There are a variety of options to help new users learn ezEML:</p>
<ul>
<li><a href="https://ezeml.edirepository.org/eml/about" rel="noopener noreferrer" target="_blank">About</a></li>
<li><a href="https://ezeml.edirepository.org/eml/user_guide" rel="noopener noreferrer" target="_blank">User Guide</a></li>
<li>ezEML YouTube playlist
<br/>
<div class="p-2">
<div class="w-50 ratio ratio-16x9">
<iframe allowfullscreen="" src="https://youtube.com/embed/playlist?list=PLi1PZkcSXdAKTtpgyHnd8GjtL6kRMMGFR" title="YouTube video"></iframe>
</div>
</div>
</li>
</ul>
<h3 id="emlassemblyline">EMLassemblyline</h3>
<p><a href="https://ediorg.github.io/EMLassemblyline/" rel="noopener noreferrer" target="_blank">EMLassemblyline</a> is an R package for automating the creation of EML metadata within <a href="https://ediorg.github.io/EMLassemblyline/articles/auto_pub.html" rel="noopener noreferrer" target="_blank">programmatic workflows</a>. EMLassemblyline supports the same set of metadata elements as ezEML and is extensible through the <a href="https://docs.ropensci.org/EML/" rel="noopener noreferrer" target="_blank">EML R package</a>. While it is optimized for automation, it also works well for creating a single EML metadata file.</p>
<p>Among other things, EMLassemblyline supports:</p>
<ul>
<li>Importing an <a href="https://ediorg.github.io/EMLassemblyline/reference/eml2eal.html" rel="noopener noreferrer" target="_blank">existing EML file</a> to work with it in EMLassemblyline</li>
<li>Checking the EML for correctness and completeness</li>
</ul>
<p>Learn more about using EMLassemblyline on the <a href="https://ediorg.github.io/EMLassemblyline/" rel="noopener noreferrer" target="_blank">project website</a>.</p>
<h2 id="editing-eml">Editing EML</h2>
<p>EML documents can be updated or edited using the software with which they were created (ezEML, EMLassemblyline). While this is likely the easiest way to make most edits to an EML file, it is sometimes necessary to manually edit EML in order to incorporate elements outside of the applications' scopes. Also, at times it's simpler because minor edits can be completed faster manually. While any text editor can be used to edit an EML file, XML-specific software have added capabilities to streamline the editing process and support schema validation.</p>
<h3 id="oxygen-xml-editor">oXygen XML Editor</h3>
<p><a href="https://www.oxygenxml.com" rel="noopener noreferrer" target="_blank" title="Oxygen XML Editor"><img alt="Oxygen XML Editor" border="0" src="https://www.oxygenxml.com/img/resources/oxygen190x62.png" width="150"/></a></p>
<p>The <a href="https://www.oxygenxml.com/" rel="noopener noreferrer" target="_blank">oXygen XML Editor</a> is a commercial product that provides a comprehensive suite of XML authoring and development features:</p>
<ul>
<li><a href="https://www.oxygenxml.com/non_profit_program.html" rel="noopener noreferrer" target="_blank">Academic pricing, or free license</a></li>
<li>Schema validation</li>
<li>Instant auto-complete</li>
<li>Other view modes</li>
</ul>
<h3 id="jedit">jEdit</h3>
<p><a href="http://www.jedit.org/" rel="noopener noreferrer" target="_blank">jEdit</a> is an open source and free editor providing the basics most users would need:</p>
<ul>
<li>Good general text editor</li>
<li>XML plug-in</li>
<li>Schema validation</li>
<li>Auto-complete</li>
</ul>
<h2 id="resources">Resources</h2>
<p>Additional resources for creating and managing EML metadata:</p>
<ul>
<li><a href="https://docs.ropensci.org/EML/" rel="noopener noreferrer" target="_blank">EML</a> - An R package for constructing EML. EMLassemblyline is a wrapper to this package.</li>
<li><a href="https://github.com/PASTAplus/metapype-eml" rel="noopener noreferrer" target="_blank">metapype-eml</a> - A Python package for constructing EML. ezEML is based off this.</li>
<li><a href="https://github.com/lter/LTER-core-metabase" rel="noopener noreferrer" target="_blank">LTER Core-Metabase</a> - A PostgreSQL RDB model for research groups managing large volumes of EML metadata.</li>
</ul>
<h2 id="references">References</h2>
<p><sup>[1]</sup>Matthew B. Jones, Margaret O'Brien, Bryce Mecum, Carl Boettiger, Mark Schildhauer, Mitchell Maier, Timothy Whiteaker, Stevan Earl, Steven Chong. 2019. Ecological Metadata Language version 2.2.0. KNB Data Repository. doi:10.5063/F11834T2</p>
<p><sup>[2]</sup>Michener, W.K., Brunt, J.W., Helly, J.J., Kirchner, T.B. and Stafford, S.G. (1997), NONGEOSPATIAL METADATA FOR THE ECOLOGICAL SCIENCES. Ecological Applications, 7: 330-342. https://doi.org/10.1890/1051-0761(1997)007[0330:NMFTES]2.0.CO;2</p>
</main>
</div>
</div>
</div>