<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#data_management_planning">Data Management Planning</a><br>
		<a href="#collecting_data">Collecting Data</a><br>
		<a href="#data_quality_management">Data Quality Management</a><br>
		<a href="#organizing_publishable_units">Organizing Data into Publishable Units</a><br>
		<a href="#cleaning_data_for_publishing">Cleaning Data for Publishing</a><br>
		<a href="#describe_metadata">Describe (Metadata)</a><br>
		<a href="#evaluate">Evaluate</a><br>
		<a href="#upload">Upload</a><br>
		<a href="#dashboard">Dashboard</a><br>
		<a href="#versioning">Versioning</a><br>
		<a href="#building_a_data_catalog">Building a Data Catalog</a><br>
		<a href="#"></a><br>
		<a href="#"></a><br>
		<a href="#"></a><br>
		
		
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Managers</h1>
            <p>Data managers publish data on behalf of others, generally have technical expertise above and beyond the data author, and represent the advanced use case.  Data managers are presented with all the bells and whistles that the repository has to offer.</p>

	    <h3 id="getting_started">Getting Started</h3>
		
		<h3 id="data_management_planning">Data Management Planning</h3>
		
		<h3 id="collecting_data">Collecting Data</h3>
		<h4 id="collection_scheme">Collection Scheme</h4>
		<h4 id="quality_assurance">Quality Assurance</h4>
		<h4 id="metadata_collection">Metadata</h4>
		
		<h3 id="data_quality_management">Data Quality Management</h3>
		<h4 id="quality_control">Quality Control</h4>
		<h4 id="improving_data_quality">Improving Data Quality</h4>
		<h4 id="versioning">Versioning</h4>
		
		<h3 id="organizing_publishable_units">Organizing data into publishable units</h3>
		<h4 id="reproducibility">Reproducibility</h4>
		<h4 id="duplication">Duplication</h4>
		<h4 id="value">Value</h4>
		<h4 id="theme">Theme</h4>
		<h4 id="methodology">Methodology</h4>
		<h4 id="relation">Relation</h4>
		<h4 id="location">Location</h4>
		<h4 id="volume">Volume</h4>
		<h4 id="temporal_frequency">Temporal Frequency</h4>
		<h4 id="level_of_processing">Level of Processing</h4>
		
		<h3 id="cleaning_data_for_publishing">Cleaning Data for Publishing</h3>
		<h4 id="human_readable_vs_archive_ready">Human readable versus archive ready</h4>
		<h4 id="storage_format">Storage Format</h4>
		<h4 id="file_names">File Names</h4>
		<h4 id="column_names">Column Names</h4>
		<h4 id="date_and_time_formats">Date and Time Formats</h4>
		<h4 id="one_value_per_cell">One Value per Cell</h4>
		<h4 id="adding_new_data">Adding New Data</h4>
		<h4 id="missing_value_codes">Missing Value Codes</h4>
		<h4 id="quality_control">Quality Control</h4>
		<h4 id="flag_columns">Flag Columns</h4>
		
		<h3 id="describe_metadata">Describe (Metadata)</h3>
		<h4 id="new_versions">New Versions</h4>
		<h4 id="eml">EML</h4>
		<h4 id="creating_and_editing_eml">Creating and Editing EML</h4>
		<h4 id="eml_best_practices">EML Best Practices</h4>
		
		<h3 id="evaluate">Evaluate</h3>
		
		<h3 id="upload">Upload</h3>
		
		<h3 id="dashboard">Dashboard</h3>
		
		<h3 id="versioning">Versioning</h3>
		
		<h3 id="building_a_data_catalog">Building a Data Catalog</h3>
		
		<h3 id="data_packaging_best_practices">Data Packaging Best Practices</h3>
		
		<h3 id="thematic_harmonization">Thematic Standardization</h3>
		<h4 id="ecocomdp">ecocomDP</h4>
		<h4 id="climhydro">ClimHydro</h4>
		

	</main>
    </div>
    </div>
    </div>
</div>
