<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
            <div class="sticky-sm-top">
            <div class="sticky-md-top">
            <div class="sticky-lg-top">
            <div class="sticky-xl-top">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#data_management_planning">Data Management Planning</a><br>
		<a href="#collecting_data">Collecting Data</a><br>
		<a href="#data_quality_management">Improving Data Quality</a><br>
		<a href="#organizing_publishable_units">Organizing for Publication</a><br>
		<a href="#cleaning_data_for_publishing">Cleaning for Publication</a><br>
		<a href="#describe_metadata">Metadata for Publication</a><br>
		<a href="#evaluate">Evaluating a Data Package</a><br>
		<a href="#upload">Publishing a Data Package</a><br>
		<a href="#versioning">Revisioning a Data Package</a><br>
		<a href="#building_a_data_catalog">Building a Data Catalog</a><br>
		<a href="#thematic_harmonization">Thematic Standardization</a><br>
		<a href="#data_packaging_best_practices">Data Packaging Best Practices</a><br>
		<a href="#dashboard">The EDI Dashboard</a><br>
	    </div>
	    </div>
	    </div>
	    </div>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Managers</h1>
            <p>What is a data manager?</p>

	    <h3 id="getting_started">Getting Started</h3>
		
		<h3 id="data_management_planning">Data Management Planning</h3>
		
		<h3 id="collecting_data">Collecting Data</h3>
		<h4 id="collection_scheme">Collection Scheme</h4>
		<h4 id="quality_assurance">Quality Assurance</h4>
		<h4 id="metadata_collection">Metadata</h4>
		
		<h3 id="data_quality_management">Improving Data Quality</h3>
		<h4 id="quality_control">Quality Control</h4>
		<h4 id="improving_data_quality">Data Quality Improvement Process</h4>
		<h4 id="versioning">Versioning Data</h4>
		
		<h3 id="organizing_publishable_units">Organizing for Publication</h3>
		<h4 id="reproducibility">Considerations for Organizing Data</h4>
		
		<h3 id="cleaning_data_for_publishing">Cleaning Data for Publishing</h3>
		<h4 id="cleaning_tables">Tables</h4>
		<h4 id="cleaning_spatial">Spatial Data</h4>
		<h4 id="cleaning_images">Images/Video</h4>
		<h4 id="cleaning_otherentities">Other Entities</h4>
		
		<h3 id="describe_metadata">Metadata for Publication</h3>
		<h4 id="new_versions">New Versions</h4>
		<h4 id="eml">The Ecological Metadata Language EML</h4>
		<h4 id="creating_and_editing_eml">Creating and Editing EML</h4>
		<h4 id="eml_best_practices">EML Best Practices</h4>
		
		<h3 id="evaluate">Evaluating a Data Package</h3>
		
		<h3 id="upload">Publishing a Data Package</h3>
		
		<h3 id="versioning">Revisioning a Data Package</h3>
		
		<h3 id="building_a_data_catalog">Building a Data Catalog</h3>
		
		<h3 id="thematic_harmonization">Thematic Standardization</h3>
		<h4 id="ecocomdp">ecocomDP</h4>
		<h4 id="climhydro">ClimHydro</h4>
		
		<h3 id="data_packaging_best_practices">Data Packaging Best Practices</h3>
		
		<h3 id="dashboard">The EDI Dashboard</h3>
		
		

	</main>
    </div>
    </div>
    </div>
</div>
