<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Deprecating a Data Package</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#step-1-notify-users-about-the-deprecation">Step 1 - Notify users about the deprecation</a></li>
<li><a class="link-dark rounded text-muted" href="#step-2-soft-delete-the-data-package">Step 2 - "Soft delete" the data package</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="deprecating-a-data-package">Deprecating a Data Package</h1>
<p>Deprecation enables data authors to discourage the continued use of a data package, in favor of a better alternative. It's typically applied when data issues cannot be resolved through a <a href="/resources/updating-a-data-package">data package update</a>, or when maintenance of a data package has moved to a new <a href="/resources/the-data-package#versioning-data-packages">data package series</a>. </p>
<p>Deprecation involves posting a prominent notification of the change and removal of the data package from the EDI search index. This "soft delete" hides the data package from new potential users but keeps it accessible to existing users that already have a direct link (e.g. DOI). In essence, this discourages use while preserving the persistence and immutability required by Open Data and Reproducible Research.</p>
<blockquote>
<p>Note, only under extreme circumstances do we completely remove a data package from existence. Such situations are handled carefully on a case-by-case basis.</p>
</blockquote>

<h2 id="step-1-notify-users-about-the-deprecation">Step 1 - Notify users about the deprecation</h2>
<p>Notify users about the deprecation by adding "DEPRECATED" in both the title and abstract of the data package metadata. Also, in the first paragraph of the abstract, describe the reasons for the change and any links to superseding data packages. Our <a href="/news/news-20210430.00">support of Markdown</a> in title and abstract text provides some liberty with sizing and formatting (e.g., bold).</p>
<blockquote>
<p>Tip: Use the <a href="https://portal.edirepository.org/nis/metadataPreviewer.jsp" rel="noopener noreferrer" target="_blank">Metadata Previewer</a> to see how the changes will render in the EDI Portal before publishing.</p>
</blockquote>
<p>An example data package deprecation notice:</p>
<p><img alt="Deprecation notice" class="screen-shot" src="/static/images/deprecation-notice.png" width="85%"/></p>
<p>Once the metadata edits are complete, the changes will have to be uploaded via <a href="/resources/updating-a-data-package">data package update</a>.</p>
<h2 id="step-2-soft-delete-the-data-package">Step 2 - "Soft delete" the data package</h2>
<p>Execute a "soft delete" of the data package. Any data package owner can perform this operation using <a href="https://en.wikipedia.org/wiki/CURL" rel="noopener noreferrer" target="_blank">cURL</a> or another HTTP-based application that can send a "DELETE" request. The delete method is described in the <a href="https://pasta.lternet.edu/package/docs/api#DELETE%20:%20/eml/%7Bscope%7D/%7Bidentifier%7D" rel="noopener noreferrer" target="_blank">API documentation</a>. Note that the entire series will be "soft deleted", so use only the data package scope and identifier in the DELETE request. To perform a "soft delete" using <code>cURL</code> you would need to set the "user" and "request method" parameters to identify the owner of the data package and the <code>DELETE</code> mehtod. The full <code>cURL</code> command would look like</p>
<pre><code>curl --user &lt;USER&gt;:&lt;PASSWORD&gt; -X DELETE &lt;URL&gt;
</code></pre>
<p>The PASTA API requires the "user" parameter to be the full EDI LDAP distinguished name (e.g., <code>uid=NIN,o=EDI,dc=edirepository,dc=org</code>), where the "uid" field is the identifier used to login into the Data Portal when publishing a data package.</p>
<p>For example, the command</p>
<pre><code>curl --user 'uid=NIN,o=EDI,dc=edirepository,dc=org:asd9wkjas38' -X DELETE 'https://pasta.lternet.edu/package/eml/knb-lter-nin/7'
</code></pre>
<p>will "soft delete" all data package revisions of the <strong>knb-lter-nin.7</strong> series in the EDI production environment. To perform a "soft delete" on your data package replace the identifier "NIN" and the password "asd9wkjas38" with your own user identifier and password. You may also perform a "soft delete" in the EDI staging environment by replacing <code>pasta.lternet.edu</code> with <code>pasta-s.lternet.edu</code> in the URL.</p>
<blockquote>
<p>Please <a href="/support/contact-us">contact us</a> if you need help deleting a data package.</p>
</blockquote>
</main>
</div>
</div>
</div>