<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Designing a Data Package</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#considerations-for-design">Considerations for design</a><ul class="fw-normal">
<li><a class="link-dark rounded text-muted" href="#reproducible-science">Reproducible science</a></li>
<li><a class="link-dark rounded text-muted" href="#duplicated-data">Duplicated data</a></li>
<li><a class="link-dark rounded text-muted" href="#theme-of-the-data">Theme of the data</a></li>
<li><a class="link-dark rounded text-muted" href="#method-of-collection">Method of collection</a></li>
<li><a class="link-dark rounded text-muted" href="#location-of-collection">Location of collection</a></li>
<li><a class="link-dark rounded text-muted" href="#completeness-of-the-data">Completeness of the data</a></li>
<li><a class="link-dark rounded text-muted" href="#size-of-data-files">Size of data files</a></li>
<li><a class="link-dark rounded text-muted" href="#sampling-frequency">Sampling frequency</a></li>
<li><a class="link-dark rounded text-muted" href="#level-of-processing">Level of processing</a></li>
</ul>
</li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="designing-a-data-package">Designing a Data Package</h1>
<p>When designing a <a href="/resources/the-data-package">data package</a>, it is important to consider multiple factors in order to satisfy local or community research needs. Considerations such as whether data should be published as a single package or in a set of related packages must be made to ultimately create a data package that is optimized for discovery and reuse.</p>

<h2 id="considerations-for-design">Considerations for design</h2>
<h3 id="reproducible-science">Reproducible science</h3>
<p>If publishing data in support of a manuscript, then include the data and processing scripts required to reproduce the results.</p>
<p><img src="/static/images/reproducible-research.png" width="15%"/> </p>
<h3 id="duplicated-data">Duplicated data</h3>
<p>Have these exact data been published elsewhere? If so, then don't republish unless <a href="https://ediorg.github.io/data-package-best-practices/guide-special-cases/other-repositories.html" rel="noopener noreferrer" target="_blank">the duplication is warranted</a>. Duplicates create maintenance issues for data managers and confusion for users. If data published elsewhere is used to create a derived dataset, reference these data via <a href="/resources/provenance-metadata">provenance metadata</a>. Derived data are not exact copies and can be archived. Mutable data licensed under the public domain can be archived. When in doubt, consult the data authors before republishing.</p>
<p><img src="/static/images/organize-duplication.png" width="25%"/> </p>
<h3 id="theme-of-the-data">Theme of the data</h3>
<p>Data packages may include the full set of data for one study, or each type of measurement (e.g. biological, chemical, physical) may comprise its own data package. The decision depends on the research question from the study, and whether all data are needed to interpret them or if they may be used out of context from each other.</p>
<p><img src="/static/images/organize-theme.png" width="25%"/> </p>
<h3 id="method-of-collection">Method of collection</h3>
<p>In long-term observations, sampling methods may change. This may warrant separating the data into different data packages to account for altered accuracy, precision, and other attributes. Clear communication of changes or the relationship between data packages is important. </p>
<p><img src="/static/images/organize-methodology.png" width="25%"/> </p>
<h3 id="location-of-collection">Location of collection</h3>
<p>Similar considerations apply to sampling location. Grouping by location can either improve discovery of related data or "clutter" organization and understanding.</p>
<p><img src="/static/images/organize-location.png" width="25%"/> </p>
<h3 id="completeness-of-the-data">Completeness of the data</h3>
<p>Some "ancillary" or background data or information may be critical in understanding and interpreting the collected data. </p>
<p><img src="/static/images/organize-relation.png" width="75%"/> </p>
<h3 id="size-of-data-files">Size of data files</h3>
<p>Size is important for up- and download. Consider breaking the data up into smaller manageable units. There is a soft limit of 500 MB when uploading via the EDI Data Portal (which can be avoided by data managers with an EDI account and <a href="/resources/uploading-with-static-data-links">uploading with static data links</a>), and a hard limit of 100 GB. Please <a href="/support/contact-us">contact us</a> if your data publication will exceed either of these limits and we will help you find a solution.</p>
<p><img src="/static/images/organize-volume.png" width="25%"/> </p>
<h3 id="sampling-frequency">Sampling frequency</h3>
<p>For data collected at high sampling frequencies, consider providing down-sampled versions of the data to accommodate users preferring a coarser temporal grain. Different temporal frequencies should be separated into different data objects but included in the same package for ease of discovery.</p>
<p><img src="/static/images/organize-frequency.png" width="45%"/> </p>
<h3 id="level-of-processing">Level of processing</h3>
<p>Always try to archive the "minimally processed" version of the data so future users can apply methods appropriate to their research. However, if a lot of effort has gone into formatting and cleaning data, those should be published as well, either in the same package or separately with <a href="/resources/provenance-metadata">provenance metadata</a> to make the relationship clear between them.</p>
<p><img src="/static/images/data-processing-levels.png" width="90%"/> </p>
</main>
</div>
</div>
</div>