<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        <main class="main-tutorial">
            <h1 id="the-edi-featured-data-series">
                The EDI Featured Data Series
            </h1>
            <p>
                We regularly highlight data packages that stand out with respect to the published data and associated
                publications, or are used in unique and exemplary ways, such as teaching and data sharing. Together with
                the data package creators, we prepare an article that gives some background about the data and their
                use. We tweet about the featured data packages and mention them in our newsletter.
            </p>
            <p>
                Please
                <a href="/support/contact-us">
                    contact us
                </a>
                if you would like to have your data package featured. Please include a brief explanation of what makes
                the data special.
            </p>
        </main>
    </div>
</div>