<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="flex-shrink-0 py-5 px-1 bg-white sticky-top">
<a class="d-flex align-items-center mb-2 link-dark text-decoration-none" href="#"><span class="fs-5 fw-semibold">Information Manager Quickstart</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded" href="#sign-up-for-an-edi-account">Sign-up for an EDI Account</a></li>
<li><a class="link-dark rounded" href="#join-the-communications">Join the communications</a></li>
<li><a class="link-dark rounded" href="#resources">Resources</a></li>
<li><a class="link-dark rounded" href="#ask-questions">Ask questions</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="information-manager-quickstart">Information Manager Quickstart</h1>
<p>A quick start guide for Information Managers new to the EDI Data Repository. </p>
<blockquote>
<p>New LTER Information Managers should also check out the <a href="https://lter.github.io/im-manual/">LTER Information Manager's Manual</a>.</p>
</blockquote>

<h2 id="sign-up-for-an-edi-account">Sign-up for an EDI Account</h2>
<p>An EDI account enables direct upload to the EDI Data Repository and access to advanced features. To get an account, <a href="/support/contact-us">email the EDI Data Curation Team</a> with the subject line "New EDI account request" and brief answers these questions:</p>
<ul>
<li>What data formats do you plan to publish? (e.g. tabular, spatial, other)</li>
<li>What is the total approximate volume of data you would like to publish now? (e.g. megabytes, gigabytes, terabytes)</li>
<li>What is the expected approximate volume of data you'd like to publish annually? (e.g. megabytes, gigabytes, terabytes)</li>
<li>Do you currently document your data with a metadata standard? If so, what standard?​ (e.g. EML, ISO-19115)</li>
<li>Briefly describe why you choose EDI and any data management/publishing goals we may be able to help with.</li>
</ul>
<p>You should receive a response within 24 hours.</p>
<h2 id="join-the-communications">Join the communications</h2>
<p>Communication channels broadcast noteworthy events and facilitate conversation.</p>
<ul>
<li><strong>Newsletter</strong> - Delivered every other month providing updates to EDI services, community discussions, data stories, and opportunities. <a href="https://environmentaldatainitiative.us14.list-manage.com/subscribe?u=c258a774cbd4d34290410d1ea&amp;id=da346b264c">Subscribe to the newsletter</a>.</li>
<li><strong>Twitter</strong> - Highlights and engages with posts from the EDI community and beyond. Newsletter articles are rebroadcast here. <a href="https://twitter.com/edigotdata">Visit the EDI Twitter Page</a>.</li>
<li><strong>Slack</strong> - Great for quick questions and dialogue (<a href="/support/contact-us">contact EDI </a> for an invitation).</li>
<li><strong>Office hours</strong> - An ongoing Zoom every Wednesday at 3-4pm ET, 2-3pm CT, 1-2pm MT, 12-1pm PT.</li>
<li>Email - Contact us via email at <a href="mailto:info@environmentaldatainitiative.org">info@environmentaldatainitiative.org</a></li>
</ul>
<h2 id="resources">Resources</h2>
<p>The <a href="/resources/resources-for-information-managers">resources for information managers</a> pages provide support to information management tasks occurring throughout the research life cycle and emphasize data curation best practices.</p>
<p>Technologies and sub-projects of EDI are managed within two GitHub organizations. These are open source and community driven projects. Open new issues to report bugs and request features. Contributions are always welcome.</p>
<ul>
<li><a href="https://github.com/PASTAplus">PASTAplus</a> - Data repository code and micro services</li>
<li><a href="https://github.com/EDIorg">EDIorg</a> - Data curation tools, thematic harmonization projects, best practices, etc.</li>
</ul>
<p>We recommend checking out the LTER, and NCEAS GitHub organizations for EDI use cases and general inspiration.</p>
<ul>
<li><a href="https://github.com/lter">lter</a> - Projects in this organization support ecological research, coordination, and communication by and related to the LTER Network.</li>
<li><a href="https://github.com/NCEAS">NCEAS</a> - National Center for Ecological Analysis and Synthesis</li>
</ul>
<p>Additionally, see the DataONE GitHub organization for more data management resources and tools. EDI is a member of the DataONE Network so many of the resources provided there pertain to data published in the EDI Data Repository.</p>
<ul>
<li><a href="https://github.com/DataONEorg">DataONE</a> - Projects serving the DataONE Network.</li>
</ul>
<h2 id="ask-questions">Ask questions</h2>
<p>Please <a href="/support/contact-us">contact us</a> with your questions, often it's the fastest route to an answer.</p>
</main>
</div>
</div>
</div>