<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="flex-shrink-0 py-5 px-1 bg-white sticky-top">
<a class="d-flex align-items-center mb-2 link-dark text-decoration-none" href="#"><span class="fs-5 fw-semibold">Track Attribution with an ORCID iD</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded" href="#linking-data-publications-to-an-orcid-profile">Linking data publications to an ORCID profile</a><ul class="fw-normal">
<li><a class="link-dark rounded" href="#allowing-search-and-link-through-datacite">Allowing "Search and Link" through DataCite</a></li>
<li><a class="link-dark rounded" href="#manually-updating">Manually updating</a></li>
</ul>
</li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="track-attribution-with-an-orcid-id">Track Attribution with an ORCID iD</h1>
<p>An <a href="https://orcid.org/">ORCID iD</a> is a free, unique, persistent identifier for researchers. Having an ORCID distinguishes researchers with similar names, ensures that scientific output is correctly attributed, and improves the overall discoverability of scientific products. Linking data publications to an ORCID profile ensures that research contributions are correctly attributed across scholarly databases.</p>
<p><img src="/static/images/attribution.png" width="50%"/></p>
<p>Along with the general benefits of having an ORCID, EDI allows the ORCID iD to stand in as a login across web applications. While this currently serves to ease the login process, in the future it will allow for user profiles highlighting data publications, improved collaboration between data authors, and the ability to push new data publications to an ORCID profile through <a href="https://datacite.org/">DataCite</a>.</p>
<p><a href="https://orcid.org/register">Register for an ORCID iD</a></p>

<h2 id="linking-data-publications-to-an-orcid-profile">Linking data publications to an ORCID profile</h2>
<p>Data packages can be linked automatically through Search and Link "wizard" interfaces or manually from its DOI. </p>
<blockquote>
<p>EDI is currently working to automate the ORCID <strong>Update Profile</strong> process by adding Creators' ORCID iDs to DataCite metadata.</p>
</blockquote>
<h3 id="allowing-search-and-link-through-datacite">Allowing "Search and Link" through DataCite</h3>
<p>Allow DataCite to add newly published data packages that contain your ORCID iD directly to your ORCID profile. Additionally, you can search DataCite metadata to find published data packages that are associated with your ORCID.</p>
<ol>
<li>Access an ORCID profile page at https://orcid.org/&lt;YOUR_ORCID&gt; or by searching on your name from the ORCID site.</li>
<li>Login and navigate to the <strong>Works</strong> section at the bottom of the profile.</li>
</ol>
<p><img class="screen-shot" src="/static/images/orcid-works.png" width="90%"/></p>
<ol>
<li>In the <strong>Works</strong> section click the <strong>Add</strong> button, and then choose <strong>Search &amp; Link</strong> from the dropdown list. </li>
<li>From the <strong>Available Search &amp; Link Wizards</strong> pop-up, select <strong>DataCite</strong>. This will take you to the DataCite Profiles page.</li>
<li>From the DataCite Profiles page, next to ORCID permissions, click the green <strong>Get ORCID token</strong> button.</li>
<li>Click the <strong>Update</strong> button on the bottom of the page and ensure that the Auto-Update is enabled option is selected.</li>
</ol>
<p><img class="screen-shot" src="/static/images/orcid-works-datacite.png" width="70%"/></p>
<p>For more see the ORCID video <a href="https://vimeo.com/236776451">Use the Search &amp; Link Wizard to Import Works</a> or read the article <a href="https://support.orcid.org/hc/en-us/articles/360006973653-Add-works-by-direct-import-from-other-systems">adding works by direct import</a>.</p>
<h3 id="manually-updating">Manually updating</h3>
<p>If you would prefer not to allow DataCite to automatically update your ORCID profile when new works with your ORCID iD are published, you can opt to manually update your profile.</p>
<ol>
<li>Access an ORCID profile page at https://orcid.org/&lt;YOUR_ORCID&gt; or by searching on your name from the ORCID site.</li>
<li>Login and navigate to the <strong>Works</strong> section at the bottom of the profile.</li>
</ol>
<p><img class="screen-shot" src="/static/images/orcid-works.png" width="90%"/></p>
<ol>
<li>In the <strong>Works</strong> section click the <strong>Add</strong> button, and then choose <strong>Add manually</strong> from the dropdown list. </li>
<li>Set Work Category to <strong>Other</strong></li>
<li>Set Work type to <strong>Data set</strong></li>
<li>Add your data package title as it appears on the EDI data package <a href="/resources/data-package-pages">landing page</a>.</li>
<li>Specify "Environmental Data Initiative" as the Publisher</li>
</ol>
<p><img class="screen-shot" src="/static/images/orcid-works2.png" width="100%"/></p>
<ol>
<li>Add <strong>Publication Date</strong> and link, both of which can be found in the <strong>Citation</strong> section of your data package summary page.</li>
<li>You can add the <strong>Citation</strong> from your data package landing page to the <strong>Citation</strong> section</li>
<li>Under <strong>Works Identifier</strong> section, click <strong>Add an identifier</strong> to add your data package DOI (get the data package DOI from the <strong>Digital Object Identifier</strong> section of the <a href="/resources/data-package-pages">data package landing page</a>).</li>
<li>Select <strong>doi: Digital object identifier</strong> from the dropdown for Identifier Type</li>
<li>Add your data package DOI to the value and <strong>URL</strong> section as shown below</li>
</ol>
<p><img class="screen-shot" src="/static/images/orcid-works3.png" width="70%"/></p>
<p>For more see the ORCID documentation on <a href="https://support.orcid.org/hc/en-us/articles/360022298153-Add-works-using-an-identifier">adding works using an identifier</a>.</p>
</main>
</div>
</div>
</div>