<div metal:use-macro="load: ../shared/layout.html">
 <div metal:fill-slot="content" tal:omit-tag="True">
  <div class="sidebar-inner">
   <div class="container">
    <aside class="sidebar">
     <div class="sticky-sm-top">
      <div class="sticky-md-top">
       <div class="sticky-lg-top">
        <div class="sticky-xl-top">
         <ul>
          <li>
           <a href="#edi-data-portal">
            EDI Data Portal
           </a>
           <ul>
            <li>
             <a href="#login">
              Login
             </a>
            </li>
            <li>
             <a href="#reserving-a-data-package-identifier">
              Reserving a data package identifier
             </a>
            </li>
            <li>
             <a href="#evaluating-the-data-package">
              Evaluating the data package
             </a>
            </li>
            <li>
             <a href="#publishing-the-data-package">
              Publishing the data package
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#ediutils">
            EDIutils
           </a>
           <ul>
            <li>
             <a href="#login_1">
              Login
             </a>
            </li>
            <li>
             <a href="#reserving-a-data-package-identifier_1">
              Reserving a data package identifier
             </a>
            </li>
            <li>
             <a href="#evaluating-the-data-package_1">
              Evaluating the data package
             </a>
            </li>
            <li>
             <a href="#publishing-the-data-package_1">
              Publishing the data package
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </aside>
    <main class="main-tutorial">
     <h1 id="publishing-a-data-package">
      Publishing a Data Package
     </h1>
     <p>
      Publishing a
      <a href="/resources/the-data-package">
       data package
      </a>
      in the EDI Data Repository can be done manually via the EDI Data Portal, or programmatically using the EDIutils R package or the REST API. Across these three methods, the same general pattern is always followed: login, reserve a data package identifier, evaluate the data package, and publish the data package.
     </p>
     <p>
      <img alt="" src="/static/images/publish.png"/>
     </p>
     <blockquote>
      <p>
       We recommend
       <a href="/resources/repository-environments">
        creating a test version
       </a>
       of a data package for review before publishing the final version.
      </p>
      <p>
       Uploading a data package to the EDI Data Repository requires an
       <a href="/resources/information-manager-quickstart#sign-up-for-an-edi-account">
        EDI account
       </a>
       . Other methods of authentication (e.g. Google, ORCID, GitHub) do not allow upload. Most data authors don't upload directly to the EDI Repository but rather publish via the EDI Curation Team.
      </p>
     </blockquote>
     <h2 id="edi-data-portal">
      EDI Data Portal
     </h2>
     <p>
      The process of publishing via the
      <a href="https://portal.edirepository.org/nis/home.jsp">
       EDI Data Portal
      </a>
      is covered in detail in
      <a href="https://www.youtube.com/watch?v=F_twNhGb42k">
       this video
      </a>
      and is outlined below:
     </p>
     <h3 id="login">
      Login
     </h3>
     <p>
      From the Data Portal, click the
      <strong>
       Login
      </strong>
      button and enter EDI account credentials.
     </p>
     <p>
      <img alt="" src="/static/images/login-portal.png"/>
     </p>
     <h3 id="reserving-a-data-package-identifier">
      Reserving a data package identifier
     </h3>
     <p>
      Access the
      <strong>
       Data Package Identifier Reservations
      </strong>
      button in the
      <strong>
       TOOLS
      </strong>
      dropdown menu. Click the
      <strong>
       Reserve Next Available Identifier(s)
      </strong>
      button to create the reservation.
     </p>
     <p>
      <img alt="" src="/static/images/reserve-package-id-portal.png"/>
     </p>
     <p>
      Add the reserved identifier to the EML metadata document of the data package to be published. Identifiers can be added in the
      <strong>
       Data Package ID
      </strong>
      tab of
      <a href="https://ezeml.edirepository.org/eml/">
       ezEML
      </a>
      or provided as the argument to the
      <code>
       package.id
      </code>
      parameter of the
      <a href="https://ediorg.github.io/EMLassemblyline/reference/make_eml">
       <code>
        make_eml()
       </code>
      </a>
      function in EMLassemblyline.
     </p>
     <h3 id="evaluating-the-data-package">
      Evaluating the data package
     </h3>
     <p>
      Navigate to the
      <strong>
       Evaluate/Upload Data Packages
      </strong>
      page:
     </p>
     <p>
      <img alt="" src="/static/images/eval-upload-dropdown-portal.png"/>
     </p>
     <ol>
      <li>
       <strong>
        Choose File
       </strong>
       - Browse and select the EML file to be evaluated
      </li>
      <li>
       Unless every data object in the EML file is associated with
       <a href="/resources/uploading-with-static-data-links">
        static data links
       </a>
       , select the checkbox next to
       <strong>
        Manually upload data…
       </strong>
       to allow manual upload.
      </li>
     </ol>
     <p>
      <img alt="" src="/static/images/evaluate-manual-upload.png"/>
     </p>
     <ol>
      <li>
       From the manual uploads page, choose the files to upload for the data package and click the
       <strong>
        Evaluate
       </strong>
       button.
      </li>
     </ol>
     <p>
      <img alt="" src="/static/images/evaluate-manual-upload-page.png"/>
     </p>
     <blockquote>
      <p>
       Be aware that the length of the evaluation process increases with the size of the data being evaluated. Once the process has begun, the browser window can be closed without interrupting the evaluation. Use the EDI Dashboard
       <a href="https://dashboard.edirepository.org/dashboard/pasta/render_working_on">
        PASTA is Working On
       </a>
       feature to see when evaluation has completed. The
       <a href="/resources/evaluating-a-data-package#interpreting-the-evaluation-report">
        evaluation report
       </a>
       can be viewed from the
       <strong>
        View Evaluate/Upload Results
       </strong>
       page.
      </p>
     </blockquote>
     <h3 id="publishing-the-data-package">
      Publishing the data package
     </h3>
     <p>
      Navigate to the
      <strong>
       Evaluate/Upload Data Packages
      </strong>
     </p>
     <ol>
      <li>
       <strong>
        Choose File
       </strong>
       - Browse and select the EML file to be uploaded.
      </li>
      <li>
       Unless every data object in the EML file is associated with
       <a href="/resources/uploading-with-static-data-links">
        static data links
       </a>
       , select the checkbox next to
       <strong>
        Manually upload data…
       </strong>
       to allow manual upload.
      </li>
     </ol>
     <p>
      <img alt="" src="/static/images/upload-manual-upload.png"/>
     </p>
     <ol>
      <li>
       Confirm that upload to the EDI Data Repository.
      </li>
     </ol>
     <p>
      <img alt="" src="/static/images/confirm-upload.png"/>
     </p>
     <ol>
      <li>
       Select files for manual upload and click the
       <strong>
        Upload
       </strong>
       button.
      </li>
      <li>
       At the
       <strong>
        Evaluate/Upload Results
       </strong>
       page, if the upload was successful, the data package identifier will be linked to the newly published data package
       <a href="/resources/data-package-pages">
        landing page
       </a>
       .
      </li>
     </ol>
     <p>
      <img alt="" src="/static/images/successful-upload.png"/>
     </p>
     <blockquote>
      <p>
       Be aware that the length of the evaluation process increases with the size of the data being evaluated. Once the process has begun, the browser window can be closed without interrupting the evaluation. Use the EDI Dashboard
       <a href="https://dashboard.edirepository.org/dashboard/pasta/render_working_on">
        PASTA is Working On
       </a>
       feature to see when evaluation has completed. The
       <a href="/resources/evaluating-a-data-package#interpreting-the-evaluation-report">
        evaluation report
       </a>
       can be viewed from the
       <strong>
        View Evaluate/Upload Results
       </strong>
       page.
      </p>
     </blockquote>
     <h2 id="ediutils">
      EDIutils
     </h2>
     <p>
      Publishing with the
      <a href="https://ediorg.github.io/EDIutils/index">
       EDIutils
      </a>
      R package allows each step of the process to be executed from an R environment. For a language-agnostic solution, see the REST API documentation for
      <a href="https://pastaplus-core.readthedocs.io/en/latest/doc_tree/pasta_api/data_package_manager_api#create-reservation">
       Create Reservation
      </a>
      ,
      <a href="https://pastaplus-core.readthedocs.io/en/latest/doc_tree/pasta_api/data_package_manager_api#evaluate-data-package">
       Evaluate Data Package
      </a>
      , and
      <a href="https://pastaplus-core.readthedocs.io/en/latest/doc_tree/pasta_api/data_package_manager_api#create-data-package">
       Create Data Package
      </a>
      .
     </p>
     <blockquote>
      <p>
       To publish with EDIutils all data objects must be associated with
       <a href="/resources/uploading-with-static-data-links">
        static data links
       </a>
       .
      </p>
     </blockquote>
     <h3 id="login_1">
      Login
     </h3>
     <p>
      Use the
      <a href="https://ediorg.github.io/EDIutils/reference/login">
       <code>
        login()
       </code>
      </a>
      function with EDI account credentials.
     </p>
     <h3 id="reserving-a-data-package-identifier_1">
      Reserving a data package identifier
     </h3>
     <p>
      Use the
      <a href="https://ediorg.github.io/EDIutils/reference/create_reservation">
       <code>
        create_reservation()
       </code>
      </a>
      function to reserve the next available identifier in the specified scope and repository environment.
     </p>
     <h3 id="evaluating-the-data-package_1">
      Evaluating the data package
     </h3>
     <p>
      Use the
      <a href="https://ediorg.github.io/EDIutils/reference/evaluate_data_package">
       <code>
        evaluate_data_package()
       </code>
      </a>
      function to begin the evaluation process. See
      <a href="/resources/evaluating-a-data-package#evaluating-the-data-package">
       evaluating a data package
      </a>
      for details.
     </p>
     <h3 id="publishing-the-data-package_1">
      Publishing the data package
     </h3>
     <p>
      Use the
      <a href="https://ediorg.github.io/EDIutils/reference/create_data_package">
       <code>
        create_data_package()
       </code>
      </a>
      function to publish the data package in the EDI Data Repository.
     </p>
     <p>
      This function returns a "transaction identifier" which can be passed to
      <a href="https://ediorg.github.io/EDIutils/reference/check_status_create">
       <code>
        check_status_create()
       </code>
      </a>
      to determine the status of the publication.
     </p>
    </main>
   </div>
  </div>
 </div>
</div>