<div metal:use-macro="load: ../shared/layout.html">
 <div metal:fill-slot="content" tal:omit-tag="True">
  <div class="sidebar-inner">
   <div class="container">
    <aside class="sidebar">
     <div class="sticky-sm-top">
      <div class="sticky-md-top">
       <div class="sticky-lg-top">
        <div class="sticky-xl-top">
         <ul>
          <li>
           <a href="#types-of-contributions">
            Types of contributions
           </a>
          </li>
          <li>
           <a href="#preparing-for-submission">
            Preparing for submission
           </a>
          </li>
          <li>
           <a href="#submission">
            Submission
           </a>
          </li>
          <li>
           <a href="#review">
            Review
           </a>
          </li>
          <li>
           <a href="#publication">
            Publication
           </a>
          </li>
          <li>
           <a href="#next-steps">
            Next steps
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </aside>
    <main class="main-tutorial">
     <h1 id="resources-for-data-authors">
      Resources for Data Authors
     </h1>
     <p>
      Data authors submit contributions to the EDI Data Repository in support of a research article or for general reuse and may rely on the EDI Data Curation Team for assistance. Once the contribution is ready to be published, a curator will handle the process of uploading.
     </p>
     <p>
      Information managers serving a research group should check out the
      <a href="/resources/resources-for-information-managers">
       resources for information managers
      </a>
      .
     </p>
     <h2 id="types-of-contributions">
      Types of contributions
     </h2>
     <p>
      EDI publishes data from the ecological and environmental sciences irrespective of funding origin. Contributions serve many use cases and are published with an open access license unless a compelling reason warrants an embargo (
      <a href="/about/edi-policy#data-policy">
       data policy
      </a>
      ). Limits on size of publications are typically not a concern, but if the data are &gt; 100 GB in size please contact us, so we can find a workable solution. For more information see
      <a href="/resources/types-of-contributions">
       Types of Contributions
      </a>
      .
     </p>
     <h2 id="preparing-for-submission">
      Preparing for submission
     </h2>
     <p>
      The data submission will be published in the form of a
      <a href="/resources/the-data-package">
       data package
      </a>
      . Deciding
      <a href="/resources/the-data-package#what-to-include-in-a-data-package">
       what to include in a data package
      </a>
      along with some basic
      <a href="/resources/cleaning-data-and-quality-control">
       considerations for data cleaning
      </a>
      go a long way to support future use. The basic rule of thumb is to package the data in a form you would want to receive them in.
     </p>
     <p>
      EDI recommends an open license, either
      <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">
       CC0
      </a>
      or
      <a href="https://creativecommons.org/licenses/by/4.0/">
       CC BY 4.0
      </a>
      , to prevent undue restrictions on future research. For more information see
      <a href="/resources/licensing-data">
       Licensing Data
      </a>
      .
     </p>
     <p>
      Tracking citations of a published data package and attributing to a research profile is greatly simplified by ORCID iD. Consider
      <a href="/resources/orcid-id">
       getting an ORCID iD
      </a>
      today.
     </p>
     <h2 id="submission">
      Submission
     </h2>
     <p>
      Data submissions require EML metadata and can be sent in one of two ways:
     </p>
     <ol>
      <li>
       Use the
       <a href="/resources/creating-metadata-for-publication#ezeml">
        ezEML
       </a>
       metadata editor to create EML and submit with the data.
      </li>
      <li>
       Send EML metadata and data files to the EDI Data Curation Team as email attachments or downloadable links. For more information see
       <a href="/resources/creating-metadata-for-publication">
        Creating Metadata for Publication
       </a>
       .
      </li>
     </ol>
     <blockquote>
      <p>
       Consider integrating the creation of metadata into the
       <a href="/resources/creating-metadata-during-the-research-lifecycle">
        research life cycle
       </a>
       for improved data management and simplified publication.
      </p>
     </blockquote>
     <h2 id="review">
      Review
     </h2>
     <p>
      Once submitted, a member of the EDI Data Curation Team will provide a proof of the data package and provide support to fine-tune the submission if needed. For more information see
      <a href="/resources/the-review-process">
       The Review Process
      </a>
      .
     </p>
     <h2 id="publication">
      Publication
     </h2>
     <p>
      When the author is satisfied with the data package, the data curator assigns a DOI and uploads it to the EDI Data Repository. The data package is now published and discoverable through the EDI Data Portal Search Interface, DataONE Repository Network, and the Google Dataset Search Engine. For more information see
      <a href="/resources/finding-data">
       Finding Data
      </a>
      .
     </p>
     <h2 id="next-steps">
      Next steps
     </h2>
     <p>
      After publication data authors may want to:
     </p>
     <ul>
      <li>
       Add the data publication to an
       <a href="/resources/orcid-id">
        ORCID research profile
       </a>
       . It will automatically be added to a Google Scholar profile.
      </li>
      <li>
       Cite the publication in
       <a href="/resources/citing-data">
        an article
       </a>
       .
      </li>
      <li>
       Add a citing article
       <a href="/resources/add-citation">
        to the data package
       </a>
       .
      </li>
      <li>
       Advertise the publication. Consider mentioning
       <a href="https://twitter.com/edigotdata">
        @EDIgotdata
       </a>
       on Twitter or contributing to the
       <a href="/resources/featured-data">
        EDI Featured Data Series
       </a>
       .
      </li>
      <li>
       <a href="/resources/tracking-data-package-use">
        Track citations, downloads, and views
       </a>
       of the publication.
      </li>
      <li>
       <a href="/resources/reporting-to-funders">
        Report the publication to funders
       </a>
       .
      </li>
      <li>
       <a href="/resources/resources-for-data-users">
        Reuse the published data
       </a>
       .
      </li>
      <li>
       <a href="/resources/create-a-data-catalog">
        Create a customized data catalog for a website
       </a>
       .
      </li>
      <li>
       Respond to issues raised by users to improve the quality of the publication.
      </li>
      <li>
       <a href="/resources/updating-a-data-package">
        Update the published data package
       </a>
       with new metadata or data.
      </li>
     </ul>
    </main>
   </div>
  </div>
 </div>
</div>