<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60px; padding-right: 15px; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Self-Publishing</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#how-to-become-a-vetted-user">How to become a "vetted" user</a></li>
<li><a class="link-dark rounded text-muted" href="#self-publishing-interfaces">Self-publishing interfaces</a></li>
<li><a class="link-dark rounded text-muted" href="#self-publishing-workflow">Self-publishing workflow</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="self-publishing">Self-Publishing</h1>
<p>Self-publishing to the EDI repository is reserved for "vetted" users—those authorized to publish data packages without direct oversight. This status reflects a commitment to maintaining the highest standards for data and metadata quality. If you are a first-time publisher, you must collaborate with the EDI Curation Team on your initial submission before transitioning to self-publishing. </p>

<h2 id="how-to-become-a-vetted-user">How to become a "vetted" user</h2>
<p>When ever you sign in to an EDI service (e.g., Data Portal or ezEML), you are using a unique EDI identifier within our software that is linked to the identity provider you used to sign in (i.e., GitHub, Google, Microsoft, or Orcid, or EDI's account service). For you to become a "vetted" user, we need to add this EDI identifier to a special group designated "vetted" so that our authorization service knows you are permitted to publish data packages directly through our publishing interfaces (see <a href="/resources/self-publishing#self-publishing-interfaces">below</a>). To obtain your EDI identifier, follow these steps:</p>
<ol>
<li>Sign in to our <a href="https://auth.edirepository.org" rel="noopener noreferrer" target="_blank">Identity and Access Management service</a> using your preferred identity provider.</li>
<li>From your User Profile page, click on the copy icon ⧉ found at the end of the EDI-ID field just below "Contact."</li>
<li>Send your EDI identifier to our <a href="mailto:support@edirepositoyr.org">support email</a> (support@edirepository.org) with a request explaining that you would like to self-publish your data package.</li>
</ol>
<p>Once you submit your request, one of our curators will be in touch. If this is your first time working with EDI, we’ll set up a quick video chat to introduce ourselves, answer any questions, and review the best practices for self-publishing. We'll then review your data package and provide feedback on any issues that may arise. If all looks good, we'll add your EDI identifier to the vetted group, and you'll be able to publish your data package directly through our one of our <a href="/resources/self-publishing#self-publishing-interfaces">publishing interfaces</a>.</p>
<blockquote>
<p>Note: At present, EDI supports both a production and staging environment for our users. The staging environment acts as a sandbox for you to test and evaluate your data package before publishing it to the production environment. We highly recommend that you use the staging environment to test your data package before publishing it to the production environment. This helps catch any issues that may arise during the publishing process.</p>
</blockquote>
<h2 id="self-publishing-interfaces">Self-publishing interfaces</h2>
<h2 id="self-publishing-workflow">Self-publishing workflow</h2>
</main>
</div>
</div>
</div>