<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="container">
<aside class="sidebar-aside"><div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted sticky-top" style="padding-top: 60; padding-right: 15; padding-left: 0;">
<a class="d-block h6 my-2 pb-2 text-muted" href="#"><span class="fs-5 fw-semibold">Types of Contributions</span></a><ul class="btn-toggle-nav">
<li><a class="link-dark rounded text-muted" href="#supported-disciplines-and-themes">Supported disciplines and themes</a></li>
<li><a class="link-dark rounded text-muted" href="#common-use-cases">Common use cases</a></li>
<li><a class="link-dark rounded text-muted" href="#accepted-data-types-and-file-formats">Accepted data types and file formats</a></li>
<li><a class="link-dark rounded text-muted" href="#open-access-vs-embargoed">Open access vs. embargoed</a></li>
<li><a class="link-dark rounded text-muted" href="#upload-size-limit">Upload size limit</a></li>
<li><a class="link-dark rounded text-muted" href="#fees">Fees</a></li>
</ul>
</div></aside><main class="main-tutorial">
<h1 id="types-of-contributions">Types of Contributions</h1>
<p>EDI publishes data from the ecological and environmental sciences irrespective of funding origin. Contributions serve a multitude of use cases and are open access unless a compelling reason warrants an embargo. Limits on size of publications are typically not a concern, but if so, we can find a workable solution.</p>

<h2 id="supported-disciplines-and-themes">Supported disciplines and themes</h2>
<p>We accept all ecological and environmental data irrespective of origin, however, the discovery and reuse of data from an ecology or environmental science sub-theme may be better served by a more specialized and finely scoped data repository (e.g. <a href="https://www.gbif.org/" rel="noopener noreferrer" target="_blank">GBIF</a>).</p>
<blockquote>
<p>EDI <a href="/resources/thematic-standardization">thematic standardization projects</a> replicate data to matching data repositories for enhanced discovery and reuse.</p>
</blockquote>
<h2 id="common-use-cases">Common use cases</h2>
<p>Data published in the EDI Repository serve many scientific use cases, including:</p>
<ul>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=1077" rel="noopener noreferrer" target="_blank">Data supporting a journal article</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-jrn.210365001.62" rel="noopener noreferrer" target="_blank">Data supporting general reuse</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?packageid=edi.303.2" rel="noopener noreferrer" target="_blank">New data derived from previously published data</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=949" rel="noopener noreferrer" target="_blank">Citizen science</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=270" rel="noopener noreferrer" target="_blank">Education</a></li>
</ul>
<h2 id="accepted-data-types-and-file-formats">Accepted data types and file formats</h2>
<p>The EDI Data Repository accepts data of all types and file formats, though non-proprietary formats are strongly recommended to enable open access and reuse. Some examples:</p>
<ul>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=1078" rel="noopener noreferrer" target="_blank">Tables</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=98" rel="noopener noreferrer" target="_blank">Spatial data</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-vcr.239.3" rel="noopener noreferrer" target="_blank">Images/video</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?scope=edi&amp;identifier=1064" rel="noopener noreferrer" target="_blank">Scripts/code</a></li>
<li><a href="https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-nwt.171.1" rel="noopener noreferrer" target="_blank">NetCDF</a></li>
</ul>
<h2 id="open-access-vs-embargoed">Open access vs. embargoed</h2>
<p>All published data are immediately made open access, and only under specific circumstances may data be published in an embargoed form. For more information on embargoes see the <a href="/about/edi-policy#data-package-accessibility">EDI Data Policy</a>. Please <a href="/support/contact-us">contact us</a> if you have a use case for which an embargo should be considered.</p>
<h2 id="upload-size-limit">Upload size limit</h2>
<p>There is a soft limit of 500 MB and hard limit of 100 GB per data package. The 500 MB limit can be relaxed by contacting the EDI Data Curation Team and avoided entirely by information managers with an EDI account and <a href="https://docs.google.com/document/d/1DC403Wd6PfssjPXl-ToRNlC97xcr6kVoTWoFE4R2_bk/edit#heading=h.3yagd380wsrl" rel="noopener noreferrer" target="_blank">uploading with static data links</a>. For data packages exceeding 100 GB please see the recommendations for <a href="https://ediorg.github.io/data-package-best-practices/guide-special-cases/large-offline.html" rel="noopener noreferrer" target="_blank">publishing large datasets</a> or <a href="/support/contact-us">contact us</a> to find a solution.</p>
<h2 id="fees">Fees</h2>
<p>Publication to the EDI Data Repository is currently free of cost for most use cases. If expecting to publish large volumes of data please <a href="/support/contact-us">contact us</a> to negotiate cost sharing.</p>
</main>
</div>
</div>
</div>