<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#search">Searching for Data</a><br>
		<a href="#understand">Understanding a Data Package</a><br>
		<a href="#use">Using a Data Package</a><br>
		<a href="#cite">Citing a Data Package</a><br>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Users</h1>
            <p>What is a Data User?</p>

	    <h3 id="getting_started">Getting Started</h3>
		<h4 id="etiquette">The Etiquette of Reusing Data</h4>
	    
	    <h3 id="search">Searching for Data</h3>
	    <h4 id="edi_search_engine">EDI Search Engine</h4>
	    <h4 id="dataone_search_engine">DataONE Search Engine</h4>
	    <h4 id="google_dataset_search_engine">Google Search Engine</h4>
	    
	    <h3 id="understand">Understanding a Data Package</h3>
	    <h4 id="license">The License</h4>
	    <h4 id="fitness_for_use">Assessing Fitness for Use</h4>
	    <h4 id="engage_with_the_author">Engage with the Author</h4>
	    <h4 id="visual_exploration">Visual Exploration</h4>
	    
	    <h3 id="use">Using a Data Package</h3>
	    <h4 id="data_import_scripts">Data Import Scripts</h4>
	    <h4 id="rest_api">The EDI REST API</h4>
	    <h4 id="event_notifications">Event Notifications</h4>
	    <h4 id="provenance">Provenance Metadata</h4>
		
	    <h3 id="cite">Citing a Data Package</h3>
		<h4 id="how_to_cite">How to Properly Cite</h4>

	</main>
    </div>
    </div>
    </div>
</div>
