<div metal:use-macro="load: ../shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">

<!--?        EDITABLE CONTENT GOES HERE \/\/\/-->
        <div class="sidebar-inner">
	<div class="container">
	<!-- The sidebar -->
	<aside class="sidebar">
		<a href="#getting_started">Getting Started</a><br>
		<a href="#search">Search</a><br>
		<a href="#understand">Understand</a><br>
		<a href="#use">Use</a><br>
		<a href="#cite">Cite</a><br>
	</aside>
	<main class="main-tutorial">
            <h1>Resources for Data Users</h1>
            <p>What is a Data User? Data users are anyone that uses a data package already published in the repository.</p>

	    <h3 id="getting_started">Getting Started</h3>
	    <p>Overview of use etiquette and the process of discovery, understanding, and use listed in this section.</p>
	    <p>Use responsibly - You will be using. Includes: license, constraints, onus is on you to use correctly. May want to discuss with data package contact, often there is more than meets the eye. Contacts are friendly. Report issues - If you find an issue, report it to the contact. This helps you and improves data quality</p>
	    <h3 id="search">Search</h3>
	    <p>We maximize the findability of our data by making it searchable through three engines, each of which has its own strengths.</p>
	    <h4 id="edi_search_engine">EDI Search Engine</h4>
	    <p>EDI is a Domain Repository. This is where the most detailed information can be searched on. We also ensure a high level of quality in terms of the amount of metadata required, as well as that the metadata content accurately reflects the data. This depth and quality make it an excellent search engine, but you will only find data sets within our repository. [Link to EDI search]</p>
	    <h4 id="dataone_search_engine">DataONE Search Engine</h4>
	    <p>DataONE is a federation of domain repositories providing a single interface through which data can be found across different repositories. However, the depth of searchable detail is less, primarily because they must accommodate the least common metadata denominator among multiple metadata standards used across repositories, and must accommodate the variance in metadata quality. If you find our data here, you can always follow the link back to the most rich metadata in our portal. [Link to DataONE search]</p>
	    <h4 id="google_dataset_search_engine">Google Search Engine</h4>
	    <p>The Google dataset search engine is an aggregator of aggregators. i.e. it can find data outside of the DataONE and provides a more global find ability. However, the accuracy is much less so and don't be surprised if you see other data outside of the environmental sciences being returned. If you find our data here, you can always follow the link back to the most rich metadata in our portal.[Link to Google search]</p>
	    <h3 id="understand">Understand</h3>
	    <p>Overview of how to understand data. Discuss the caveats … i.e. our quality checking has no way of understanding completeness and ancillary contextual information in the brain of the author.</p>
	    <h4 id="license">License</h4>
	    <p>May restrict what you can do with the data. May be enforced by the Journal you are planning to publish in.</p>
	    <h4 id="fitness_for_use">Fitness for Use</h4>
	    <p>Data Quality. Sampling approach. Sampling approach.
	    <h4 id="engage_with_the_author">Engage with the Author</h4>
	    <p>Although not required, it is always recommended</p>
	    <h4 id="visual_exploration">Visual Exploration</h4>
	    <p>DEX (& datapie?)</p>
	    <h3 id="use">Use</h3>
	    <p>Processes related to the use of data.</p>
	    <h4 id="data_import_scripts">Data Import Scripts</h4>
	    <p></p>
	    <h4 id="rest_api">REST API</h4>
	    <p></p>
	    <h4 id="event_notifications">Event Notifications</h4>
	    <p></p>
	    <h4 id="provenance">Provenance</h4>
	    <p>What it is and why it’s important. Package level provenance. Code as micro level provenance (note: End to end provenance).</p>
	    <h3 id="cite">Cite</h3>
	    <p>Guidance on citation ...</p>
	    <p>Data used in your research that was previously created must be cited.</p>
	    <p>New data created by your research must be preserved in an appropriate repository for that data type (e.g. domain repository) and cited in your paper.   This does NOT include model data output. These data are commonly referred to as  Primary Data or Raw Data</p>
	    <p>This includes the data that supports a visualization and is usually aggregated or integrated data analyzed for your research.  Some domain repositories, like EDI, will preserve these data and connect to the Primary Data.  If that is not possible, then a general repository can be used.</p>

	</main>
    </div>
    </div>
    </div>
</div>
