<div metal:use-macro="load: ../shared/layout.html">
<div metal:fill-slot="content" tal:omit-tag="True">
<div class="sidebar-inner">
<div class="container">
<aside class="sidebar"><div class="sticky-sm-top"><div class="sticky-md-top"><div class="sticky-lg-top"><div class="sticky-xl-top">
<ul>
<li><a href="#receive-attribution">Receive attribution</a></li>
<li><a href="#meet-requirements">Meet requirements</a></li>
<li><a href="#improve-data-management">Improve data management</a></li>
<li><a href="#enable-new-scientific-insight">Enable new scientific insight</a></li>
<li><a href="#references">References</a></li>
</ul>
</div></div></div></div></aside><main class="main-tutorial">
<h1 id="why-publish-data">Why Publish Data?</h1>
<p>Data are first class research objects, the publication of which provide immediate benefit to authors in terms of elevating their scholarly profile and longer-term benefits to the scientific institution in terms of more effective and trustworthy knowledge acquisition. EDI works with the informatics community to realize these objectives.</p>

<h2 id="receive-attribution">Receive attribution</h2>
<p>Publishing data in a repository clarifies who should receive credit in the form of citation or co-authorship when others use the data. Prior publication of data in a repository can help protect a data author from having their data misattributed. Researchers who publish data are more likely to be invited as co-authors on publications using the data and can increase research impact and citation rate. <sup>[2, 9, 10, 11]</sup></p>
<p>Articles citing data published in the EDI Repository are automatically cross referenced to research profiles (e.g. ORCiD, Google Scholar) and are displayed on <a href="/resources/data-package-pages">data package landing page</a> under the <strong>Journal Citations</strong> section.</p>
<h2 id="meet-requirements">Meet requirements</h2>
<p>Journals are increasingly requiring submission of supporting data with article publication.Likewise, funding agencies are increasingly requiring evidence of data publication in prior-support sections of proposals <sup>[8, 13]</sup>. These requirements facilitate confidence in the research findings and provide a higher return on investment. Surveys have shown that public trust in scientific research is enhanced when the supporting data is made available <sup>[3, 7]</sup>.</p>
<blockquote>
<p>EDI tools simplify reporting:</p>
<ul>
<li><a href="https://dashboard.edirepository.org/dashboard/reports/package_tracker">Package Tracker</a> - List and plot downloads of a published data package.</li>
<li><a href="https://dashboard.edirepository.org/dashboard/reports/site_report">Site Report</a> - List references to all data packages published by a research site. Currently only available to LTER sites.</li>
<li><a href="https://dashboard.edirepository.org/dashboard/reports/upload_report">Upload Report</a> - List references to all data packages published by a research site within a specified time frame. Currently only available to LTER sites.</li>
<li><a href="https://ediorg.github.io/EDIutils/articles/retrieve_citations.html">Retrieve Citation Metrics</a> - Get journal citations referencing a data publication.</li>
</ul>
</blockquote>
<h2 id="improve-data-management">Improve data management</h2>
<p>Published data have extra consistency checks, are immutable, and versioned . Without such steps data corruption (computer errors and inadvertent edits) can go undetected. Moreover, it is easy to unknowingly base analyses on different versions of a dataset. Development of formal versions and quality indicators, such as checksums, avoid these problems <sup>[8]</sup>.</p>
<p>It is common for researchers to return to old datasets they, themselves, collected in the past in order to apply them to new theories. However, if the data are not published with suitable metadata, the data can quickly become unreadable or uninterpretable (due to data file format changes, computer glitches, forgetting the details), even by the researcher who originally collected the data. </p>
<p>The most frequent users of data are the subsequent graduate students in the same research group. If the data are not formally published, they are usually lost upon graduation. It saves time and effort to publish the data once, while the details are still fresh.</p>
<h2 id="enable-new-scientific-insight">Enable new scientific insight</h2>
<p>Without data, science is just philosophy. Many theories require data beyond the capabilities of any single individual to collect them, so publishing data advances the science as a whole by helping provide the needed data resources <sup>[1, 4, 5, 6]</sup>. Additionally, the demand for reproducible research and open collaborative science depends on findable and accessible data provided by data repositories.</p>
<blockquote>
<p>EDI tools enable reuse:
* Code Generation - Read data into common computational languages (e.g. R, Python, MatLab). This service is available on data package landing pages under the "Code Generation" section.
* <a href="https://ediorg.github.io/EDIutils/index.html">EDIutils</a> - An R package for accessing data in the EDI repository.</p>
</blockquote>
<h2 id="references">References</h2>
<ol>
<li>Data's shameful neglect. Nature 461, 145 (2009). <a href="https://doi.org/10.1038/461145a">https://doi.org/10.1038/461145a</a></li>
<li>Duke, C.S., Porter, J.H., 2013. The ethics of data sharing and reuse in biology. BioScience 63, 483-489. <a href="https://doi.org/10.1525/bio.2013.63.6.10">https://doi.org/10.1525/bio.2013.63.6.10</a></li>
<li>Funk, F, Hefferon, M, Kennedy, B, and Johnson C. 2019. Trust and Mistrust in Americans' Views of Scientific Experts: More Americans have confidence in scientists, but there are political divides over the role of scientific experts in policy issues. <a href="https://www.pewresearch.org/science/2019/08/02/trust-and-mistrust-in-americans-views-of-scientific-experts/">https://www.pewresearch.org/science/2019/08/02/trust-and-mistrust-in-americans-views-of-scientific-experts/</a></li>
<li>Hampton, S.E., Strasser, C.A., Tewksbury, J.J., Gram, W.K., Budden, A.E., Batcheller, A.L., Duke, C.S. and Porter, J.H. (2013), Big data and the future of ecology. Frontiers in Ecology and the Environment, 11: 156-162. <a href="https://doi.org/10.1890/120103">https://doi.org/10.1890/120103</a> </li>
<li>Magnuson, J. J. (1990). Long-Term Ecological Research and the Invisible Present. BioScience, 40(7), 495–501. <a href="https://doi.org/10.2307/1311317">https://doi.org/10.2307/1311317</a></li>
<li>Nelson, B. Data sharing: Empty archives. Nature 461, 160–163 (2009). <a href="https://doi.org/10.1038/461160a">https://doi.org/10.1038/461160a</a></li>
<li>Nosek, B. A., Alter, G., Banks, G. C., Borsboom, D., Bowman, S. D., Breckler, S. J., Buck, S., Chambers, C. D., Chin, G., Christensen, G., Contestabile, M., Dafoe, A., Eich, E., Freese, J., Glennerster, R., Goroff, D., Green, D. P., Hesse, B., Humphreys, M., Ishiyama, J., … Yarkoni, T. (2015). SCIENTIFIC STANDARDS. Promoting an open research culture. Science (New York, N.Y.), 348(6242), 1422–1425. <a href="https://doi.org/10.1126/science.aab2374">https://doi.org/10.1126/science.aab2374</a></li>
<li>NSF: "Investigators are expected to share with other researchers, at no more than incremental cost and within a reasonable time, the primary data, samples, physical collections and other supporting materials created or gathered in the course of work under NSF grants. Grantees are expected to encourage and facilitate such sharing." <a href="https://www.nsf.gov/pubs/policydocs/pappg19_1/pappg_11.jsp#XID4">https://www.nsf.gov/pubs/policydocs/pappg19_1/pappg_11.jsp#XID4</a></li>
<li>Parsons, M. A., R. Duerr, and J.-B. Minster (2010), Data citation and peer review, Eos Trans. AGU, 91(34), 297–298, <a href="https://doi.org/10.1029/2010EO340001">https://doi.org/10.1029/2010EO340001</a></li>
<li>Piwowar, H. A., &amp; Chapman, W. W. (2010). Public sharing of research datasets: a pilot study of associations. Journal of informetrics, 4(2), 148–156. <a href="https://doi.org/10.1016/j.joi.2009.11.010">https://doi.org/10.1016/j.joi.2009.11.010</a></li>
<li>Piwowar HA, Day RS, Fridsma DB (2007) Sharing Detailed Research Data Is Associated with Increased Citation Rate. PLoS ONE 2(3): e308. <a href="https://doi.org/10.1371/journal.pone.0000308">https://doi.org/10.1371/journal.pone.0000308</a>.</li>
<li>Ryan Raub. 2013. Data Integrity, The Phrase I Don't Hear Enough. <a href="https://lternet.edu/wp-content/uploads/2017/12/2013-fall-lter-databits.pdf">https://lternet.edu/wp-content/uploads/2017/12/2013-fall-lter-databits.pdf</a></li>
<li>Whitlock, M.C., McPeek, M.A., Rausher, M.D., Rieseberg, L., Moore, A.J., 2010. Data archiving. The American Naturalist 175, 145-146. <a href="https://doi.org/10.1086/650340">https://doi.org/10.1086/650340</a></li>
</ol>
</main>
</div>
</div>
</div>
</div>