<!DOCTYPE html>
<div metal:use-macro="load: shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        
        
        <!--hero-->
        <div class="index">
            <div class="px-4 py-1 my-0 text-center">
                <br/>
                <img class="d-block mx-auto mb-4" src="/static/images/EDI-logo.png" alt="EDI logo" width="175">
                <span class="display-3 fw-normal">Environmental Data Initiative</span>
                <br/>
                <br/>
                <p class="fw-normal" style="font-size:2em;">Create . Package . Archive . Discover . Reuse</p>
                <br/>
                <!--buttons-->
                <div class="call-to-action">
                    <a class="btn btn-secondary btn-lg" href="/data/publish-data" role="button">Publish Data</a>
                    <a class="btn btn-secondary btn-lg" href="/data/find-data" role="button">Find Data</a>
                </div>
                <br/>
            </div>
        </div>
        
        <hr>
        
        <!--vision and mission-->
        <div class="px-4 py-1 my-0 text-center">
            <p class="fw-bold" style="font-size:1.5em;">Our Vision</p>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Scientific discovery fueled by data commons accessible to everyone.</p>
            </div>
            <p class="fw-bold" style="font-size:1.5em;">Our Mission</p>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Preserve environmental data for open and reproducible science, to promote synthesis
                    across space and time, and to aid in the assessment of environmental change and its
                    consequences.</p>
            </div>
        </div>
        
        <hr style="width: 15%;">
        
        <!--what we provide-->
        <div class="px-4 py-1 my-0 text-center">
            <br>
            <p class="fw-normal" style="font-size:1.5em;">What We Provide</p>
        </div>
        <div class="container px-4 py-0" id="icon-grid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <!--information rich metadata-->
                <a href="/resources/services#information-rich-metadata">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/describe.svg" alt="describe" class="bi me-2" width="30"/>
                        <div>
                            <h4 class="fw-bold mb-0">Information Rich Metadata</h4>
                            <p>Quickly understand a dataset, evaluate its fitness for reuse, and integrate with new research.</p>
                        </div>
                    </div>
                </a>
                <!--Publication quality data for reuse-->
                <a href="/resources/services#publication-quality-data-for-reuse">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/data.svg" alt="" class="bi me-2" width="40"/>
                        <div>
                            <h4 class="fw-bold mb-0">Quality Data for Reuse</h4>
                            <p>Open-access to a thematically diverse collection of environmental data.</p>
                        </div>
                    </div>
                </a>
                <!--Tools to support research-->
                <a href="/resources/services#tools-to-support-research">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/tools.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Tools to Support Research</h4>
                            <p>Useful tools for publishing and reusing data in the research life cycle.</p>
                        </div>
                    </div>
                </a>
                <!--Secure and persistent archive-->
                <a href="/resources/services#secure-and-persistent-archive">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/secure.svg" alt="" class="bi me-2" width="40"/>
                        <div>
                            <h4 class="fw-bold mb-0">Secure & Persistent Archive</h4>
                            <p>Guaranteed immutability of all data for long-term access, transparency, and reuse.</p>
                        </div>
                    </div>
                </a>
                <!--Timely one-on-one support-->
                <a href="/resources/services#timely-one-on-one-support">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/support.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Timely One-on-One Support</h4>
                            <p>Around-the-clock support on topics from data curation to software design.</p>
                        </div>
                    </div>
                </a>
                <!--Streamlined citation & attribution-->
                <a href="/resources/services#streamlined-citation-attribution">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/citation.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Citation & Attribution</h4>
                            <p>Automatically updated research profiles and data linked to journal articles.</p>
                        </div>
                    </div>
                </a>
                <!--Enhanced discovery-->
                <a href="/resources/services#enhanced-discovery">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/discovery.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Enhanced Discovery</h4>
                            <p>Data discoverable in the DataONE and Google Dataset Search Engines reach broad audiences.</p>
                        </div>
                    </div>
                </a>
                <!--Data exploration & analysis-->
                <a href="/resources/services#data-exploration-analysis">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/exploration.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Data Exploration & Analysis</h4>
                            <p>Intuitive data exploration tools for deeper insights into published data packages.</p>
                        </div>
                    </div>
                </a>
                <!--Analysis ready data-->
                <a href="/resources/services#analysis-ready-data">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/analysis-ready-data.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Analysis Ready Data</h4>
                            <p>Accelerated integration and synthesis of data through thematic standardization.</p>
                        </div>
                    </div>
                </a>
                <!--Workflow automation-->
                <a href="/resources/services#workflow-automation">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/automate.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Workflow Automation</h4>
                            <p>REST API for automating data publication, reporting, and reproducible science.</p>
                        </div>
                    </div>
                </a>
                <!--Training & skill building-->
                <a href="/resources/services#training-skill-building">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/training.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Training & Skill Building</h4>
                            <p>Based on 40+ years of information management expertise, including from the U.S. LTER Network.</p>
                        </div>
                    </div>
                </a>
                <!--Personalized data catalogs-->
                <a href="/resources/services#personalized-data-catalogs">
                    <div class="col d-flex align-items-start pop-out p-2">
                        <img src="/static/images/person.svg" alt="" class="bi me-2" width="45"/>
                        <div>
                            <h4 class="fw-bold mb-0">Personalized Data Catalogs</h4>
                            <p>A searchable index of select data publications to embed within a project website.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    
        <!--featured data-->
        <div class="px-4 py-1 my-0 text-center">
            <br>
            <p class="fw-normal" style="font-size:2em;">Featured Data Contribution</p>
        </div>
        <div class="container px-4 pt-4">
            <a href="/featured/${featured[0].name}">
                <div class="p-4 mb-4 bg-light rounded-3 shadow" style="background-image: url('${featured[0].thumbnail}'); background-size: cover;">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold text-white">${featured[0].title}</h1>
                        <p class="col-md-11 fs-5 text-white fst-italic">${featured[0].data_author}</p>
                        <p class="col-md-11 fs-5 text-white">${featured[0].description}</p>
                        <p class="lead mb-0 text-white fw-bold">Continue reading</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="px-0 py-0 my-0 text-center">
            <a href="/featured/featured-grid" class="btn btn-outline-secondary btn-small" role="button" style="padding: .25rem;'">All Featured Data</a>
        </div>
    
        <!--news-->
        <div class="px-4 pt-5 my-0 text-center">
            <br>
            <p class="fw-normal" style="font-size:2em;">News</p>
        </div>
        <div class="container px-4 pt-4">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">${news[0].title}</h3>
                            <div class="mb-1 text-muted">${news[0].date}</div>
                            <p class="mb-auto">${news[0].description}</p>
                            <a href="/news/${news[0].name}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">${news[1].title}</h3>
                            <div class="mb-1 text-muted">${news[1].date}</div>
                            <p class="mb-auto">${news[1].description}</p>
                            <a href="/news/${news[1].name}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">${news[2].title}</h3>
                            <div class="mb-1 text-muted">${news[2].date}</div>
                            <p class="mb-auto">${news[2].description}</p>
                            <a href="/news/${news[2].name}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">${news[3].title}</h3>
                            <div class="mb-1 text-muted">${news[3].date}</div>
                            <p class="mb-auto">${news[3].description}</p>
                            <a href="/news/${news[3].name}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-0 py-0 my-0 text-center">
            <a href="/news/news-grid" class="btn btn-outline-secondary btn-small" role="button" style="padding: .25rem;'">All News</a>
        </div>
    </div>
    
    <div metal:fill-slot="additional-css" tal:omit-tag="True">
        <!-- additional css from the page -->
    </div>
</div>
