<!DOCTYPE html>
<div metal:use-macro="load: shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
            <div class="index">
                <div class="index-inner">
                    <img src="../static/images/EDI-logo.png" alt="logo">
                    <h1>Environmental Data Initiative</h1>
                    <div class="by-line">
                        ~  Repository and Curation Services for Environmental Data ~
                    </div>
                        <div style="max-height: 2rem; min-height: 2rem">
			    <button type="button" class="btn btn-dark"><a href="https://web-x.edirepository.org/data/publish" style="text-decoration: none" >Publish Data</a></button>
			    <button type="button" class="btn btn-dark"><a href="https://web-x.edirepository.org/data/discover" style="text-decoration: none">Discover Data</a></button>
                    </div>
               </div>
            </div>
	    <div class="index-publish">
		<div class="index-column">
		    <hr>
	            <h2>How to Publish</h2>
  		    <div class="publish-tile">
		        <div><img src="../static/images/login.png" alt="login">
                                  <h3>Login</h3>
			          <p>Login with ORCiD, Google, GitHub, or EDI credentials.</p>
			 </div>
			 <div><img src="../static/images/describe.png" alt="describe">
                                  <h3>Describe</h3>
			          <p>Describe important features of your data and upload for review by EDI.</p>
			 </div>  
			 <div><img src="../static/images/review.png" alt="review">
                                   <h3>Review</h3>
                                   <p>Consider our curation comments and revise if necessary.</p>
			 </div>
			       <div><img src="../static/images/publish.png" alt="publish">
                                   <h3>Publish</h3>
			           <p>Publish a first class research object for citation and reuse.</p>
			       </div>
                          </div>
                    </div>  
		    <hr>
	            <h2>Notable Characteristics</h2>
	            <div class="list-tile">
			    <ul>
  		                <li>&#9679 Metadata - We emphasize the value of full and accurate metadata</li>
		                <li>&#9679 Reuse - Our repo is full of high-quality long-term datasets for reuse</li>
    	                        <li>&#9679 Persistence - Published data are immutable, safe, and secure</li>
                                <li>&#9679 Tools - Datasets inherit tooling for next-generation research</li>
	                    </ul>
                    </div>				    
		    <hr>
  		    <div class="featured-tile">
		        <div>
			    <h2>Currently Featured Data</h2>
			    <img src="../static/images/featured_data/monarch.jpg" alt="featured_data_img">
			    <p><a href="https://environmentaldatainitiative.org/edis-featured-data-contributions/jn-hummingbird-monarch/

 " target="_blank">Journey North – Hummingbird and Monarch Butterfly observations by volunteer community scientists across Central and North America (1996-2020)</a></p>
			</div>
         	        <div>
		            <h2>All Featured Data</h2>
                            <img src="../static/images/featured_data/black-throated_warbler_npr.jpg" alt="reused_data_img">
			    <p><a href="/data/featured">EDI's featured data packages</a></p>
			</div>
                    </div>				    
		    <h4><a href="https://dashboard.edirepository.org/dashboard/health/glance" target="_blank">Recent activity</a></h4>
		    <hr>
   		    <h2>Recent News</h2>
  		    <div class="webinar-tile">
  		    	<div class="webinar-item1">
			    <h3>2022 Summer Fellowship Program</h3><p>We are accepting applications from research projects and field stations interested in hosting an EDI Fellow next Summer. The deadline is Dec. 23.<br><a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/">Read more.</a></p>
			    <h3>Monthly Webinar</h3><p>Join us for Colin Smith's (EDI) presentation "Keep Your Science Up-to-Date with EDI Repository Event Notifications.” on November 18th, 2021 at 2pm ET. <a href="https://us02web.zoom.us/meeting/register/tZUqcuivrD4pG9AwHKz5qm3nb-mEgROLxYZx" target="_blank">Registration information.</a></p>
                        </div>				    
   		        <div class="webinar-item2">
		                <img src="../static/images/edi_summer_fellows_2018.jpg" alt="fellows_2019">
                        </div>				    
                    </div>
  		    <div class="blog-tile">
			    <div><h3>Normalization of Creator Names in EDI’s Data Portal</h3><br>The Advanced Search feature of EDI’s Data Portal lets you select a dataset Creator name from a drop-down list of all dataset creators in our repository. The search then displays all the datasets that have that name as one of its creators. Unfortunately, many creators’ names occur in multiple variations in different datasets and, in the past, each variation appeared separately in the drop-down list. We have recently created web services that implement this kind of names normalization, and the EDI Data Portal is now using the normalized names.<br><a href="https://environmentaldatainitiative.org/2021/11/02/normalization-creator-names-edi/" target="_blank">Read more.</a>
                           </div>
                    </div>
  		    <div class="blog-tile">
			    <div><h3>Updates of user-contributed journal citation interface on EDI Data Portal</h3><br>has recently updated its user-contributed journal citation interface on its Data Portal to include more granular information regarding the type of citation being submitted. The addition of the Relation Type form field allows you to select the relationship between the data package and the journal manuscript where the data package is mentioned using one of three relationship types: "IsCitedBy" - this data package is formally cited in the manuscript, "IsDescribedBy" - this data package is explicitly described within the manuscript, or "IsReferencedBy" - this data package is implicitly described within the manuscript.<br><a href="https://environmentaldatainitiative.org/2021/11/02/updates-journal-citation-data-portal/" target="_blank">Read more.</a>
</div>
                    </div>
		    <h4><a href="https://environmentaldatainitiative.org/blog/" target="_blank">Older posts ...</a></h4>
		    <hr>

            </div>
            </div>

    <div metal:fill-slot="additional-css" tal:omit-tag="True">
        <!-- additional css from the page -->
    </div>
</div>
