<!DOCTYPE html>
<div metal:use-macro="load: shared/layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
            <div class="index">
                <div class="index-inner">
                    <img src="../static/images/EDI-logo.png" alt="logo">
                    <h1>Environmental Data Initiative</h1>
                    <div class="by-line">
                        ~  Repository and Curation Services for Environmental Science ~
                    </div>
			    <button type="button" class="btn btn-dark"><a href="https://web-x.edirepository.org/data/publish" style="text-decoration: none;">Publish Data</a></button>
			    <button type="button" class="btn btn-dark"><a href="https://web-x.edirepository.org/data/discover" style="text-decoration: none;">Search Data</a></button>
               </div>
            </div>
	    <div class="index-publish">
		<div class="index-column">
		    <hr>
	            <h2>How to Publish</h2>
  		    <div class="publish-tile">
			 <div><img src="../static/images/describe.png" alt="describe">
                                  <h3>Describe</h3>
			          <p>Upload and describe your dataset then submit for review.</p>
			 </div>  
			 <div><img src="../static/images/review.png" alt="review">
                                   <h3>Review</h3>
                                   <p>Consider our curation comments and revise if necessary.</p>
			 </div>
			       <div><img src="../static/images/publish.png" alt="publish">
                                   <h3>Publish</h3>
			           <p>Publish when everything looks good and you are ready.</p>
			       </div>
                          </div>
		    <hr>
	            <h2>Notable Characteristics</h2>
	            <div class="list-tile">
			    <ul>
  		                <li>&#9679 Metadata - We emphasize the value of full and accurate metadata</li>
		                <li>&#9679 Reuse - Our repo is full of high-quality long-term datasets for reuse</li>
    	                        <li>&#9679 Persistence - Published data are immutable, safe, and secure</li>
                                <li>&#9679 Tools - Datasets inherit tooling for next-generation research</li>
	                    </ul>
                    </div>				    
		    <hr>
  		    <div class="featured-tile">
		        <div>
			    <h2>Featured Data</h2>
			    <img src="../static/images/featured_data/monarch.jpg" alt="featured_data_img">
			    <p>
			    Journey North – Hummingbird and Monarch Butterfly observations by volunteer community scientists across Central and North America (1996-2020): The data packages are a great example of citizen science data published and hosted in EDI. <a href="https://environmentaldatainitiative.org/edis-featured-data-contributions/jn-hummingbird-monarch/" target="_blank">Read more
			    </a></p>
			</div>
         	        <div>
		            <h2>All Featured Data</h2>
                            <img src="../static/images/featured_data/black-throated_warbler_npr.jpg" alt="reused_data_img">
			    <p>In this section we regularly highlight data packages that stand out because of type of data. <a href="/data/featured">EDI's featured data packages</a></p>
			</div>
                    </div>				    
		    <!--		    <h4><a href="https://dashboard.edirepository.org/dashboard/health/glance" target="_blank">Recent activity</a></h4> -->
		    <hr>
   		    <h2>Recent News</h2>
  		    <div class="webinar-tile">
  		    	<div class="webinar-item1">
			    <h3>2022 Fellowship Program</h3><p>We are accepting applications from research projects and field stations interested in hosting an EDI Fellow next Summer. We anticipate supporting about 15 fellowships. The application deadline is Dec 23, 2021. <a href="https://environmentaldatainitiative.org/edi-dm-fellowship-program/">Read more.</a></p>
                        </div>				    
   		        <div class="webinar-item2">
		                <img src="../static/images/edi_summer_fellows_2018.jpg" alt="fellows_2019">
                        </div>				    
                    </div>
  		    <div class="blog-tile">
			    <div><h3>Monthly Webinar</h3><br><p>Join us for Colin Smith's (EDI) presentation "Keep Your Science Up-to-Date with EDI Repository Event Notifications.”Nov 18, 2021 at 2pm ET. <a href="https://us02web.zoom.us/meeting/register/tZUqcuivrD4pG9AwHKz5qm3nb-mEgROLxYZx" target="_blank">Registration information.</a></p>
                    </div>
                    </div>
		    <div class="blog-tile">
			    <div><h3>Normalization of Creator Names in EDI’s Data Portal</h3><br><p>The Advanced Search feature of EDI’s Data Portal lets you select a dataset Creator name from a drop-down list of all dataset creators in our repository. We have recently created web services that implement name normalizations, and the EDI Data Portal is now using the normalized names. <a href="https://environmentaldatainitiative.org/2021/11/02/normalization-creator-names-edi/" target="_blank">Read more.</a></p>
                           </div>
                    </div>
		    <h4><a href="https://environmentaldatainitiative.org/blog/" target="_blank">Older posts ...</a></h4>
		    <hr> 

            </div>
            </div>
            </div>

    <div metal:fill-slot="additional-css" tal:omit-tag="True">
        <!-- additional css from the page -->
    </div>
</div>
