<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>${ title }</title>
    
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/css/nav.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/grid.css"/>
    <link rel="stylesheet" href="/static/css/basic.css"/>
    <link rel="stylesheet" href="/static/css/sidebar.css"/>
    <link rel="stylesheet" href="/static/css/example.css"/>
    
    <div metal:define-slot="additional-css" tal:omit-tag="True"></div>

</head>
<body class="d-flex flex-column h-100">

<main>
    <div class="main_content">
    <!--<div>-->
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="container-fluid">
                    <!--Logo and homepage link-->
                    <a class="navbar-brand" href="/"><img src="/static/images/EDI-logo.png" alt="EDI logo"/></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            
                            <!--Data-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Data
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/data/publish-data">Publish Data</a></li>
                                    <li><a class="dropdown-item"
                                           href="https://portal.edirepository.org/nis/advancedSearch.jsp">Find Data</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <!--Resources-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Resources
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/resources/resources-for-data-authors">For Data
                                        Authors</a></li>
                                    <li><a class="dropdown-item" href="/resources/resources-for-data-users">For Data
                                        Users</a></li>
                                    <li><a class="dropdown-item" href="/resources/resources-for-information-managers">For
                                        Information Managers</a></li>
                                </ul>
                            </li>
                            
                            <!--Support-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Support
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/support/contact-us">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="/support/frequently-asked-questions">FAQ</a></li>
                                </ul>
                            </li>
                            
                            <!--About-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    About
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/about/about-edi">EDI</a></li>
                                    <li><a class="dropdown-item" href="/about/edi-policy">Policies</a></li>
                                    <li><a class="dropdown-item" href="/about/partners-and-affiliations">Partners</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <!--Login-->
                            <li tal:condition="not is_logged_in" class="nav-item">
                                <a class="nav-link text-dark"
                                   href="https://portal.edirepository.org/nis/login.jsp">Login</a>
                            </li>
                            <li tal:condition="is_logged_in" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    User
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#"></a>Profile</li>
                                    <li><a class="dropdown-item" href="#"></a>Data Cart</li>
                                    <li><a class="dropdown-item" href="#"></a>Saved Searches</li>
                                    <li><a class="dropdown-item" href="/user/logout"></a>Logout</li>
                                </ul>
                            </li>
                        </ul>
                        
                        <!--Search-->
                        <form class="d-flex" action="/search" method="POST">
                            <input class="form-control me-2" type="search" placeholder="Search website on text"
                                   aria-label="Search" name="terms">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="logged-in" tal:condition="is_logged_in">
                <em>${common_name}</em>
            </div>
            <div class="logged-in not-logged-in" tal:condition="not is_logged_in">
            </div>
        </header>
        
        <div metal:define-slot="content" tal:omit-tag="True">No content</div>

        <!--new stop-->
        
        <div metal:define-slot="additional-js" tal:omit-tag="True"></div>
    
    </div>
</main>

<!--footer-->
<footer class="footer mt-auto">
    <!--footer-top-->
    <div class="container-fluid" style="background-color: #676c6e;">
        <div class="container px-4 py-4">
            <div class="row">
                <!--menu items-->
                <div class="col-2">
                    <h4 class="text-white">Data</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/data/publish-data" class="nav-link p-0 text-white">Publish
                            Data</a></li>
                        <li class="nav-item mb-2"><a href="https://portal.edirepository.org/nis/advancedSearch.jsp"
                                                     class="nav-link p-0 text-white">Find Data</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4 class="text-white">Resources</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/resources/resources-for-data-authors"
                                                     class="nav-link p-0 text-white">For Data Authors</a></li>
                        <li class="nav-item mb-2"><a href="/resources/resources-for-data-users"
                                                     class="nav-link p-0 text-white">For Data Users</a></li>
                        <li class="nav-item mb-2"><a href="/resources/resources-for-information-managers"
                                                     class="nav-link p-0 text-white">For Information Managers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4 class="text-white">Support</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/support/contact-us" class="nav-link p-0 text-white">Contact
                            Us</a></li>
                        <li class="nav-item mb-2"><a href="/support/frequently-asked-questions"
                                                     class="nav-link p-0 text-white">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4 class="text-white">About</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/about/about-edi" class="nav-link p-0 text-white">EDI</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/about/edi-policy"
                                                     class="nav-link p-0 text-white">Policies</a></li>
                        <li class="nav-item mb-2"><a href="/about/partners-and-affiliations"
                                                     class="nav-link p-0 text-white">Partners</a></li>
                    </ul>
                </div>
                
                <!--logo and signature-->
                <div class="d-flex col-4 offset-0">
                    <form>
                        
                        <div>
                            <h2 class="text-white">
                                <img src="/static/images/edi_logo_grey_and_white.png" alt="EDI logo" class="bi me-2"
                                     width="60"/>
                                Environmental Data Initiative
                            </h2>
                            <p class="text-white">Preserving environmental data for open and reproducible science,
                                to
                                promote synthesis across space and time, and to aid in the assessment of
                                environmental
                                change and its consequences.</p>
                            <ul class="list-unstyled d-flex">
                                <li class="ms-3"><a class="link-dark" href="https://edi-got-data.slack.com">
                                    <img src="/static/images/slack_circle.png" alt="Slack" class="bi me-2"
                                         width="45"/>
                                </a></li>
                                <li class="ms-3"><a class="link-dark"
                                                    href="https://www.youtube.com/channel/UCNZoWPaMG6lkEiH8xRNnrrA">
                                    <img src="/static/images/youtube_circle.png" alt="YouTube" class="bi me-2"
                                         width="45"/>
                                </a></li>
                                <li class="ms-3"><a class="link-dark" href="https://twitter.com/EDIgotdata">
                                    <img src="/static/images/twitter_circle.png" alt="Twitter" class="bi me-2"
                                         width="45"/>
                                </a></li>
                                <li class="ms-3"><a class="link-dark" href="https://github.com/EDIorg">
                                    <img src="/static/images/github_circle.png" alt="GitHub/EDIorg" class="bi me-2"
                                         width="45"/>
                                </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--footer-bottom-->
    <section>
        <div class="container-fluid" style="background-color: #a8b3b8;">
            <div class="container px-4 py-4 justify-content-center">
                <div class="footer-bottom">
                    <!--affiliations-->
                    <p>The Environmental Data Initiative is proud to be affiliated with the following
                        organizations:</p>
                    <a href="https://datacite.org/"><img src="/static/images/datacite-logo.png" alt="DataCite logo"></a>
                    <a href="https://www.dataone.org/"><img src="/static/images/dataone-logo.png"
                                                            alt="DataONE logo"></a>
                    <a href="https://www.esa.org/"><img src="/static/images/esa-logo.png" alt="ESA logo"></a>
                    <a href="https://www.esipfed.org/"><img src="/static/images/esip-logo.png" alt="ESIP logo"></a>
                    <a href="https://lternet.edu/"><img src="/static/images/lter-logo.svg" alt="LTER Network logo"></a>
                    <a href="https://www.neonscience.org/"><img src="/static/images/neon-logo.png" alt="NEON logo"></a>
                </div>
            </div>
        </div>
    </section>
</footer>

</body>
</html>
